[2021-09-07 11:11] drishtirai opened #620 "bug"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

CloudEvent is a JSOn object in Dapr. So, this feature would only be applicable for the data part of the pubsub event.

RELEASE NOTE:

[2021-09-07 11:21] drishtirai opened #621 "Proposal"
## Describe the proposal
It would be fantastic if the Dapr Java SDK came with pre-configured or easily customizable mock implementations for commonly used things like DaprClient and ActorClient to make unit and integration testing easier.

It would also be wonderful if the protocol HTTP/gaps could be set during testing for ActorClient so that an in-memory fake HTTP web server could be used instead

[2021-09-07 11:40] drishtirai opened #622 "Proposal"
## Describe the proposal
If you're using Kubernetes, you may add Dapr to your cluster to get the most out of it: https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-overview/

The helm chart is what I use.

If you wish to use dapr in your Docker image for any reason, you must first download and install it in your runtime environment (e.g.: run wget or curl, and extract it)

[2021-09-07 19:23] drishtirai opened #623 "bug"
## Expected Behavior

Your Dockerfile indicates you're using the openjdk image and expecting Dapr to be in it, which it isn't .

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-09-07 19:30] drishtirai opened #624 "proposal"
## Describe the proposal
I am OK to keep it as a proposal given the change in the build plugins.

I like this proposal. Please, create a PR for this. Be mindful that there is another PR open to refactoring the Pom files.

[2021-09-10 02:16] artursouza commented on #615
How is this issue related to Dapr?

[2021-09-10 02:17] artursouza commented on #616
Duplicate of #615

[2021-09-10 02:17] #616 closed

[2021-09-10 02:17] artursouza commented on #617
Duplicate of #615

[2021-09-10 02:17] #617 closed

[2021-09-10 02:18] artursouza commented on #618
Duplicate of #615

[2021-09-10 02:18] #618 closed

[2021-09-10 02:20] artursouza commented on #619
Duplicate of #549, including copy and pasting the text.

[2021-09-10 02:20] #619 closed

[2021-09-10 02:21] artursouza commented on #620
Just spam.

[2021-09-10 02:21] #620 closed

[2021-09-10 02:21] artursouza commented on #624
Spam.

[2021-09-10 02:21] #624 closed

[2021-09-10 02:22] artursouza commented on #623
Spam.

[2021-09-10 02:22] #623 closed

[2021-09-10 02:22] artursouza commented on #621
Spam.

[2021-09-10 02:22] #621 closed

[2021-09-10 02:22] artursouza commented on #622
spam.

[2021-09-10 02:22] #622 closed

[2021-09-10 02:26] artursouza commented on #615
The other issues created by this user were copy and paste from other issue descriptions or comments, or simply duplicate of this one. I am closing this issue as SPAM as well.

[2021-09-10 02:26] #615 closed

[2021-09-10 02:31] mukundansundar opened #625 "Remove Deprecated Builder Classes"
## Describe the proposal
Remove builder classes that were deprecated in v1.3.0 of Java SDK. To be done in Milestone v1.5 of Java SDK.

[2021-09-10 02:36] mukundansundar commented on #625
duplicate of #601

[2021-09-10 02:36] #625 closed

[2021-09-10 02:44] artursouza opened #626 "Deprecate Java 8 support and move to Java 11"
## Describe the proposal

Since we already have multiple releases of this SDK supporting Java 8, can we migrate to Java 11 as the minimum JDK version?

This might allow us to migrate to the native HTTP client and move out of OKHTTP, for example.
Also, we might consider adopting newer features available in the newer Java language version.

Please, vote with 👍 or 👎

[2021-09-10 02:46] artursouza commented on #608
It is where we are downloading our dependencies from.

[2021-09-10 02:51] mukundansundar commented on #600
This needs a change in dapr/cli before this can be picked up.

[2021-09-10 02:52] #614 closed

[2021-09-10 03:52] tiankanghello opened #627 "How to set the validity period of the saveState method"
n the provided java sdk, how should I set the expiration time of the state?

[2021-09-10 07:02] mthmulders commented on #600
I believe domain socket support was added to Java in version 16 with [JEP-380](https://openjdk.java.net/jeps/380). As a consequence, if we want to support older versions of Java as well, we should have a fallback strategy to HTTP or gRPC.

[2021-09-10 08:51] mthmulders commented on #626
In a few days from now, Java 8 will officially be *two* LTS releases behind. I think the case of replacing OkHttp with the native HTTP client is a good example of the "price" we would pay if we decide to keep on supporting Java 8.

I would be in favour of investigating if the native HTTP client is a suitable replacement for OkHttp. If so, I would vote to drop Java 8 support and set 11 as our new b

[2021-09-10 22:46] artursouza opened #629 "Do you want to be a maintainer?"
We are looking into new maintainers for this repository. The [community guidelines](https://github.com/dapr/community/blob/master/community-membership.md) explains the 3 different stages: member, approver and maintainer. If you have interest in graduating through these stages, please, ping me (`artursouza`) in our Discord channel.

[2021-09-13 10:38] tiankanghello opened #630 "When I use sdk to publish and subscribe, my subscription is not available, and no error is reported. What problems can cause this phenomenon"
my code is
@RestController
public class MessageSubscriberController {
    /**
     * Handles a registered publish endpoint on this app.
     * @return A message containing the time.
     */
    @Topic(name = "app_create", pubsubName = "pubsub")
    @PostMapping(path = "/app_create")
    public Mono<Void> handleMessage(@RequestBody(required = false) byte[] body) {
        return Mono.fromRunnable((

[2021-09-13 10:56] #577 closed

[2021-09-13 10:57] #613 closed

[2021-09-16 05:20] artursouza commented on #630
Do you have Spring configured correctly for your app? Is it listening to a port?

[2021-09-16 05:22] artursouza commented on #626
No. This replacement would be a follow up on this issue. This would be good data to have to decide on replacing it. If there is a performance penalty, might be worth keeping the OkHTTP dependency.

[2021-09-16 06:25] #630 closed

[2021-09-16 06:28] artursouza commented on #627
It is done via the `ttlInSeconds` metadata for supported databases: https://docs.dapr.io/developing-applications/building-blocks/state-management/state-store-ttl/

[2021-09-16 06:28] #627 closed

[2021-09-21 08:22] mthmulders commented on #626
What kind of setup would we need to gather those benchmarks?

How about this?

1. a default nginx setup that serves a static response (can even be straight from memory) so we have as little delay on the "server" as possible
1. run [ab](https://httpd.apache.org/docs/2.4/programs/ab.html) to have an idea of how fast that webserver can go
1. run an OkHttp-based Java program to measure how fast that c

[2021-09-22 14:43] beiwei30 commented on #602
I like @johnou's idea to use animal sniffer to guard API compatibility, and made a quick change just now. @artursouza @johnou pls. review it.

[2021-09-22 15:07] johnou commented on #626
How about turning DaprHttp into an interface, creating two implementations, okhttp and "native" jdk 11 http client then writing / running a performance test using actors with jmh?

[2021-09-27 10:53] tony-shi opened #693 "Typo in Dapr Java SDK website"
**URL of the docs page**

Website URL as ``https://docs.dapr.io/developing-applications/sdks/java/``
Source code in Git URL as ``https://github.com/dapr/java-sdk/blob/d3df194bad3826069b7c9cda5178196e92dacad1/daprdocs/content/en/java-sdk-docs/_index.md``

**How is it currently worded?**

[code]
**How should it be worded?**

[code]
**Screenshots**

<img width="1211" alt="截屏2021-09-27 下午6 55 05" src=

[2021-10-04 12:39] javageek79 opened #638 "Spring security context added as additional http header to http request via service invocation"
## Expected Behavior

During service invocation, we are affected by [#3408](https://github.com/dapr/dapr/issues/3408#issuecomment-930357810). This is mainly because the entire spring security context is added as a header to the request. In our case, this exceeds the default allowed header size for fasthttp requests.
As the service beeing called has no secured endpoint in this case, the  security c

[2021-10-04 12:44] stefanJ-hub commented on #638
is there actually a reason why the spring security context is added as header to the service invocation?
(i do not see a reason here)

as @javageek79  mentioned - if this can not be "simply" dropped; would be good if we can at least toggle it off.

if you know some mediation approaches (that can be applied just now) - to have the security context NOT passed into the service invocation - we would b

[2021-10-04 17:53] artursouza commented on #638
Is the Spring security context coming from the frontend calling into the backend and then Dapr sidecar? I would like to understand the flow.

[2021-10-04 21:12] javageek79 commented on #638
Hi @artursouza, yes, the flow is as follows
"public" REST API -- spring security -> Service A -- dapr service invocation -> Service B

[2021-10-05 02:28] artursouza commented on #638
I am working on an integration test to repro this. Thanks.

[2021-10-07 21:35] greenie-msft opened #639 "Finish Actors Docs"
At the moment, Actors is unfinished in the Java SDK docs: https://docs.dapr.io/developing-applications/sdks/java/#actors

The only example it shows is an actor interface for "DemoActor".

As a Java developer interested in Actors via the SDK, I expect to see an example of DemoActor implementation and an example of a client calling the methods on the DemoActor.

[2021-10-07 21:39] artursouza commented on #639
See README as an example: https://github.com/dapr/java-sdk/tree/master/examples/src/main/java/io/dapr/examples/actors

[2021-10-11 22:23] artursouza opened #641 "Add API in DaprClient to invoke HTTP natively"
## Describe the proposal
Dapr has a way to invoke HTTP endpoints without changing code, still, the SDK can provide an easy way to make an HTTP invocation in Java. This new solution simply invokes the endpoint with the same path as the web service expects to receive, but going through Dapr's endpoint.

This API must be HTTP specific and does not depend on the user selecting HTTP or gRPC client impl

[2021-10-12 00:23] artursouza commented on #638
@javageek79 PR is merged, please try using the SDK version 1.4.0-SNAPSHOT

[2021-10-15 00:22] artursouza commented on #597
I think this issue can be solved if we remove CloudEvent from the equation. For example, if the subscriber receives the object directly - similar to how is done in the .Net SDK. Something like this:

[code]

[2021-10-15 09:20] TomCools commented on #569
Got dragged away by other resposabilities. Should have it nearly finished, but sick at home at the moment.
Will try to push this next wednesday.

[2021-10-25 03:56] owenwong520 opened #646 "Java cannot specify httpEndpoint. It is recommended to increase."
## Describe the proposal
Dotnet sdk class DaprClientBuider have UserHttpEndpoint method. Specify http terminal.

There is no similar method for java sdk. This method can facilitate business debugging.

Dotnet code：

[code]
I hope the Java SDK also has this method.

（java sdk 里没有找到指定服务器地址的方法，在本地调试不能调用另一台电脑的部署的服务。）

[2021-10-25 06:35] mthmulders opened #647 "Distributed tracing doesn't work"
## Expected Behavior
I have a setup with three services: **service-a**,  **service-b** and **service-c**.
When I fire an HTTP request on  **service-a**, **service-a** should invoke  **service-b**, which in turn should invoke  **service-c**.

When I inspect Zipkin, I would expect the one HTTP request that I fired to show as a span of traces.

## Actual Behavior

The service invocation from  **servi

[2021-10-29 21:51] #608 closed

[2021-10-30 19:54] willtsai commented on #218
I have made an investigation pass into this issue and have the following findings:
* A constant called SIDECAR_IP has since been added as a part of https://github.com/dapr/java-sdk/pull/333/, which is implemented to detect the sidecar's IP address by inspecting the system properties via a call to Properties.SIDECAR_IP.get() that looks for the sidecar's IP using this logic: first try to get system

[2021-11-09 09:04] mthmulders opened #650 "First-class distributed tracing"
Over the past weeks, I've been struggling [to get distributed tracing to work](https://github.com/dapr/java-sdk/issues/647).

My observation is that a Java application that uses the Dapr SDK for Java does not propagate the `traceparent` HTTP-header from a call it receives _from_ the sidecar back _to_ the sidecar (e.g. one that does `invokeMethod` or `publishEvent`).

Looking at the code, I think t

[2021-11-09 15:41] MoeweX opened #651 "Actor unregisterReminder is not working"
## Expected Behavior

When I call unregisterReminder I expect the reminder to be unregistered.

## Actual Behavior

The reminder is not unregistered. This is visible from the statestore (Redis in my case) and from the logs, i.e., reminder continues to be triggered

## Steps to Reproduce the Problem

[code]

I updated the Actor example for easier reproducibility, the changes are visible here: https

[2021-11-09 19:07] dmitsh opened #652 "add support for TTL and time interval format in actor timers/reminders"
## Describe the proposal

This feature in implemented in dapr runtime: https://github.com/dapr/dapr/issues/2906

It should be added to the SDK.

Once implemented, it will also resolve https://github.com/dapr/java-sdk/issues/569

[2021-11-09 19:10] dmitsh opened #653 "add support for statestore query API"
## Describe the proposal
This feature is implemented in dapr runtime: https://github.com/dapr/dapr/issues/3662

It should be available in the SDK

Also, add integration test validating this feature in SDK.

[2021-11-09 19:34] artursouza commented on #653
Because this API is in alpha, it should probably be in a separate (new) client interface.

[2021-11-10 05:10] artursouza commented on #641
As per my discussion with @mukundansundar

The new way to invoke HTTP endpoint gives an advantage to apps not using the SDK, for this reason, making this available in the SDK does not create additional value since the details on the HTTP call are already hidden in the current API.

Closing this.

[2021-11-10 05:10] #641 closed

[2021-11-10 07:51] MoeweX commented on #651
Did not treat Mono properly, works now

[2021-11-10 07:51] #651 closed

[2021-11-10 08:59] sahansera commented on #510
Hi @artursouza I'm keen to look into this. Could you kindly assign this task to me please? In the meantime, I'm happy to spend some time investigating different strategies in running Jazzer against the Dapr Java SDK code base and write down my thoughts here before raising a PR first. Thank you!

[2021-11-10 17:16] lullen commented on #546
I started to look into the http implementation today and it seems like that this issue also exists for http as you cant access the headers of the response.

How can I solve this? I am trying do do 1. in this artical:
https://docs.dapr.io/developing-applications/building-blocks/observability/w3c-tracing/w3c-tracing-overview/#you-need-to-propagate-or-generate-trace-context-between-services

[2021-11-11 05:33] lullen commented on #647
To get it to work, you need to

`var result = daprClient.invokeMethod(
                    "service-c",
                    "endpoint",
                    "hello from service b",
                    HttpExtension.POST,
                    Void.class
            ).subscriberContext(context -> context.put("traceparent", traceParent));`

But as you will notice this only fixes a->b->c but if you then

[2021-11-11 11:19] mukundansundar commented on #653
/assign

[2021-11-11 13:47] dmitsh commented on #653
Thank you @mukundansundar for taking over this issue.
If that could help, I put together a corresponding PR for go-sdk: https://github.com/dapr/go-sdk/pull/216

[2021-11-12 05:10] artursouza commented on #653
https://azure.github.io/azure-sdk/java_introduction.html#java-models-builder

[2021-11-12 22:37] artursouza commented on #650
I am open to make this integration as easy as possible. Have you checked the current example showing how to accomplish this with the current version of the SDK? https://github.com/dapr/java-sdk/tree/master/examples/src/main/java/io/dapr/examples/tracing

I would love to get more details on what "easy" would look like. I have a feeling it will fall into the spring boot part of the SDK since that is

[2021-11-12 22:38] artursouza commented on #647
I am open to make this integration as easy as possible. Have you checked the current example showing how to accomplish this with the current version of the SDK? https://github.com/dapr/java-sdk/tree/master/examples/src/main/java/io/dapr/examples/tracing

I would love to get more details on what "easy" would look like. I have a feeling it will fall into the spring boot part of the SDK since that is

[2021-11-12 22:42] artursouza commented on #646
The Java SDK abstracts the gRPC and HTTP protocol (except the service invocation). So, if you need to connect to a different sidecar endpoint, use the Java properties in this file: https://github.com/dapr/java-sdk/blob/05bf66e0d4964b6588e8c5865c7902c53c89d636/sdk/src/main/java/io/dapr/config/Properties.java#L56

This is the "Java way" to provide configuration. The Java SDK is not necessarily a 1-1

[2021-11-12 22:42] #646 closed

[2021-11-13 11:04] mthmulders commented on #647
I am still trying to get it to work, based on your remarks here and on Discord, and those in #647.

[2021-11-15 07:04] lullen commented on #650
I do not think we should put too much into the spring boot part as many use alternatives to spring boot or even grpc. I think the spring boot would just apply the last glue code but we should make it easier to do this manually for everyone.

What would be easier? (without much thought of consequences)
One option would be to add helper methods to DaprClientBuilder like `new DaprClientBuilder().with

[2021-11-16 08:16] Giovds commented on #652
I would like to give this one a shot if no one is currently working on it.

[2021-11-16 08:43] Juliandb1708 commented on #626
To investigate if the Java HTTP client is a suitable replacement for OkHttp in terms of performance, I created a benchmark setup. For the setup I followed the suggestions of @mthmulders  and @johnou. The setup is as follows:

1. default nginx webserver that serves a static JSON response
2. run ApacheBench to have an idea of how fast that webserver can go (2000 requests)
3. run Java program with JM

[2021-11-16 09:24] mthmulders commented on #647
Thanks for all the pointers, both here and on Discord. I got it working correctly, and the traces show up nicely in Zipkin, too
![image](https://user-images.githubusercontent.com/430114/141957648-8a7926e2-a9be-4770-93e4-148a4e62aa63.png)

There were two missing links in my setup:
1. Each application did not propagate the trace it received from the sidecar back to the sidecar when it did an upstrea

[2021-11-17 16:05] MoeweX opened #656 "Actor is permanently blocked when registering reminders with MongoDB"
## Expected Behavior

When I ask an actor to register multiple reminders, I want him to register all these reminders.

## Actual Behavior

The actors stops doing anything after the first reminder registration. This also blocks the application that invoked the actor's method for reminder registration.  After a couple of minutes, an exception appears that also kills the application, see output: The

[2021-11-17 18:53] mthmulders commented on #650
Totally agree! In the Java world, Spring is one of many choices, and I don't think Dapr should "push" developers to use one framework or another.

That sounds like a good thing. Manually passing on / creating tracing contexts is error prone and could easily be overseen. I was thinking maybe we could even have a "tracing context enricher" or something similar. That would be a strategy that the Dapr

[2021-11-17 22:57] Giovds commented on #652
/assign

[2021-11-18 07:16] lullen commented on #650
Just to clarify, I am perfectly fine with dapr pushing people to use spring as it is the most common framework but it is important that spring isn't the only framework available.

Having a tracing context enricher sounds like a good way forward. Adding an extra overload will make the api harder to use, as you said, so I am not in favor of doing that.

Not sure I follow here. When wouldn't you want

[2021-11-19 04:37] mukundansundar commented on #255
@VermaNishant978 are you still working on this? Can we get an ETA for this?

[2021-11-19 10:56] mthmulders commented on #650
I was thinking about a situation where you would invoke the `DaprClient` *while* starting a new span within the current trace. In that case, a global "tracing context enricher" would not be sufficient, as the invocation of the DaprClient was supposed to start a new span.

However, I think we shouldn't allow for that. Starting a span is specific to which tracing framework you use (e.g. OpenTelemetr

[2021-11-21 13:48] mthmulders commented on #650
@artursouza, this issue was supposed to be a proposal, not a question. The question is in #647 (which is now answered). Could you please label this issue as "proposal" instead?

[2021-11-23 20:12] mthmulders commented on #650
Good news - I was able to get distributed tracing to work with Dapr & Spring Sleuth, too. Even better, I can make that fit in the same structure as the one that is used with OpenTelemetry: a `Function<reactor.util.context.Context, reactor.util.context.Context>`.

Since Sleuth auto-populates the Reactor `Context` with the Sleuth `TraceContext`, the "tracing context enricher" could be a singleton -

[2021-11-23 22:42] dmitsh opened #659 "add support for Configuration API"
The Configuration API feature has been implemented in Dapr runtime: https://github.com/dapr/dapr/pull/3606
It needs to be accessible via the SDK.

[2021-11-30 10:00] ansjsun opened #660 "why metadata not use inf this function"
https://github.com/dapr/java-sdk/blob/05bf66e0d4964b6588e8c5865c7902c53c89d636/sdk/src/main/java/io/dapr/client/AbstractDaprClient.java#L100

public <T> Mono<T> invokeMethod(String appId, String methodName, Object data, HttpExtension httpExtension, Map<String, String> metadata, TypeRef<T> type) {
        InvokeMethodRequest req = (new InvokeMethodRequest(appId, methodName)).setBody(data).setHttpEx

[2021-12-01 10:42] mukundansundar commented on #656
@artursouza Based on the description, I think this needs to be moved to the components-contrib repo.

[2021-12-01 15:56] MoeweX commented on #656
I am fine with it being transferred, but I do not have the rights for this: https://docs.github.com/en/issues/tracking-your-work-with-issues/transferring-an-issue-to-another-repository

[2021-12-01 22:06] artursouza commented on #660
This method should be deprecated. The metadata does not make sense because it is not a concept in service invocation. Service invocation is protocol specific and we cannot abstract both gRPC and HTTP into a common interface.

I would also suggest we deprecate all invokeMethod methods and make it HTTP specific methods instead, so applications know this is an HTTP only call.

For gRPC, Dapr already

[2021-12-01 22:08] rahulpoddar-fyndna opened #661 "Dapr health check response code"
We are deploying our application service enabled with dapr on to google cloud using GKE. This is multicluster deployment with global load balancer. With the we also have to configure the end point for health check in MultiClusterService from google.
It expects the http response code of 200  from dapr health check url /v1.0/healthz. However as per specification the dapr returns http response code o

[2021-12-01 22:16] #661 closed

[2021-12-01 22:16] rahulpoddar-fyndna commented on #661
Closing this as it is created in wrong repo. Will create in dapr/dapr

[2021-12-02 02:45] lysilver opened #662 "Why can't inter service calls pass through headers?"
## Ask your question here
![image](https://user-images.githubusercontent.com/44791098/144347688-731f9426-93db-417c-8f54-6429864288df.png)

[code]

throw new UnsupportedOperationException();

Is it the calling problem of my code or the original design

[2021-12-02 10:33] pravinpushkar commented on #659
/assign

[2021-12-03 05:18] ansjsun commented on #660
thx for reply .

[2021-12-03 05:18] #660 closed

[2021-12-03 06:29] sahansera commented on #510
I have created a sample [repo](https://github.com/sahansera/DaprJazzerTest) to test out a path that we could potentially use for this using their [autofuzz](https://github.com/CodeIntelligenceTesting/jazzer#autofuzz-mode) mode using Docker.

**Some observations**
- I selected the `DaprClientBuilder` class along with its `withObjectSerializer` & `withStateSerializer` methods
- Jazzer requires the f

[2021-12-07 14:05] stliu commented on #509
totally agree, we have run into many dependencies issues caused by the hard dependency of jackson, you can find more here https://github.com/Azure/azure-sdk-for-java/issues?q=is%3Aissue+jackson, and azure sdk is planning to remove it https://github.com/Azure/azure-sdk-for-java/issues/24480

meanwhile, you may also consider this https://github.com/Azure/azure-sdk-for-java/issues/24530

[2021-12-08 03:46] mukundansundar opened #665 "Update copyright information in each file to Apache 2.0"
## Describe the proposal
The licenses in each Dapr repo are transitioning to Apache 2.0. As part of this transition, copyright information at the top of each file needs to be updated from:
[code]
to
[code]

[2021-12-09 02:37] artursouza opened #667 "Remove Hashicorp Vault from Secret Store example"
## Describe the proposal

There was a change in Hashicorp Vault output that broke the example validation. Instead, use the local file secret store so there is no need to install Hashicorp Vault anymore.

This work needs to make sure the instructions in the README.md file for the example is reworded to explain how the secret is retrieved. In addition, it should point to the documentation in Dapr do

[2021-12-09 14:45] #665 closed

[2021-12-09 20:10] artursouza commented on #626
This is excellent work @Juliandb1708. I think we the perf difference does not justify adding a (potential) dependency conflict to the applications consuming this SDK. Thoughts?

Vote 🎉  here to use Java HTTP Client.
Vote 🚀  here to keep OkHTTP client.

[2021-12-20 19:40] artursouza commented on #650
This is an interesting proposal. Will any of the implementations have any Dapr specific logic? We might be OK to make Dapr SDK offer the interface but not offer any implementation - except in examples. This was the original intent for the DaprObjectSerializer interface but we ended up adding a default implementation - which I regret at this point because people tend to depend on that and our code

[2021-12-30 08:18] artursouza commented on #218
I've just looked at the current code in master for runtime and this is the default behavior of the sidecar:
+ Standalone mode: listen to all addresses
+ K8s mode: listen to [::1],127.0.0.1

So, this approach is fine as of now. Let's keep it. User can override this setting if he/she decided to override the default listen ports.

[2021-12-31 01:51] javahwh commented on #588
I also encountered this problem. How to solve it?

[2021-12-31 10:58] mthmulders commented on #588
Have you tried building from a [Rosetta-enabled terminal](https://www.courier.com/blog/tips-and-tricks-to-setup-your-apple-m1-for-development/)? I would guess that the osx-x86_64 gRPC compiler should work, there.

[2022-01-03 18:54] willtsai commented on #218
@artursouza - awesome, thanks for looking into this. I'd like to confirm here before proceeding:
1. Are you saying that the approach of setting DEFAULT_SIDECAR_IP to the loopback address via `InetAddress.getLoopbackAddress()` is fine?
2. Or are you thinking we need to set DEFAULT_SIDECAR_IP to the localhost address via `InetAddress.getLocalHost()`?

Given the default behavior of the sidecar you've

[2022-01-12 04:18] artursouza commented on #652
@Giovds I am moving this to the next release. Please, let me know if you need any help to close on this one.

[2022-01-12 23:17] artursouza opened #671 "Add java docs to io.dapr.client.domain"
## Describe the proposal

Many of the domain objects don't have Java Docs. Add to public classes and methods.

[2022-01-14 11:59] pravinpushkar commented on #671
/assign

[2022-01-17 05:18] pravinpushkar commented on #671
/assign

[2022-01-17 09:11] pravinpushkar commented on #671
/assign

[2022-01-19 13:43] MoeweX opened #675 "PublishEventRequest metadata fields do not reach the pubsub.azure.servicebus component"
## Expected Behavior

When we set metadata fields on a PublishEventRequest field, they should be received and processed by the pubsub.azure.servicebus component.

## Actual Behavior

It seems like the fields are set properly (when we log the PublishEventRequest object before publishing it we can see them), but they do not reach the component (visible when inspecting the events in the Azure Portal)

[2022-01-20 09:57] MoeweX commented on #675
We digged some deeper into this and found a lot of undocumented errors that prevented us from using it, e.g.,
1. use wrong date format -> message appears immediately -> property is not shown
2. use date in past  -> message appears immediately -> property is visible
3. use date too far in future -> message appears nowhere -> gives the impression, nothing worked
4. typo in property name ->  -> messa

[2022-01-21 19:43] jjcollinge commented on #675
Thanks for digging into this, I'll see if we can make this a little easier 👍.

[2022-01-25 05:24] mukundansundar opened #678 "Automatically have Dapr-bot draft release for newly created release tags"
## Describe the proposal
Similar to dapr/dapr, dapr/cli repos and other repos in Dapr org, have Dapr-bot automatically draft a new release off of the new release tag vMajor.Minor.Patch.

Modify the existing workflow file to accomplish this.

RELEASE NOTE: Automatically draft new release from published tags of release version of SDK

[2022-01-26 00:22] willtsai commented on #218
**Update:** After reading your feedback again @artursouza I've gone ahead with Option 1 using `InetAddress.getLoopbackAddress()` - please see https://github.com/dapr/java-sdk/pull/649 for latest implementation.

[2022-01-26 09:00] dntbeSris commented on #667
/assign

[2022-01-26 09:01] dntbeSris commented on #667
/assign

[2022-01-26 10:15] #647 closed

[2022-01-26 22:45] Giovds opened #681 "Inconsistent behaviour between docs and implementation in Actor Timers and Reminders"
While implementing #658 (Adding support for TTL and intervals) I possibly came across some inconsistency with the documentation on Actor Timers and Reminders.

## Expected Behavior

The `dapr-sdk-actors` implementation - the `AbstractActor` class which a client inherits for their own Actor implementation, to be more specific - matches the documentation. Or of course, vice-versa, the documentation

[2022-01-27 10:52] mukundansundar commented on #681
The lines in the actor implementation in Dapr. seem to make that `dueTime` is indeed optional ... https://github.com/dapr/dapr/blob/master/pkg/actors/actors.go#L1009-L1015
Wherein when due time is not given, `now` is taken as a the value.

@artursouza I think this might be something that would need to change in Java SDK ... Any thoughts ?

[2022-01-27 11:00] #671 closed

[2022-01-27 22:27] artursouza commented on #681
Yes, the Java SDK should match the expectation in runtime.

[2022-01-28 02:07] mukundansundar commented on #681
My proposal is add  new method signatures that does not require optional parameters. And keep the existing method as such. This will not break existing users of this feature.

[2022-01-28 08:43] mukundansundar commented on #681
@Giovds Will you be interested in working on this?

[2022-02-01 06:00] shubham1172 commented on #681
FYI, the .NET SDK [Actor.cs](https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Actors/Runtime/Actor.cs) handles `dueTime` and `period` without default values like the following:
[code]

If we go for method overloading, we won't be able to support the case above where `dueTime` is -1, i.e. timer never starts. However, this functionality is not documented here https://docs.dapr.io/reference/ap

[2022-02-01 23:23] artursouza opened #682 "Rewrite gRPC service invocation example"
## Describe the proposal

Take the existing service invocation example and rewrite it to use the gRPC proxy approach instead:

https://github.com/dapr/java-sdk/tree/master/examples/src/main/java/io/dapr/examples/invoke/grpc

https://docs.dapr.io/developing-applications/building-blocks/service-invocation/howto-invoke-services-grpc/

[2022-02-02 05:40] mukundansundar commented on #681
I like the option of having the user explicitly setting the value to Zero. This makes sure that the user knows that he is setting it to zero and also we do not have an implicit value and behaviour which is only available in the documentation.

[2022-02-02 05:41] mukundansundar commented on #681
//cc @artursouza Any comments?

[2022-02-02 19:07] artursouza commented on #681
I agree with the builder pattern proposed above.

[2022-02-02 21:21] Giovds commented on #681
@mukundansundar I am currently working on some other stuff as well, but I might give it a go if it is still an open issue by the time I am done. In the meantime, if anyone wants to give it a go feel free to do so - might even be a decent up-for-grabs.

[2022-02-04 19:35] subash89 opened #683 "Enhance DaprClientBuilder to override gRPC and Http Client"
The gRPC client and http client creation inside DaprClient is not flexible to outside users. For example when creating a grpc client, all the impactful configuration resides inside grpc ManagedChannel where you can set a sizable executor pool, timeouts etc. Same with OkHttpClient.

I locally made changes to cater this requirement. Following is the final look from the dapr client builder point of v

[2022-02-05 15:06] mthmulders commented on #683
The fact that Dapr completely configures and manages the underlying OkHttpClient and gRPC client also prevents frameworks like Spring, OpenTelemetry etc. to do automatic instrumentation of those clients. I guess that being able to configure a `DaprClient` with an underlying client provided by the user might also make distributed tracing a lot easier....

[2022-02-09 13:35] jakesmolka opened #687 "Java SDK okhttp dependency version wrong"
**Describe the issue**

https://docs.dapr.io/developing-applications/sdks/java/ states

[code]

but the given version of dependency is old and not available on maven central. Therefore the given info is wrong and an obstacle for new users.

**URL of the docs**

https://docs.dapr.io/developing-applications/sdks/java/

**Expected content**

A correct version for the dependency. For instance, like me

[2022-02-14 17:21] dmitsh opened #685 "state store query API: validate changes in the syntax of query JSON"
Per work items below, the syntax of the state query JSON has been slightly changed, to make it more intuitive:
https://github.com/dapr/components-contrib/issues/1490
https://github.com/dapr/components-contrib/pull/1491
https://github.com/dapr/components-contrib/pull/1500
https://github.com/dapr/docs/pull/2195

Please validate this change in the SDK, and fix if necessary.

[2022-02-14 19:56] Giovds commented on #652
@artursouza (or someone else of course) I seem to be a bit stuck and could use some help to close this PR. Not sure what the best way is to reach out?

[2022-02-15 09:22] yschneider-bosch opened #686 "Long values are not sent correctly with PubSub"
## In what area(s)?

## What version of Dapr?

1..5.0

## Expected Behavior

Events with Long values are sent and received correctly.

## Actual Behavior

Large long values are slightly different when received by the consumer. For example when the value 590518626939830271 is sent, the event received by the consumer has the value 590518626939830300.

## Steps to Reproduce the Problem

The pubsub ex

[2022-02-17 14:05] pratik2247 opened #688 "Java SDK - Connect to Specific DaperClient"

[2022-02-17 21:50] a377965 opened #692 "PUB/SUB Error in Subscription Sidecar"
I am running DAPR in Azure AKS using Azure Service Bus.  I have a service which it using grpc and stores state in a Redis instance in AKS.  This same client also publishes a topic on an ASB / Namespace topic.  The message appears to be sent successfully

A client which is set up to process the message from the subscription on the topic is emitting the following error  :

time="2022-02-17T21:24:46.

[2022-02-19 13:30] mukundansundar commented on #685
related to #653

[2022-02-19 13:30] mukundansundar commented on #685
/assign

[2022-02-23 07:01] bhljay opened #689 "pub/sub running question"
can we run my **subscribe** application in local machine and at the same time sidecar is running on remote machine

publish application is working  when use the following code,
		System.setProperty("dapr.sidecar.ip","*****");
		System.setProperty("dapr.http.port","3500");
		System.setProperty("dapr.grpc.port","5001");
but i do not know how to run my subscribe application

[2022-02-23 07:32] mthmulders commented on #689
I think this is (also) covered in #688. My TL;DR: Dapr is not designed to have the sidecar running on a different machine than the application it serves.

[2022-02-23 14:09] wmeints commented on #688
I was discussing this type of issue with a colleague and we're wondering why you'd want this sort of thing.
Can I ask why you'd want to run the dapr sidecar on a different machine?

[2022-02-23 16:05] yschneider-bosch opened #691 "Dapr Invoke Method has very low throughput compared to calling API directly"
## Expected Behavior

invokeMethod sends requests asynchronously and parallel. The number of connections, threads etc can be configured. The performance should match calling the api endpoint directly.

## Actual Behavior

We have started investigating as we noticed that under load, requests are processed almost sequentially, leading to very long processing time if the target method takes long time

[2022-02-23 16:05] yschneider-bosch opened #709 "Dapr Invoke Method has very low throughput compared to calling API directly"
## Expected Behavior

invokeMethod sends requests asynchronously and parallel. The number of connections, threads etc can be configured. The performance should match calling the api endpoint directly.

## Actual Behavior

We have started investigating as we noticed that under load, requests are processed almost sequentially, leading to very long processing time if the target method takes long time

[2022-02-23 20:22] artursouza commented on #683
First, we plan to remove dependency on OKHTTP to avoid version conflicts with Spring and other popular frameworks. So, making that as part of the SDK contract would be going in the other direction.

Regarding gRPC managed channel, that could be interesting. Although I would probably create a new builder class to keep the existing one protocol neutral.

[2022-02-23 20:50] artursouza commented on #689
It is possible to run Dapr sidecar in a different host than the application. On the other hand, it is not possible to configure the sidecar to callback into another endpoint that is not localhost. You would need to setup some sort of reverse proxy next to the sidecar to redirect localhost:<app port> to the <app's ip>:<app port> - you can try with SSH tunnel to being with.

[2022-02-23 21:55] a377965 commented on #692
@artursouza , I am not sure this is resolved as I am getting a stack overflow error in my application logs using the version 4.9.0 of OKHTTP3 which was using in this post: https://github.com/dapr/java-sdk/issues/687

Is there a recommended version I can use that you know of that is compatible?  My managed version is 3.14.9 which does not work but doesn't throw a stack over flow message.

[2022-02-24 15:16] ittays opened #694 "spring-boot: Using @Topic annotation reads the path from methods' @PostMapping, ignoring class-level @RequestMapping"
## Expected Behavior

When annotating a controller with `@RequestMapping` and a method with `@PostMapping`  actual HTTP path is the combination of both.

So, when annotating the method with `@Topic` I expect it to map the topic with the full path.

## Actual Behavior

The topic is mapped with a truncated path, which is only the `@PostMapping` value.
Publishing to the topic constantly fail, as path

[2022-02-24 16:50] a377965 commented on #692
@artursouza and @yaron2
I have found a working version of OKHTTP3 (4.8.1) and used it in both my PUBLISH and SUBCRIPTION services, and I am NO longer using the gRPC client in the PUBLISH (the SUBSCRIBER never was using gRPC).

But the original matters continues to occur and I am seeing this message in the SIDECAR logs for the SUBSCRIPTION service:
time="2022-02-24T16:29:22.268053262Z" level=error

[2022-02-24 17:42] yaron2 commented on #692
I'm kind of bewildered by what's going on here :)

Can you confirm your subscriber endpoint does nothing more than return a response to Dapr?

[2022-02-24 18:18] a377965 commented on #692
yaron2...its still the JAVA CODE above posted on February 21 2022.

Interestingly observation, I was adding the debug k8s annotation to my PUBLISHER to see if anything interesting was being logged in that services sidecar, and I got this:

@timestamp":"2022-02-24T12:35:21.216-05:00","@version":"1","message":"Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception

[2022-02-24 18:39] a377965 commented on #692
@yaron2 ... found it!

public Mono<Void> calculate(@RequestBody(required = false) CloudEvent<**String**> cloudEvent) {

changed to
public Mono<Void> calculate(@RequestBody(required = false) CloudEvent<**?**> cloudEvent) {

and now all is working, not sure where I picked up the original example with the CloudEvent type of string .... will comment if I figure out which DOC page I was looking at....b

[2022-02-24 19:28] a377965 commented on #692
Solved!!

Operator error, that is misaligned ports on the SUB service!  Now the error makes sense as the sidecar could not get the APPID from the SUB service during the subscribe event.  I was not clear in the log message where the error was being encountered.

Figure 7.3 in this Microsoft paged helped isolate the problem: https://docs.microsoft.com/en-us/dotnet/architecture/dapr-for-net-developer

[2022-02-24 20:12] artursouza commented on #694
Thanks for reporting this bug with such level of detail.

[2022-02-24 20:21] artursouza commented on #691
We need to revisit the HTTP call solution to remove dependency from OKHTTP in addition to fix this issue. Thanks for reporting this with such detail. In the meantime, you can still use Dapr for service invocation via one of the URL solutions documented here: https://docs.dapr.io/developing-applications/building-blocks/service-invocation/howto-invoke-discover-services/#additional-url-formats

[2022-02-25 05:06] #692 closed

[2022-02-25 06:18] shubham1172 opened #695 "Fixing dependencies with bad license"
Main issue: https://github.com/dapr/dapr/issues/4236

Please refer to the parent issue to help with fixing existing issues with bad licenses.

This is required for Dapr to be compliant with CNCF guidelines, so please add this issue to the SDK planning accordingly.

[2022-02-25 06:54] wmeints commented on #689
You can run dapr without docker. The default workflow is not made for this as docker makes things a lot easier. You'd have to deploy components manually on a server in your network. Then you'll have to configure the components in the dapr config. Finally, you can run `dapr run` as normal.

[2022-02-25 18:29] artursouza commented on #688
You can change the sidecar IP by using this property: https://github.com/dapr/java-sdk/blob/4c077e1de2d34b460d4f714ab32366be19411c06/sdk/src/main/java/io/dapr/config/Properties.java#L64

[2022-02-28 13:07] mukundansundar opened #698 "Add Unsubscribe API for Configuration building block"
https://github.com/dapr/dapr/pull/4130 changes proto files to add unsubscribe API as well as additional fields to existing configuration API response.

Implement the unsubscribe API as well as add in the additional fields necessary for the change to include ID field in subscribe API to track for stopping subscription.

## Release Note

RELEASE NOTE:  Add unsubscribe API.

[2022-02-28 13:07] mukundansundar commented on #698
@artursouza

[2022-03-03 02:34] artursouza commented on #691
This problem is related to runtime and not the SDK. The code sample above compares calling a service with Dapr Java SDK + Dapr Runtime vs calling with native HTTP Client without runtime. If I use the HTTP Client calling into Dapr runtime, the behavior is the same as Dapr Java SDK + Runtime.

[code]

I am moving this item to dapr runtime.

[2022-03-03 02:40] artursouza commented on #694
Agreed.

[2022-03-03 04:11] DeepanshuA commented on #694
Assigning this to myself. Please feel free to re-assign if someone has already started work on this.

[2022-03-03 04:11] DeepanshuA commented on #694
/assign

[2022-03-03 12:01] subash89 commented on #683
So how daprclient going to support http ? I guess the interfaces have to change to accept a Callable or Function that will take care of http call ?
I agree with to keep the current one protocol neutral. Will create a new Builder and update the PR.

[2022-03-10 18:14] artursouza commented on #687
I propose we remove OKHTTP as a dependency as part of the work in #626, which means we would use the Java's builtin HTTP client.

[2022-03-10 18:23] tanvigour commented on #686
/assign

[2022-03-14 07:53] mukundansundar opened #701 "Run build and validations with Java 17"
## Describe the proposal
With Java 17 being released, change `build.yaml` and `validate.yaml` to include validations against [Java 17](https://jdk.java.net/17/).

[2022-03-14 09:48] mukundansundar opened #702 "Fix Service invocation path segments automatic encode of `/` into %2f"
## Expected Behavior

Given a method name containing "/" in service invocation, properly split path segments and call dapr.

## Actual Behavior

Currently in PubSub IT,
https://github.com/dapr/java-sdk/blob/master/sdk-tests/src/test/java/io/dapr/it/pubsub/http/PubSubIT.java#L396-L400

The method being called is `messages/ttlTopic` which gets encoded as `messages%2fttlTopic` which was working prior

[2022-03-15 04:21] #695 closed

[2022-03-15 04:53] mukundansundar commented on #601
/assign

[2022-03-15 06:31] mukundansundar commented on #652
@Giovds you can ping on Discord ...
what is the issue that you are facing?

[2022-03-15 17:59] #601 closed

[2022-03-16 12:36] pravinpushkar commented on #698
/assign

[2022-03-18 16:29] pravinpushkar commented on #698
@mukundansundar Verified this with dapr master and proto file, it works fine. There is no change needed at Java-sdk level.

We can close this issue.

[2022-03-18 19:47] mukundansundar commented on #698
@pravinpushkar Interesting ... We are not using the full SubscribeConfigurationResponse anywhere ... Which is kind of expected since it only contained List<ConfigurationItem> till the above PR.
Now it has an ID field too ... which is used for unsubscribe API.

I will keep this issue open and change the title to implement unsubscribe API. Then we would need the proto changes that were made in dapr/

[2022-03-18 19:51] mukundansundar commented on #698
I have added a breaking changes label since I believe the exposed API in the preview client will change to include the SubscribeConfigurationResponse.

[2022-03-19 22:27] tanvigour commented on #701
/assign

[2022-03-21 04:00] artursouza commented on #709
Closing issue. It is planned for next release.

[2022-03-21 04:00] #709 closed

[2022-03-21 04:02] artursouza commented on #698
Are we planning this for 1.5 still?

[2022-03-21 04:03] #653 closed

[2022-03-21 04:03] #685 closed

[2022-03-21 04:03] #702 closed

[2022-03-21 08:32] mukundansundar commented on #686
I think this might be related to https://github.com/dapr/dapr/issues/3837.

[2022-03-21 08:57] #694 closed

[2022-03-21 10:34] shubham1172 commented on #686
It is! @mukundansundar

[2022-03-21 10:39] mukundansundar commented on #686
I think we need to add a simple test in the IT suite for pubsub to test for this scenario and create a PR for the same here. So that once the fix is merged in dapr, we can verify it is also fixed via the SDK.

[2022-03-21 15:29] shubham1172 commented on #686
@tanvigour we are targeting it for v1.7

[2022-03-21 17:19] mukundansundar commented on #686
@tanvigour The fix was merged few minutes back in components-contrib .... This needs to be picked up in runtime.

[2022-03-21 17:32] ittays commented on #694
Well done! 🌟

[2022-03-21 21:13] tanvigour commented on #626
/assign

[2022-03-21 21:16] tanvigour commented on #687
/assign

[2022-03-22 17:52] mukundansundar commented on #686
@tanvigour Can probably finish this once https://github.com/dapr/dapr/pull/4409 is merged ....

[2022-03-22 17:54] tanvigour commented on #686
yes! keeping an eye on it

[2022-03-22 18:28] mukundansundar commented on #662
@lysilver I was not able to reproduce this issue with the given details.

I modified the existing Invoke HTTP Example, InvokeClient to have the following code ...https://github.com/dapr/java-sdk/tree/master/examples/src/main/java/io/dapr/examples/invoke/http
[code]

On running the example I got the following output in DemoService

[code]

Note that `aaa:999991` is present in the headers list.

Cou

[2022-03-22 18:44] artursouza commented on #626
Please, look at the partial work I have on this. It is moving to Java 11 and removing OKHTTP dependency:
https://github.com/artursouza/java-sdk/tree/native_http_client

Pending work:
+ Rewrite the unit test for DaprHttp so it does not use OKHttp mocking anymore. Needs to find another mocking library that can work with the generic HTTP Client from Java 11.
+ Rewrite the URL building logic so it doe

[2022-03-23 07:06] mukundansundar opened #712 "Actor DurationUtils parsing of duration throws an exception"
## Expected Behavior

Duration is parsed correctly and no exception is thrown

## Actual Behavior

Following Actor API reference in docs : https://docs.dapr.io/reference/api/actors_api/#examples-3

if a reminder is created in the format
[code]

And used in a Java with an Actor Type names stormtrooper and the Actor class implements Remindable<String> data ...
[code]
When receiveReminder is called b

[2022-03-24 05:20] #712 closed

[2022-03-24 12:28] mukundansundar opened #715 "Move Query State API example/tests to use Redis"
## Describe the proposal
Move Query State API example/tests to use Redis

[2022-03-26 12:10] mukundansundar commented on #715
closing this issue

[2022-03-26 12:10] #715 closed

[2022-03-29 01:09] caobingsheng opened #716 "How do I configure ObjectMapper?"

[2022-03-29 22:06] #686 closed

[2022-03-30 13:57] tanvigour commented on #716
What are you trying to achieve? Here's an example using object mapper https://docs.dapr.io/developing-applications/sdks/java/

[2022-03-31 01:12] caobingsheng commented on #716
I need to use a custom date format, but ObjectMapper(Jackson) that DAPR uses cannot be configured.

[2022-03-31 23:27] artursouza commented on #716
You can use Jackson annotation into our domain objects or bring your own serializer as pass it in the builder for DaprClient.

[2022-03-31 23:31] artursouza opened #725 "Fix flaky integration tests"
These are examples of flaky test runs:

<img width="512" alt="image" src="https://user-images.githubusercontent.com/130954/161165802-67f9fb2f-6f1e-417b-8c73-aa6194f47580.png">

<img width="567" alt="image" src="https://user-images.githubusercontent.com/130954/161165872-8fb7cac0-3d4a-4ed1-b117-beefba9cd361.png">

<img width="415" alt="image" src="https://user-images.githubusercontent.com/130954/161

[2022-04-01 02:16] Stephen-Jack opened #726 "How to store a state with a metadata like ttlInSeconds"
## Ask your question here

The parameter 'metadata' doesn't exist in the parameters of method 'savaStates'.

  Mono<Void> saveState(String storeName, String key, Object value);

  Mono<Void> saveState(String storeName, String key, String etag, Object value, StateOptions options);

[2022-04-01 04:34] artursouza commented on #725
<img width="443" alt="image" src="https://user-images.githubusercontent.com/130954/161195495-cc49183c-5b89-4895-ac5e-a53ce4c27c15.png">

[2022-04-01 08:29] caobingsheng commented on #716
Thanks!

[2022-04-01 08:29] #716 closed

[2022-04-04 22:30] tanvigour commented on #726
I think you should be able to do that by using setMetadata(key,value) on your request

[2022-04-07 16:17] halspang opened #729 "Add Support for Per Actor Type Configuration"
## Describe the proposal
The Dapr Runtime added support for per actor type configurations in 1.7. This support needs to be added to the SDKs.

The new configuration looks like:

[code]

Implementation can be varied per SDK but should output to the above JSON.

Docs: https://github.com/dapr/docs/pull/2334
Runtime: https://github.com/dapr/dapr/pull/4201

[2022-04-08 20:41] mukundansundar commented on #675
@MoeweX Are you seeing this issue only with azure servicebus component ?

[2022-04-13 17:56] tanvigour opened #733 "Add mechanical markdown for Actors examples"
## Describe the proposal

The Actors examples currently do not seem to be running in auto validation mode and the reason seems to be absence of Mechanical Markdown to the Readme files. We need that to get regular coverage for actor related changes in newer versions

[2022-04-13 17:56] tanvigour commented on #733
/assign

[2022-04-16 07:34] hieutruong-sym commented on #456
They are different.
- using protocVersion will lead to a manually download, mostly from default Central.
-  protocArtifact will using maven resolver to download protoc like other depdencies in pom.xml.
So in case your project using private maven repository, protocArtifact will help to resolve the issue.

[2022-04-19 12:07] wmeints commented on #650
I had a chat with @mthmulders about the state of distributed tracing and he referred me to this thread. Looking at the proposal, I think it's nice to have the interface. We can provide the implementation as an example. I personally prefer a nice blogpost or a repo on Github but I'm open to other suggestions in this regard.

[2022-04-19 20:40] Giovds commented on #652
I unfortunately don't expect to work on this for a while as I want to focus on some other things. If anyone is interessted feel free to continue with the [PR](#658) I've created. I believe it should be close to be finished.

[2022-04-20 03:34] skyao commented on #729
/assign

[2022-04-21 17:47] tanvigour commented on #652
/assign

[2022-04-21 17:48] artursouza commented on #652
Tanvi is looking into it.

[2022-04-21 17:49] #733 closed

[2022-04-21 17:49] tanvigour commented on #468
/assign

[2022-05-05 08:25] #667 closed

[2022-05-06 10:00] lukasstanek opened #738 "Sdk seems to crash java application on openjdk - alpine based images"
## Expected Behavior

Hi, when I use the Dapr Java Sdk (`new DaprClientBuilder().build()`) in an Openjdk Docker image based on Alpine Linux, it should work normally.

## Actual Behavior

The application crashes on Alpine based images.

## Steps to Reproduce the Problem

Reproduction is here https://github.com/lukasstanek/java-dapr-alpine-reproduction
Just build the Dockerfile and start. (other bas

[2022-05-06 11:41] Venkat1188 opened #739 "kafka pubsub issue"
## Expected Behavior
Spring boot java application not able to send messages to kafka topic by using dapr client and dapr enable application

msg: rpc error: code = FailedPrecondition desc = no pubsub is configured, scope: dapr.runtime.grpc.api, type: log, ver: 1.6.0}
## Actual Behavior
Spring boot java application should able to send messages to Kafka topic by using dapr client and dapr enable app

[2022-05-10 09:49] MarkLux opened #741 "Is there any plan to support GraalVM Native-Image build?"
I wonder if the dapr-sdk can be compiled and used in a graalVM native-image project?

[2022-05-10 17:01] yaron2 commented on #741
cc @skyao

[2022-05-11 20:34] MotaOcimar commented on #515
I'm using Quarkus and get
`FINE Unable to find OkHttpChannelProvider: java.lang.ClassNotFoundException: io.grpc.okhttp.OkHttpChannelProvider`

I tried adding the `okhttp` dependency but the problem continues.

[2022-05-17 11:41] Venkat1188 commented on #597
I have a few open questions on dapr kafka pubsub component,
1)In pub/sub in what situation Dapr retries sending a message again..
  I read in documentation that the delivery is at least once.
  what is considered successful delivery and how to test it?
2) How dapr handle Autocommit? can we have the option to set autocommit time?
3) Dapr pub/sub tries to send it to subscribers and subscribers fail

[2022-05-18 09:54] Venkat1188 opened #743 "Dapr pubsub subscriber issue"

[2022-05-27 13:17] yaron2 commented on #743
Moved.

[2022-05-30 13:39] tillganster opened #744 "Given Metadata is ignored on Htttp Service invocation"
## Expected Behavior

When Http-Headers are give to method `invokeMethod` of class `DaprClient` these headers should be sent along with the request.

## Actual Behavior

It seems that the metadata is ignored when sending request. In `AbstractClient` line `115`  [see](https://github.com/dapr/java-sdk/blob/ea19b26d5df20e01b873d32b7d7a167dc491b7c5/sdk/src/main/java/io/dapr/client/AbstractDaprClient.j

[2022-05-31 00:38] yaron2 commented on #744
Thanks for reporting. FYI, in general we encourage users to use a native HTTP client for service invocation calls and not use InvokeMethod.

[2022-06-01 05:48] pravinpushkar opened #745 "Provide a support for Dapr sidecar Metadata API"
## Expected Behavior

SDK should provide a support for Sidecar Metadata APIs (HTTP and gRPC)-
1. Get Metadata
2. Set Metadata

## Actual Behavior

It does not support Metadata APIs

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE: **ADD** Support for Sidecar Metadata APIs

[2022-06-01 18:51] amulyavarote opened #746 "Change configuration API response to dictionary"
## Describe the proposal
Change the configuration API response to handle dictionary.
Main issue in dapr/dapr in pasted here.
https://github.com/dapr/dapr/issues/4556

[2022-06-01 19:38] amulyavarote opened #747 "Add distributed lock API support"
## Describe the proposal

Add methods for distributed lock API.

Main Issue: https://github.com/dapr/dapr/issues/3549

[2022-06-03 11:22] solidity-software opened #748 "Unable to query from state store when sate was submitted using Java SDK."
I am using Java SDK v1.5 with dapr runtime 1.7 trying to use query state.

## Expected Behavior

When using java sdk and storing state it would be expected to be able to query the data using the state api like when storing data to state directly via the dapr state api.

## Actual Behavior

I am able to post to postgres state store and it will store as non binary enabling access through query but w

[2022-06-07 04:55] pravinpushkar commented on #748
@solidity-software If you are trying to use CRUD operations using SDK APIs then ideally there should not be any issue.
Could you please try to run this example and check once at your end -
https://github.com/dapr/java-sdk/tree/master/examples/src/main/java/io/dapr/examples/state

This document can also be used as reference for [How to get save and get state](https://docs.dapr.io/developing-applica

[2022-06-08 17:24] pravinpushkar commented on #748
@solidity-software Could you please paste here your sample code snippet and data that your are trying to save.

For Saving a single sate  - Below code seems to work jsut fine -
[code]

[2022-06-09 06:52] mukundansundar commented on #739
@Venkat1188 Have you configured the pubsub as expected by the application?

[2022-06-09 06:52] mukundansundar commented on #739
@Venkat1188 Have you configured the pubsub as expected by the application?

[2022-06-09 06:56] mukundansundar commented on #743
On dapr sidecar logs,I can see
{"app_id":"dpar-subscribe","instance":"dpar-subscribe-6d4cb75df7-5z7ph","level":"debug","msg":"user app did not subscribe to any topic","scope":"dapr.runtime","time":"2022-05-18T07:29:05.621296104Z","type":"log","ver":"1.7.2"}

@Venkat1188 Have you configured the application to subscribe to any specific topic?
either using the either through the `/subscribe` API http

[2022-06-09 06:58] mukundansundar commented on #746
Since the parent issue(https://github.com/dapr/dapr/issues/4556) is targeted for 1.9 targeting this issue for 1.7 Java SDK

[2022-06-09 06:59] Venkat1188 commented on #739
Yes,
Able to send messages to topic and I can see application subscribed to topic on dapr logs

[2022-06-09 07:03] Venkat1188 commented on #743
Configured application to subscribe to a specific topic.
This is the code, I am using for subscriptipn
@Topic(name = "testingtopic", pubsubName = "messagebus")
  @PostMapping(path = "/testingtopic", consumes = MediaType.ALL_VALUE)
  public Mono<ResponseEntity> handleMessage(
      @RequestBody(required = false) CloudEvent<Order> cloudEvent) {
    return Mono.fromSupplier(
        () -> {

[2022-06-09 07:11] Venkat1188 commented on #739
The main issue is while subscribing to a message from a topic getting an Nullpointer exception on
cloudEvent.getData()

[2022-06-09 07:40] mukundansundar commented on #739
#743 discusses that. closing this issue

[2022-06-09 07:40] #739 closed

[2022-06-09 13:31] denniszielke commented on #515
@MotaOcimar have you also added the quarkus grpc dependency? After that I was able to use the dapr sdk from Quarkus native image.

[2022-06-17 01:15] darren-wang opened #749 "Version support policy for dapr's SDK's is needed."
Hi all, since the version of dapr java sdk and the version of dapr runtime are different, and as a corporate user we cann't upgrade frequently, so I think a version support policy for dapr sdk is NEEDED.

I think every version of dapr sdk should specify the versions of dapr runtime which it supports, and for users who have a fixed version of dapr runtime can accordingly decide which version of dap

[2022-06-17 01:19] darren-wang commented on #749
@[artursouza](https://github.com/artursouza) could you hava a look at this proposal?

[2022-06-22 04:37] hspaay commented on #535
@artursouza This seems to contradict with issue https://github.com/dapr/dapr/issues/2342.
Can you please confirm if pt 4:

... requires that the gRPC server implements an 'invokeMethod' method?
Scouring through the docs this aspect isn't explained and the reader is left wondering what can and cannot be done with cross protocol invocation.

[2022-06-22 13:03] MotaOcimar commented on #515
I added the [`quarkus-grpc` dependecy](https://mvnrepository.com/artifact/io.quarkus/quarkus-grpc/2.10.0.Final) and the application don't even build due to `Type io.quarkus.arc.deployment.RecorderBeanInitializedBuildItem not present` :(

[2022-06-23 03:44] naah69 opened #751 "support invokeXXX method return Response"
## Describe the proposal
 it is not support return Response(with code and headers) in invokeXXX method now.
it just convert body data by jackson and return.(there is a bug that jackson can't convert the string without json format)
![image](https://user-images.githubusercontent.com/25682169/175204261-039e16c1-1bbc-4eaa-9603-2df36cbabff4.png)

it is unsupport if somebody need code and header.

i thi

[2022-06-28 14:11] MotaOcimar commented on #515
I also tried the [Quarkus Dapr Runtime](https://mvnrepository.com/artifact/io.quarkiverse.dapr/quarkus-dapr) but got `java.lang.NoSuchFieldError: Companion`

[2022-06-28 22:11] tanvigour commented on #749
So sdk versions are always backward compatible with runtime versions. Basically in your example case, dapr 1.5.1 should work with java-sdk-latest.

[2022-06-30 06:37] skyao commented on #741
@MarkLux thanks for your question. we have start a quarkus extension project

https://github.com/quarkiverse/quarkus-dapr

Yet this project is still in developing.

[2022-06-30 06:44] skyao commented on #751
I have talked with @naah69 about this issue and agreed with him that Dapr java sdk should support this feature because sometime the user need to get more information from HTTP response (for example, http headers).

This will make dapr java sdk more flexibility.

I will review the PR code.

[2022-07-04 02:42] naah69 commented on #751
Is there any progress?

[2022-07-09 23:46] git2g commented on #515
+1 as @MotaOcimar - Tried to add `okhttp` as described in https://github.com/dapr/java-sdk/issues/515#issuecomment-800435671 and `quarkus-grpc` resulting the same error:
[code]

[2022-07-10 00:05] git2g commented on #515
Resolved it with the following version combination:
[code]

[2022-07-11 04:02] RcXu opened #759 "Fix the guid in the README file"
## Actual Behavior

As the guid in the README, the version of JDK is 1.5.0, but there is something wrong when use the package io.dapr.Rule;
and it's used in example file also。
when configure the 1.5.0 version, can't find the package but 1.6.0 is ok.

RELEASE NOTE: **FIX** README guid content

[2022-07-11 18:47] MotaOcimar commented on #515
It doesn't work for me 😢
I continue with error `Unable to find OkHttpChannelProvider: java.lang.ClassNotFoundException: io.grpc.okhttp.OkHttpChannelProvider`

[2022-07-13 06:46] mukundansundar commented on #759
If the Rule is for pubusb routing, that is only there from 1.6.

[2022-07-13 06:48] mukundansundar commented on #759
Can you check master branch now? I think that it was fixed with release of 1.6 and updating README in master branch.

[2022-07-13 07:02] RcXu commented on #759
yes, it's already fixed in the master

[2022-07-14 03:03] RcXu opened #761 "initialise Dapr client error about import Maven SDK"
## Expected Behavior
import the latest dapr-sdk from maven, when init Dapr client get the following error
`
nested exception is java.lang.NoSuchFieldError: Companion
`
it's because the package version of  okhttp3.
As  the SDK imported version is com.squareup.okhttp3:3.14.9 , it's diffrent from the SDK pom version define

so must upgrade this package version in my project pom.xml to fix it, the doc

[2022-07-18 10:36] #761 closed

[2022-07-18 15:53] tanvigour opened #763 "Replace okhttp with azure core http"
Replace this to fix the dependency issue with okhttp3 https://github.com/dapr/java-sdk/issues/687

[2022-07-18 15:54] tanvigour commented on #763
/assign

[2022-07-19 04:46] pravinpushkar commented on #746
Dependent on PRs -
https://github.com/dapr/components-contrib/pull/1771
https://github.com/dapr/dapr/pull/4695

[2022-07-19 16:31] pravinpushkar commented on #746
/assign

[2022-07-20 07:13] mukundansundar commented on #763
@tanvigour why are we replacing one dependency with another?

[2022-07-20 16:53] artursouza commented on #763
The Azure dependency is the same as the OKHTTP but in a different namespace to avoid conflict. There is a well known issue of conflicting OKHTTP version with the app when importing the Dapr Java SDK. It is a major pain point to get started. People have to pick one version to resolve conflict and hope they are compatible. This will stop this conflict.

We also had plans to remove OKHTTP completely

[2022-07-20 16:56] tanvigour commented on #763
To fix the version compatibility issue as mentioned in this : https://github.com/dapr/java-sdk/issues/687

[2022-07-23 05:28] mukundansundar commented on #763
@artursouza What is the Spring Cloud dependency that you mention?
cc @skyao

[2022-07-25 03:46] CrazyHZM commented on #747
/assign

[2022-07-25 04:15] artursouza commented on #751
We should create a new API that is HTTP specific instead of having a break change here. This API was originally designed to be protocol agnostic.

[2022-07-25 04:18] artursouza commented on #749
The supported versions based on release are here: https://docs.dapr.io/operations/support/support-release-policy/. The SDK can work with newer or older versions of the runtime unless there is a documented deprecation that was later on removed (breaking change).

[2022-07-25 04:46] yaron2 commented on #751
Using an HTTP client directly (which is the preferred method for service invocation) is essentially HTTP specific and will address the problem described here.

[2022-07-25 19:57] yaron2 commented on #751
Discussion here: https://github.com/dapr/dotnet-sdk/issues/526.

cc @rynowak

[2022-07-26 18:46] artursouza commented on #751
In Java SDK, we handle serialization on behalf of the user too (differently from .Net SDK). So there is an advantage of letting the SDK handle the abstraction for the user.

[2022-07-26 18:49] yaron2 commented on #751
Agreed

[2022-08-03 10:46] vikas8530 opened #765 "Why does invokeBinding not return metadata to caller?"
When using SQL binding (tested with Postgres), sidecar is sending metadata and it is available at java-sdk level as well. However sdk only sends data to the caller, it ignores metadata completely.

Use case where metadata is helpful - Insert/Update/Delete queries (exec operation in sidecar) provide number of rows affected and this information is part of metadata. This information is useful for the

[2022-08-09 09:18] javageek79 opened #766 "Existing Spring Tests are failling with dapr-sdk 1.6.0"
## Expected Behavior

All existing tests still run with the new dapr-sdk 1.6.0 as they do with 1.5.0

## Actual Behavior

Some tests in our test suite are failing due to
[code]

## Steps to Reproduce the Problem

Run two spring extended test classes testing a spring rest controller like
[code]

A test might looks like this
[code]

the tests are running fine if test classes are executed standalone.

[2022-08-11 16:02] olitomlinson opened #767 "Missing fields in CloudEvent deserialisation"
Raising this on behalf of a colleague who is on vacation

---

I have started using DAPR pub/sub and am creating a Subscription in a Springboot application, so I am using the JAVA sdk.

The subscriber receives the messages correctly, but I noticed that the CloudEvent class, used to deserialize the incoming event, is missing these fields `tracid`,`traceparent`,`tracestate`,`topic`,`pubsubname`.

I'

[2022-08-11 16:03] yaron2 commented on #767
cc @mukundansundar

[2022-08-12 10:17] jakesmolka commented on #767
I have a similar issue. When creating a message in an app and then accessing it in another app I can't deserialize the CloudEvent as excepted.

Roughly illustrating it:

App A creating the message:
[code]

App B accessing it fails:
[code]

It throws and error like `Method threw 'com.fasterxml.jackson.databind.exc.UnrecognizedPropertyException' exception.` with this additional message `Unrecognized

[2022-08-12 13:30] olitomlinson commented on #767
@jakesmolka yep, looks like `pubsubname` is missing from the CloudEvent model too

https://github.com/dapr/java-sdk/blob/master/sdk/src/main/java/io/dapr/client/domain/CloudEvent.java

[2022-08-12 15:34] mukundansundar commented on #767
Based on https://github.com/dapr/components-contrib/blob/master/pubsub/envelope.go, the fields that can be in CloudEvent are not completely there in Java SDK model.

@artursouza @yaron2 Dapr has additional fields on top of the CloudEvents spect v1.0, for that I think publishing a proto file will be good. WDYT?
Since this will be a moving target as and when new fields are included that are optional

[2022-08-12 15:57] yaron2 commented on #767
Makes sense.

[2022-08-13 02:22] artursouza commented on #767
Until this fix is in place, please, use your own CloudEvent class, maybe the official CloudEvent's SDK: https://cloudevents.github.io/sdk-java/json-jackson.html

[2022-08-13 02:25] artursouza commented on #767
The mapper is not configured to ignore unknown attributes: `mapper.configure(DeserializationFeature.FAIL_ON_UNKNOWN_PROPERTIES, false)`

Now, the fix here is to serialize the "unknown" attributed into a dictionary since it is not possible to hardcode every possible attribute in cloud event since the specs allows it to be extensible.

[2022-08-22 09:46] MichaelJHaywood opened #768 "Dapr fatal JVM error"
## Expected Behavior

No JVM error and a useful error message if the configuration is incorrect.

## Actual Behavior

A fatal JVM error occurs causing the application to close.

## Steps to Reproduce the Problem

1. Clone https://github.com/MichaelJHaywood/dapr-jvm-error

2. Run the `Dockerfile` using `docker build --no-cache -t dapr-jvm-error .` in bash and the error is thrown.

**Information**

[2022-08-22 12:10] MichaelJHaywood commented on #768
This turned out to be an issue with `gRCP` and `openjdk:17-alpine`. Changing to `amazoncorretto:17` has fixed it.

[2022-08-22 12:10] #768 closed

[2022-08-25 12:24] pravinpushkar commented on #744
/assign

[2022-08-30 18:39] #744 closed

[2022-08-31 12:57] DanielYWoo opened #771 "no error but event not delivered"
I can send the event with a raw HTTP client, but I cannot send events with the official SDK. I tried to look at the log from the sidecar but nothing can be found, no error.
So, my first question is, if something is wrong, maybe an event cannot be routed or an mandatory event header is missing, there should be some log in daprd, right?
Secondly, why the raw HTTP works but the SDK does not? My code

[2022-08-31 13:22] #771 closed

[2022-08-31 14:17] DanielYWoo opened #772 "How to specify type with metadata of pubsub?"
The CloudEvent spec says we can specify the `type` in the metadata. The SDK allows metadata customization when publishing an event as below
[code]

But the `type` seems always be `com.dapr.event.sent`. I debug into the gRPC code down to protocol buffer`serializeStringMapTo` and I am pretty sure the `type` is correctly written to the sidecar via 50001.

Are there anything wrong here?

[2022-09-01 21:23] tanvigour commented on #772
SDK has metadata.CONTENT_TYPE to customize the type. https://github.com/dapr/java-sdk/blob/master/sdk/src/main/java/io/dapr/client/domain/Metadata.java

[2022-09-03 15:28] DanielYWoo commented on #772
I am not saying "content-type" or "datacontenttype", I am saying the "type" context attribute in CloudEvent spec. e.g, "user.created".

[2022-09-06 02:28] #746 closed

[2022-09-06 14:58] artursouza opened #773 "Allow CloudEvent class to be inherited"
## Describe the proposal

Today, CloudEvent class is `final`, making it not possible to extend it to add new attributes. Making it non-final would allow that.

Please, add unit test to verify that the serialization and deserialization can work in the inherited class.

Related to: https://github.com/dapr/java-sdk/issues/767

[2022-09-06 20:55] tanvigour commented on #773
/assign

[2022-09-06 23:52] amulyavarote opened #774 "Exception from Actor's method is not surfaced to the caller"
## Describe the proposal

#Expected Behavior

Exception's error message (not stacktrace) from Actor's method is surfaced to the caller.
Add details like exception method, line number, exception type and generate an UUID to match the exceptions both on callee as well as caller side.

[2022-09-07 21:44] tanvigour commented on #774
Thanks for this @amulyavarote Could you add more details like the current log and how it looks?

[2022-09-07 21:47] tanvigour commented on #773
#772

[2022-09-07 21:50] amulyavarote commented on #774
Current logs are quite generic. They should say something like "Actor method invoke exception". We have to add details to this message.

[2022-09-09 00:34] #773 closed

[2022-09-13 01:18] artursouza commented on #767
Users can now extend the CloudEvent class as per #773 before we support the dictionary fallback solution.

[2022-09-13 01:28] #749 closed

[2022-09-13 01:37] artursouza opened #777 "Add support for DLQ (dead letter queue)"
## Describe the proposal

Add support to dead letter queue. SDK should offer this configuration via annotation, as an attribute of the Topic annotation.

Reference: https://github.com/dapr/js-sdk/issues/321

[2022-09-13 15:59] amulyavarote commented on #774
Example of exception details:
Dapr.Actors.ActorMethodInvocationException: Remote Actor Method Exception, DETAILS: Exception: NotImplementedException, Method Name: ExceptionExample, Line Number: 14, Exception uuid: d291a006-84d5-42c4-b39e-d6300e9ac38b

[2022-09-13 16:21] shubham1172 opened #778 "Bulk PubSub implementation"
## Describe the proposal

Add SDK support for the new bulk Pub/Sub API runtime issue: https://github.com/dapr/dapr/issues/2218

[2022-09-14 12:19] mukundansundar opened #779 "Content-Type mismatch in publishEvent call"
## Expected Behavior

Content-Type mismatch in publishEvent call.

When a string event is published, using the
[code]
What is seen in the broker for publish using gRPC protocol is:
[code]
Here because the data is not given in the `client.publishEvent` call, it is being inferred by the default serializer as `application/json` and that is the `datacontenttype` field that is set in the cloudEvent in

[2022-09-14 18:59] artursouza commented on #779
This should be fixed. Probably without "unescaping" the String but by correctly handling the datacontenttype attribute.

[2022-09-14 19:03] mukundansundar commented on #779
One of the issues is that Java sdk has overloaded publishEvent methods that do not require content type as a parameter. IMO this should be deprecated in favor or requiring content type as a parameter in the overloaded functions also.
Then the serializer should properly serialize the event based on the content type. @artursouza thoughts?

[2022-09-14 19:05] artursouza commented on #779
If the user passes a String, we should skip serialization and pass it as-is and use text as content-type.

[2022-09-15 07:41] MregXN opened #780 "How to make subscription dynamic?"
As the example below we could realise subscription via annotations. But topic and pubsubName is static, which means we cannot decide which topic to subscribe at runtime. What is more，If there are multiple topics to subscribe there will be a lot of duplicate code. Is there any more elegant subscription implementation via HTTP？

[code]

[2022-09-15 08:50] mukundansundar commented on #779
@artursouza Based on the offline discussion that we had:
1. If content type given, we expect the user to provide the right content type for the default serializer or the user should have overridden the serializer in the client.
2. If no content type is provided, based on different scenarios in HTTP we try to convert the Object data into String, be it integer or any other primitive or leave it as s

[2022-09-15 11:14] tiankanghello opened #781 "io.dapr.exceptions.DaprException: RESOURCE_EXHAUSTED: Received message larger than max (5759620 vs. 4194304)"
io.dapr.exceptions.DaprException: RESOURCE_EXHAUSTED: Received message larger than max (5759620 vs. 4194304)

[2022-09-15 15:43] sujitp149 opened #782 "DAPR 1.6 uses Spring Boot Starter Web with vulnerability"
## Ask your question here
DAPR 1.6 uses spring-boot-starter-web/2.3.5.RELEASE which has vulnerability. Any plans to upgrade the Spring Boot Starter Web version without vulnerability as many organization don't allow  any artifacts with open vulnerability ?

![DAPR](https://user-images.githubusercontent.com/25781449/190448506-6a3acb09-8d00-461f-bfc0-34fbdd02c776.jpeg)

[2022-09-16 05:39] pravinpushkar commented on #782
@sujitp149 Thanks for reporting this. We can try bumping the version to 2.7.3. Please feel free to submit a PR, we can see if that is breaking anything.

[2022-09-16 05:44] pravinpushkar commented on #781
@tiankanghello Can you provide more details on this issue -

1. What apis were you trying and any specific details to reproduce the issue ?
2. java sdk version?

[2022-09-16 06:47] pravinpushkar commented on #780
@MregXN Have you already explored content based routing for your scenario - https://docs.dapr.io/developing-applications/building-blocks/pubsub/howto-route-messages/

[2022-09-19 02:02] MregXN commented on #780
Thanks!

[2022-09-19 02:02] #780 closed

[2022-09-19 08:48] ParrySMS opened #783 "Unable to get the http response details by Dapr HttpBinding if the state code is not 200"
## Expected Behavior

I have service A, and service A will call service B by the DaprClient. All thing works when service B returns the response with state code 200.

[code]

If the state code is not 200, I want to get the original response details. The service B will return a response with a 401 state code like this one:

[code]

## Actual Behavior

I will get an error like this one if I get the

[2022-09-19 17:32] Vishal07051999 opened #784 "Dapr Subuscriber Support for Non-Spring Boot Application"
Hi Dapr Team,
We have been trying to use Dapr Java SDK in a KTOR based application.

Most of the cases work out of the box, only caveat that we have observed which is why we can't move full blown Dapr is lack of support in subscribers outside Spring boot world.

[2022-09-20 02:15] skyao opened #785 "[proposal]better control http and grpc related dependencies"
## background

Since we have HTTP API and gRCP API in dapr, in Dapr Java sdk project, we both have some dependencies to support Dapr HTTP API and Dapr gRPC API:

- sdk-autogen project: depends on grpc-netty-shaded / grpc-protobuf / grpc-stub for Dapr gRPC API

[code]

- Sdk project: depends on okhttp and jackson for Dapr HTTP API

[code]

   and also depends on dapr-sdk-autogen for Dapr gRPC API:

[2022-09-20 02:48] mukundansundar commented on #785
This is an interesting proposal. I can see main benefit being reducing the no. of dependencies as well as reduction in conflicts.
If I am understanding this correctly the client interfaces that we have will be moved to the sdk-common project so users might have to modify code to accommodate that switch initially.

And if they want to switch between protocols the main change would ideally be depend

[2022-09-20 08:43] tiankanghello commented on #781
my java-sdk version 1.4，my jdk version 1.8.0,k8s dapr version 1.8

[2022-09-20 08:45] tiankanghello commented on #781
When I call the grpc api. The data can be called normally within 4M. When the data is greater than 4M, this error will be reported

[2022-09-20 08:46] tiankanghello commented on #781
my java-sdk version 1.4，my jdk version 1.8.0,k8s dapr version 1.8
When I call the grpc api. The data can be called normally within 4M. When the data is greater than 4M, this error will be reported

[2022-09-20 08:54] mukundansundar commented on #781
@tiankanghello please take a look at the CLI flag or equivalent Kubernetes annotation for HTTP request size. https://docs.dapr.io/reference/cli/dapr-run/

"--dapr-http-max-request-size" default is 4, for 4MB
For both HTTP and grpc this can be used for the runtime request size set....

[2022-09-20 08:57] tiankanghello commented on #781
--dapr-http-max-request-size I have configured 100M. The api can accept the request. But when the response comes back. The mistake was reported.

[2022-09-20 09:01] tiankanghello commented on #781
I guess this error is reported by the grpc package. It is possible that the maximum packet size accepted by the grpc packet is 4194304 bytes

[2022-09-20 09:12] tiankanghello commented on #781
If this problem can't be solved. I can only compress my data. Then unzip. This is not a good way. Because both the server and client need to be transformed

[2022-09-20 09:27] mukundansundar commented on #781
@tiankanghello
For grpc, the sdk uses a managed channel and there is a way to set max inbound message size for the channel

https://grpc.github.io/grpc-java/javadoc/io/grpc/ManagedChannelBuilder.html#maxInboundMessageSize-int-

A similar property should be available for okhttp client also

Cc @pravinpushkar

[2022-09-20 09:31] mukundansundar commented on #781
@tiankanghello we will take a look at this and get back to you on the next steps....

[2022-09-20 10:36] tiankanghello commented on #781
I hope you can find the problem as soon as possible, and then give me a reply on how to solve this problem. Thank you.

[2022-09-21 00:55] skyao commented on #785
All client interface will be in sdk-http or sdk-grpc, sdk-common will contain common code , not protocol code.

Developers will inport sdk-xxx-http or sdk-xxx-grpc into their pom.xml and not need to set exclusion.

Please see the pictures about the dependencies above.

In fact, here's a simple two-choice question to control the grpc and http related dependencies:

- [x] we don't split the dependen

[2022-09-21 01:54] skyao commented on #784
hi, @Vishal07051999, thank you for issue.

Do you want to support something like @topic annotation outside spring boot?

[2022-09-21 10:27] skyao commented on #763
To integrate dapr with spring cloud, since current main version of spring is supporting jdk 1.8 like:

- spring cloud v3.x
- spring boot v2.x
- spring framework v5.x

And for next main version of spring/springboot is required jdk17.

I think most spring users will stay in current spring for a long time because jdk17 and wait for spring new version to be stable.

So, upgrading  jdk version of dapr

[2022-09-22 20:02] rowi1de opened #786 "Compatible with Spring Webflux + WebClient"
## Ask your question here
I’ve seen Dapr includes spring-web and not webflux, even all methods build on project reactor types.

- Is it possible to add Dapr to a Spring WebFlux application? Spring boot would fall back to non-reactive stack if both starters are on the classpath
-  Is it possible to use Spring WebClient instead of using Dapr client ? It has better kotlin support, fluent api and allo

[2022-09-23 12:08] yshulzh opened #787 "Blocking call detected by BlockHound in DaprGrpcClient"
## Expected Behavior

Implementation of DaprGrpcClient does not make blocking calls.

## Actual Behavior

The DaprGrpcClient class has blocking calls in it. For example:

[code]
Note: there are two DaprGrpcClient classes in the project, blocking calls were fixed in one of them, The one I am talking about is in the io.dapr.actors.runtime package.

## Steps to Reproduce the Problem

## Release Note

[2022-09-28 05:14] johnewart commented on #763
@artursouza and I were talking about this earlier and I opened a PR to deprecate the HTTP-transport bits; we could get rid of some code it seems that it could make transitioning easier.

Additionally, we could consider splitting off the HTTP client into its own package/artifact that could be used to keep HTTP support until a project has made the transition away from HTTP (it would also be easier t

[2022-09-28 19:37] johnewart opened #792 "Building the SDK will use cached protobuf definitions (if present) even in a clean checkout / build"
## Expected Behavior

`git clone git@github.com:dapr/java-sdk.git && cd java-sdk && mvn package` should work out of the box, but it doesn't if you
have previously build the Java SDK with a different set of protobuf definitions. They instead get cached in `$HOME/.m2/repository/.cache/...` and the failure is non-obvious until you hunt around for docs on Maven's `wget` plugin.

## Actual Behavior

Bu

[2022-09-28 20:39] johnewart opened #794 "Proposal: Deprecate HTTP client in SDK"
## Describe the proposal

Given that the existing HTTP implementation is causing some issues with long-term maintenance and requires additional (potentially conflicting) dependencies for developers using the Java SDK, we should deprecate the HTTP transport that the client provides. I suspect that SDK consumers are largely using gRPC (maybe even entirely, though this is purely a guess and having so

[2022-09-29 04:36] kevinten10 commented on #777
@seeflood this is similar to like `delay queue`

https://github.com/mosn/layotto/issues/617

[2022-09-30 03:37] #698 closed

[2022-10-06 05:16] pravinpushkar commented on #777
/assign

[2022-10-09 21:02] LionTao opened #797 "Add ElementType.TYPE to ActorType"
## Describe the proposal

Hi, I want to use the actor model with Kotlin. Currently, the `ActorType` annotation in java is targeted at ElementType.TYPE_USE which is incompatible with kotlin interface.
Adding ElementType.TYPE to the annotation target field should work. Can we add it?

[2022-10-11 07:44] tiankanghello commented on #781
@mukundansundar Will this problem be solved or will it not be adjusted in the near future

[2022-10-13 17:01] DeepanshuA commented on #766
Was able to reproduce the issue:
Used multiple controllers where-in the Topic is same and both were trying to set some default path for this topic.

As per Dapr proto definition in runtime, default path can be only one as string: https://github.com/dapr/dapr/blob/81fc87deae04713a78416009060eb35e8ae3bf9c/dapr/proto/runtime/v1/appcallback.proto#L180

Following lines are invoked in java-sdk in such a

[2022-10-14 03:06] skyao commented on #794
hi, @johnewart I have similar proposal as you said here: https://github.com/dapr/java-sdk/issues/785 . And Zhikun had done some work for this splitting as I described in my proposal.

BTW: I totally agree with that we should remove http api in java sdk.

[2022-10-14 14:15] ChristianWeyer opened #799 "❌ exec: " java": executable file not found in $PATH"
When I run this command for my sample app:

`dapr run --components-path ../components --app-id servicedaprized --app-port 3000 -- \ java -jar target/java-springboot-service-daprized-0.0.1-SNAPSHOT.jar com.tt.example.javaspringbootservicedaprized.JavaSpringbootServiceDaprizedApplication -p 3000`

I get the following error:
[code]

`which java` on this terminal gives me:
`/usr/bin/java`

Any idea wh

[2022-10-14 14:42] mukundansundar commented on #799
@ChristianWeyer `" java"` seems that it is considering `\ java` as `" java"`. Can you try without the `\` ?

[2022-10-14 14:48] ChristianWeyer commented on #799
Doh! Of course, you are right. Thanks, man.

[2022-10-14 14:48] #799 closed

[2022-10-22 15:12] ParrySMS commented on #783
The root cause here but I am not sure how to fix it.

You can check this function `doInvokeApi` in the `DaprHttp.java`.

[code]

In the line 320, it enqueue a ResponseFutureCallback. It converts the okhttp3 response into the response object expected internally by the SDK.

`this.httpClient.newCall(request).enqueue(new ResponseFutureCallback(future));`

You can check the function `onResponse` in th

[2022-10-22 15:49] ParrySMS commented on #783
@yaron2 @artursouza  @skyao @CrazyHZM Could you please have a look? Please correct me if anything wrong.

[2022-10-22 16:07] ParrySMS commented on #794
A good proposal. But I suspect that some SDK consumers, enterprise in particular, may not be able to use gRCP for some reasons. So the HTTP and gRPC are both important.

[2022-10-22 18:14] mthmulders commented on #794
In https://github.com/dapr/java-sdk/issues/626, @artursouza proposed moving to Java 11 as the baseline. This would allow using the HTTP client introduced with Java 11. Without extra dependencies, so without conflicts with other possible dependencies, but for those who need it, still fully operational HTTP support.

[2022-10-24 10:00] michapojo opened #802 "Incorrect type conversion for objects in a map"
## Expected Behavior

In my service, I'm using dapr for saving and quering a entity with various attributes. The used db is a MongoDB.
One attribute is of type LinkedHashMap<String, Object>, because its content is very dynamic.

The content of this linkedHashMap attribute should be consistent, when query it.

## Actual Behavior

The saving of this entity works fine.
The problem occurs, when trying

[2022-10-24 19:33] johnewart commented on #794
My question (and I can put this in #626) is this -- are we going to effectively write-off Java 8 users? According to New Relic's numbers from earlier this year, something like just short of 50% of apps using their Java SDK are still using Java 8 (https://newrelic.com/resources/report/2022-state-of-java-ecosystem#toc-java-11-is-the-new-standard) but that's not entirely related to this thread.

If w

[2022-10-24 19:55] mthmulders commented on #794
Do we have any data on the protocol use of Java/Dapr users? How many of them use HTTP, vs. how many of them use gRPC? I don't think we should deprecate HTTP support only because we struggle to get the dependencies right.

How about this: we move *both* protocols out of the main **dapr-sdk** artifact.
* Those that want to use HTTP and are pre-Java 11 could use **dapr-sdk-java8** (the current implem

[2022-10-25 12:11] michapojo commented on #802
Further informations:
It seems that the root cause of the problem is the save state operation.
https://github.com/dapr/java-sdk/blob/master/sdk/src/main/java/io/dapr/client/DaprClient.java#L480

When i insert a integer value manually into the db, the value is returned correctly

[2022-10-25 20:43] johnewart commented on #794
As much as I would love it, I suspect there is not much beyond anecdotal data points. From my perspective this proposal is actually somewhat independent of the Java SDK in that the underlying question is "why do we (Dapr) support HTTP as a transport protocol in the SDKs?" but it just happens to solve two problems at once in this case.

Deprecating HTTP in this case (from my perspective) just also

[2022-10-26 17:23] zerohours opened #803 "Not work wit spring boot gateway cloud"
I works with spring-boot 2.7.5 and Java SDK 17, using dapr-sdk 1.6.0 or 1.7.0.

but when I use next dependency:

`<dependency>`
    `<groupId>org.springframework.cloud</groupId>`
    `<artifactId>spring-cloud-starter-gateway</artifactId>`
`</dependency>`

with

`<spring-cloud.version>2021.0.4</spring-cloud.version>`

The project was not running and show this problem:

--- -----------
 :: Spring Bo

[2022-10-27 00:16] tanvigour commented on #785
I like the idea of splitting into http and grpc and keeping common features as a separate piece.
Although, while contributing to these products here on, we will need to be extremely careful of separation of concerns. How do we plan to address redundancy caused by splitting into three different components and adding more code to these in future?

[2022-10-31 13:00] Gonzoe79 commented on #766
Hi,

let me jump in for @javageek79 and answer your question, since i took over the bug in our project.

we are running multiple parallel springboot tests. when we configure surefire to forkmode=always (create a new jvm for each test) we don't get the runtime excception. running parallel springboot tests worked fine in 1.5.0 and is the default behaviour when buiulding spring applications with mave

[2022-11-02 06:44] skyao commented on #794
This is what I'm trring to do in proposal https://github.com/dapr/java-sdk/issues/785

But this will introduce another problem: complexity!

![](https://user-images.githubusercontent.com/1582369/191152100-e924bc43-937f-46ac-ac5c-98c8e03903f8.png)

The simplest way is to remove dapr http api and use grpc only.

[2022-11-02 06:49] skyao commented on #794
Agree!

I would like to close my proposal https://github.com/dapr/java-sdk/issues/785 which is trying to better control the http and grpc dependencies and split the dapr java sdk project to many small projects.

We should resolve the problem by make things simple.

[2022-11-02 06:50] skyao commented on #785
This proposal will be canceled if we agree to only use dapr grpc api in java sdk and Deprecating HTTP API.

see https://github.com/dapr/java-sdk/issues/794.

[2022-11-02 07:26] mthmulders commented on #794
I am not in favor of removing HTTP support. Dapr [advertises the HTTP API](https://docs.dapr.io/getting-started/get-started-api/) quite prominently in the Getting Started Guide. As a result, I think it is something Dapr users expect to work when using the official Dapr SDK for Java.

I feel that by removing HTTP support purely because we struggle to get the dependencies right, we're moving "our" p

[2022-11-02 11:07] Piet2001 opened #804 "Missing csrf error --> 403 with subscriber"
## Ask your question here

When i have a post request in spring boot for the subscriber. It gives a 403 for missing csrf token from spring security.
Anyone with experiance how to work with this?

[2022-11-07 04:44] artursouza commented on #683
We plan to deprecate HTTP client in the next release and only offer gRPC.

[2022-11-07 04:54] artursouza commented on #767
Lowering priority since CloudEvent class can now be extended.

[2022-11-07 04:58] artursouza commented on #804
Does the spring application require an authentication token?

[2022-11-07 05:00] artursouza commented on #803
It shows ` io.grpc.netty.NettyChannelBuilder` as class not found. Have you tried adding it to the dependency chain?

[2022-11-07 05:03] artursouza commented on #794
As of now, the Java SDK is the only one that supports both protocols. There is no advantage to offer both and HTTP protocol is significantly slower than gRPC. If the community has feedback of scenarios where using the HTTP protocol under the Java SDK is required, we can stop the deprecation. BTW, we still plan to support service invocation over HTTP and the callback APIs in springboot, this is abo

[2022-11-07 05:06] artursouza commented on #786
I appreciate examples of how these could work. Not an expert in WebFlux but I do think the SDK should work better with Kotlin overall.

[2022-11-07 05:10] artursouza commented on #797
Overall I am inclined. But what would be the difference?

[2022-11-07 05:11] artursouza commented on #782
Great point, I think we should offer webflux but it should probably be a new artifact so it does not break existing users.

[2022-11-07 05:13] artursouza commented on #784
You can still use Subscribe if you implement the request handler directly on the app.

[2022-11-07 05:23] LionTao commented on #797
**That would allow writing actor interfaces in kotlin.**
Currently I want to write my actor implemtation in kotlin but I have to write a java actor interface to use the java sdk features.

[2022-11-07 08:19] Piet2001 commented on #804
Yeah, we have implemented a azure connection to verify user roles

[2022-11-07 15:08] artursouza commented on #766
We can make a change where it does not throw an exception if the defaultPath is already set to the same value.

[2022-11-07 19:00] #766 closed

[2022-11-08 14:33] Gonzoe79 commented on #766
thanks, i can confirm that the problem no longer exists with the new master version.
best regards

[2022-11-14 02:04] addjuarez commented on #681
/assign

[2022-11-19 06:28] mukundansundar commented on #797
@LionTao Will you be able to contribute a PR for this change?

[2022-11-21 08:13] LionTao commented on #797
Of course, created #812

[2022-11-21 08:45] mukundansundar commented on #797
@LionTao Could you provide some documentation link in the PR or in this issue which explains why `ElementType.Type` is needed for Kotlin?

[2022-11-21 09:22] LionTao commented on #797
It seems currently kotlin lacks some native java ElementType enum value according to [Kotlin docs](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin.annotation/-annotation-target/)

For my project, rewriting the ActorType annotation class with `ElementType.TYPE` will let it annotate a kotlin interface. Otherwise, the kotlin compiler throws an error that says `This annotation is not applicable to

[2022-11-28 20:16] johnewart commented on #783
Part of the underlying issue is that the HTTP binding explicitly treats non-200 status codes in the response as an error and returns an error object. This translates to the response data being lost in both the HTTP API and the gRPC API because the error condition causes the API to return no data (other than the error). I opened a PR in `components-contrib` to allow for setting a metadata field in

[2022-11-29 09:52] denis111 opened #815 "Reactor 3.5/2022.0.0 in Spring Boot 3 not supported"
## Expected Behavior

Publishing pubsub message with Dapr Java SDK 1.7.1 and Spring Boot 3 to work out-of-the-box.

## Actual Behavior

Publishing event fails with exception:

[code]

## Steps to Reproduce the Problem

Create Spring Boot 3 application, add Dapr client, try to publish anything to pubsub.

## Release Note

RELEASE NOTE: **UPDATE** reactore-core to v3.5.0.

### Suggested workaround