[2019-10-22 22:57] blublinsky opened #8 "Is there a way to subscribe to topic and get data"
## Ask your question here
An example here shows how to publish event, but provides no information on how to subscribe and receive events?
I can see Node and Python examples at https://github.com/dapr/samples/tree/master/4.pub-sub,
But they are not easily transferable to java

[2019-10-22 23:34] amanbha commented on #8
@blublinsky  The subscription in dapr is similar across all languages:
Dapr will call into the app over http or grpc.
1. The app should have a /subscribe route which will return a json list of Topics it wants to subscribe to (https://github.com/dapr/docs/blob/master/reference/api/pubsub.md#handling-topic-subscriptions)
2 Lets say, the app subscribes to 2 topics: Deposit & Withdraw, then the app al

[2019-10-22 23:39] amanbha opened #9 "Document the process for uploading Maven package to repository/"
This can be added to the wiki for the repo.

[2019-10-23 00:30] blublinsky commented on #8
Thanks @amanbha.
It is a bit confusing, because publish is a GRPC API, but subscribe is not. Why is it asymmetric?
I see some of the methods for subscribe are in GRPCClient, but they seem not been implemented .
Am I missing something?

[2019-10-23 00:38] amanbha commented on #8
@blublinsky I understand the confusion, allow me to explain a bit more detail. User App and Dapr can interact with each other over gRPC or HTTP. The Java SDK is autogenerated from the proto files of gRPC apis in Dapr runtime.
You can also make http calls directly to (publish the events to a topic)[https://github.com/dapr/docs/blob/master/reference/api/pubsub.md#publish-a-message-to-a-given-topic]

[2019-10-23 15:13] blublinsky commented on #8
Thanks @amanbha.
Did some more experiments. I finally realized that DaprClient.proto defines an interface that I need to implement to respond to Dapr requests. The issue that I am getting into with this approach is that I need 2 GRPC channels one for invoking DAPR and one for responding to DAPR request.
Is there a way to tell DAPR environment to use these 2 channels, defining which one to use for

[2019-10-23 16:44] blublinsky commented on #8
After more experimentations, it looks like, the right configuration is:
 dapr run --app-id scalaTest --grpc-port 50001 --app-port 50002 --protocol grpc --port 3500 -- sbt run,
but it does not work -
Caused by: io.netty.channel.AbstractChannel$AnnotatedConnectException: Connection refused: localhost/0:0:0:0:0:0:0:1:50001
If I remove
--app-port 50002 --protocol grpc
DAPR obviously does not know how

[2019-10-23 16:52] amanbha commented on #8
@blublinsky  The command looks correct, when you provide the --protocol grpc flag, the app-port is treated as gRPC port.  There will be 2 channels, App-> Dapr(Dapr runtime listening on port 50001) & Dapr->app(App listening on port 50002). It should have worked.
cc @yaron2 & @youngbupark for further help.

[2019-10-23 16:56] blublinsky commented on #8
I can provide a project if this will help

[2019-10-23 16:56] amanbha commented on #8
Thanks @blublinsky , that would be very helpful.

[2019-10-23 17:00] blublinsky commented on #8
[dapr.zip](https://github.com/dapr/java-sdk/files/3763533/dapr.zip)
Uploaded

[2019-10-23 17:01] blublinsky commented on #8
Its Scala, not Java, but should be the same

[2019-10-23 22:07] blublinsky commented on #8
With more experiments it looks like Dapr currently does not support bidirectional communications with an applications.
Additionally, once this is fixed, feel free to use this example as scala APIs

[2019-10-23 22:10] yaron2 commented on #8
Hey @blublinsky , in order for Dapr to talk to your app via gRPC, your app needs to implement the daprclient service.
For Java/Scala, that would be:

https://github.com/dapr/java-sdk/blob/master/src/main/java/io/dapr/DaprClientProtos.java

See this document on how to use gRPC and Dapr:
https://github.com/dapr/docs/tree/master/howto/create-grpc-app

[2019-10-23 22:18] blublinsky commented on #8
Its implemented, take a look at the code provided and works by itself.
The issue is that bidirectional communications do not work. I can either talk to runtime or receive runtime messages, but not both in the same app

[2019-10-23 22:33] yaron2 commented on #8
In gRPC bidirectional communications implies a streaming nature, but that's just a design decision.

For example, Dapr will call your app on the `GetTopicSubscriptions ` method to get your topic subscriptions, and then when a message comes it will call you via `OnTopicEvent`.

Regardless, you could publish a message by invoking Dapr over gRPC with the `PublishEvent` method.

[2019-10-23 22:37] blublinsky commented on #8
But it does not work. Please, take a look at enclosed code. I might be missing something,but I am creating two channels - one for listening on Dapr and one for accessing Dapr. each channel works by itself, but both in one app fail

[2019-10-23 22:38] yaron2 commented on #8
Yeah I'll take a look and report back.

[2019-10-23 23:14] youngbupark commented on #9
@shalabhms I think it would be good to have actions ci as well.

[2019-10-23 23:15] youngbupark opened #10 "Set up GitHub Actions workflow for java-sdk build and publish"
## Describe the proposal

Set up GitHub Actions for java-sdk build and publish

* [x] Create workflow for build
* [x] Create workflow for publish

[2019-10-25 19:14] blublinsky commented on #8
@yaron2 any feedback on this?
Also, is there are example of using Actors?

[2019-11-07 21:06] ji11er opened #11 "Is there a sample which uses the actor pattern?"
I wish I had a sample that uses the actor pattern.

[2019-11-07 21:42] amanbha commented on #11
Currently there is no Java sample which uses Actor pattern, we will create a SDK with Actor runtime for Java similar to [dotnet-sdk](https://github.com/dapr/dotnet-sdk)

[2019-11-07 22:06] ji11er commented on #11
I thought so. I got in touch with you via Ricardo, I wanna use dapr for the solution I have to build up. I would like to contribute to create the SDK. I already started with some classes but would need some support. Whom to contact?

[2019-11-08 00:04] amanbha commented on #11
@ji11er You can work with me.

[2019-11-08 00:05] amanbha commented on #11
@ji11er You can work with me.

[2019-11-08 22:37] ji11er commented on #11
@amanbha can we get somehow private messaging established?

I would start to create issues and also a WIP pull request, simply to clarify if the code style matches.

I'm using currently the dotnet sdk as a template, but I have a question. see the following snippet from the ActorProxy.cs:
`        /// <summary>
        /// Creates a proxy to the actor object that implements an actor interface.

[2019-11-08 22:50] amanbha commented on #11
Sure, please send me a  meeting invite at amanbha@microsoft.com and we can discuss

[2019-11-10 21:36] ji11er commented on #11
I'll do so

[2019-11-10 21:36] #11 closed

[2019-11-10 21:37] ji11er commented on #11
clear to me

[2019-11-10 21:45] ji11er opened #12 "create the actor and related classes according the documentation as base for the java client sdk"
## What to do?

The actor as a basic principle of the concept needs to be created for the java-sdk. According to documentation and existing implementation in C#.

Class names, methods, types ... should be named similarly to avoid confusion.

Work on a plan and discuss with the maintainer.

[2019-11-30 06:44] brunoborges opened #13 "Steps to regenerate Protobuf classes"
## Describe the proposal
What were the steps followed to generate the protobuf classes?

[2019-12-01 07:56] artursouza opened #15 "[WONTFIX] Use Gradle instead of Maven as build tool"
## Move to Gradle for build

I used Maven and Gradle in the past (not recent, though). I see Gradle has some benefits over Maven:
+ Faster build for same tasks.
+ Syntax in Groovy instead of XML.
+ UX is command-line first instead of IDE first.
+ Better dependency conflict resolution.

https://gradle.org/maven-vs-gradle/

[2019-12-01 07:58] artursouza commented on #13
I am new to this code base as well. I see you have a PR and it re-generated some protobuf code. Can you share some insights?

[2019-12-01 20:42] deemkeen commented on #15
I highly disagree on Grade being a better build tool.

- Regular Java developers don't know Groovy
- Maven pom.xml is declarative, which is good for configurations, Gradle gives you too much freedom here
- The plugin variety and support is better in Maven
- The tooling support is also better

[2019-12-02 14:03] brunoborges commented on #15
True. Maven is well known by most Java developers and unless you seek less contributions, you should stick to Maven.

1. Faster built time with Gradle is really only interesting if you are going to get Gradle Enterprise (paid) on a CICD environment. Otherwise, there isn't much value. Besides, this project is small.
1. Groovy syntax can be great for experienced developers. XML configuration for Mav

[2019-12-02 14:44] brunoborges commented on #15
Another important note is that Gradle does not support Java modularity (Java 9+ JPMS), Maven does.

You may want to ping @jonathangiles, the Java Architect of the Azure SDKs for more input on Gradle vs Maven.

[2019-12-03 22:54] artursouza commented on #15
The deal breaker to use Gradle, IMO, is that it is not widely used in the Java community. We want to avoid creating artificial barriers for contributors.

Unless anyone has strong arguments pro Gradle, we will post-pone this change.

[2019-12-03 22:56] amanbha commented on #15
Agree with this decision, low friction for devs.

[2019-12-04 02:25] artursouza opened #16 "[java-sdk] Repackaging proposal to support Actors"
## Repackage the project into different projects (jars) and add support for Actors.

### Proposed packages with corresponding jar name and java packages.

#### 1. dapr-sdk-*version*.jar

Single project that clients can depend on to use Dapr in Java. There should be minimal (or none) use of 3rd party dependencies.

**Java Packages:**
io.dapr.client -> core interfaces and classes to communicate to D

[2019-12-04 02:42] artursouza opened #17 "What should be the minimum Java version supported by Dapr SDK?"
** What should be the minimum Java version supported by Dapr SDK?

I recommend Java 8 since it is the previous LTS version and still the most used version. Java 11 is the latest LTS version.

https://www.jetbrains.com/lp/devecosystem-2019/java/

[2019-12-04 03:25] amanbha commented on #17
I propose to use the latest version Java 11, since this project is starting fresh, lets use the latest version, Once we start supporting Java8, we will have to support it for the foreseeable future.  We can talk to customers who are using older Java version to understand the issues in upgrading . If there is a tremendous need for it, then we can switch back to Java 8.
For dotnet, we chose to use l

[2019-12-04 03:28] artursouza commented on #17
My concern is to hurt adoption by not being compatible with Java 8. On the other hand, for apps that are still in Java 8, how realistic is it to expect them to use Dapr? There might be some legacy apps there nobody wants to touch. I see both sides.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Aman Bhardwaj <notifications@github.com>
Sent: Tuesday, December 3,

[2019-12-04 20:41] JonathanGiles commented on #17
I would recommend Java 8. It is unfortunate, but it is the right choice right now. It is the baseline we are using for all Azure SDKs.

[2019-12-05 21:38] artursouza commented on #17
We have decided to go with Java 8 for the Dapr SDK and Java 11 in the examples.

[2019-12-05 21:38] #17 closed

[2019-12-05 21:48] amanbha commented on #17
@artursouza Could you please add a decision record for this under https://github.com/dapr/dapr/tree/master/docs/decision_records/sdk and link it in this .md https://github.com/dapr/dapr/blob/master/docs/decision_records/decision_records.md

[2019-12-06 02:46] artursouza opened #19 "[java-sdk] Adds checkstyle and bug finder"
* Adds a checkstyle to Java SDK and make build fail due to style violations.
* Adds [SpotBugs](https://spotbugs.github.io/) and make build fail due to violations.
* Fixes existing violations.
* Generated code should be excluded from static analysis.

[2019-12-06 02:47] artursouza opened #20 "[java-sdk] Code coverage"
* Check for code coverage in Java SDK and output current line and branch coverage.
* Fail build if line or branch coverage is < 80% (examples excluded)

* Keep coverage threshold under 80% for this issue. We will switch to 80% in the end.

[2019-12-06 02:51] artursouza opened #21 "[java-sdk] Create Dapr's HTTP Client"
NEW SCOPE:
Manually create http client for Dapr's APIs.

OLD SCOPE:
* Auto-generate http client from Dapr's OpenAPI definition (https://swagger.io/specification/)
* If needed, create OpenAPI definition in Dapr/dapr to seed auto-generation for any language.

[2019-12-06 02:53] artursouza opened #22 "[java-sdk] Dapr's base Client"
* Define interface for the Dapr's Client - wrapper on top of the auto-generated code.
* Implement Adapter for GRPC.
* Implement Adapter for HTTP.

Detail below:

Interface DaprClient { // customer will use this interface.
// methods defined as part of this work.
// actor APIs re defined here too.
}

Class GrpcDapClient implements DaprClient { // customers don’t talk to this one directly
  DaprGrpc

[2019-12-06 02:55] artursouza opened #23 "[java-sdk] Add builder classes for Dapr's Client"
Implement Builder class for:
* Create Client on top of HTTP generated code.
* Create Client on top of GRPC generated code.

[2019-12-06 02:56] amanbha commented on #21
Linking to https://github.com/dapr/dapr/issues/16

For now, we can handcraft the http calls as we have few http calls. Autogenerated ones will need to be wrapped.

[2019-12-06 02:59] artursouza opened #24 "[java-sdk] Create ActorProxy"
1.	Create the ActorProxy methods on the Java SDK, modeling it after the [Dotnet proxy](https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Actors/Client/ActorProxy.cs). It should only implement non remoting invocation methods, basically all InvokeAsync. Non remoting invocation is [explained here ](https://github.com/dapr/dotnet-sdk/blob/master/docs/get-started-dapr-actor.md#invoke-actor-method

[2019-12-06 03:03] artursouza opened #25 "[sample] Add sample for Actors"
Create a sample (in dapr/java-sdk) showing all features of Actors in Java:

1.	Once all features for Actors in Dapr’s Java SDK are available, implement a sample showing how to use all Actor features. Sample using the SDK will be in this repo.
2.	Add documentation, so users can execute in Windows, Linux and MacOS.
3.	Add the original files used to generate any image, so external contributors can up

[2019-12-06 03:08] amanbha commented on #25
Let's keep Java samples using the SDK  in java-sdk repo. Language specific samples using SDKs will be in their respective repos. C# samples using SDKs are in dotnet-sdk.repo.
It would be easier to maintain in single repo when API breaking changes are introduced and they remain correctly versioned.

[2019-12-06 03:15] #15 closed

[2019-12-06 19:50] #16 closed

[2019-12-08 08:59] artursouza opened #26 "New example using Invoke over Grpc"
Create a new example using Invoke over Grpc
Add README.md with instructions.

[2019-12-09 18:23] #26 closed

[2019-12-09 18:51] artursouza opened #28 "[java-sdk] Dapr HTTP Client for Actors"
Create a Dapr client to make http calls directly (without using auto-gen client).
Implement all APIs needed to support Actors.

This overlaps with #22. While issue #22 will create a complete version of the Dapr client for Java, this one will unblock Actors work first, making HTTP calls directly.

[2019-12-09 18:54] artursouza opened #29 "[java-sdk] Java Actor runtime"
Creating the Java Actor runtime classes, similar to the one in the Dotnet sdk.

Implementing the API endpoints for the SDK. The business logic should be (preferably) identical to the one in the Dotnet SDK.

Following are some of the few classes in C# SDK;

ActorRuntime: This is the actor runtime in SDK and contains information about registered types. It contains a mapping of ActorType and ActorMan

[2019-12-09 19:20] artursouza opened #30 "[java-sdk] New jar to allow Dapr's callback API in SpringBoot"
A SpringBoot Application can easily depend on this jar and have Dapr's callback API running with a simple configuration change and implementing a base class/interface.

As an alternative to a base class, annotations can also be used, similar to how the .Net SDK does with ASP.Net.

[2019-12-09 19:27] artursouza opened #31 "[java-sdk] Sample app using SpringBoot"
Create a sample app with SpringBoot using the SpringBoot specific jar from Issue #30 .

[2019-12-09 19:33] artursouza opened #32 "[java-sdk E2E] Create E2E foundation for Java-SDK"
Create a E2E test foundation, so dapr's SDK can be tested with Dapr:
1. E2E tests run in standalone mode.
2. E2E tests can be kicked-off from PR comment (similar do dapr/dapr E2E).
3. All E2E code is written in Java, including sample apps.
4. Implement one hello-world test case, showcasing E2E tests for Java-SDK.

[2019-12-09 19:36] artursouza opened #33 "[java-sdk E2E] Actor activation/deactivation test"
Implement tests for java-sdk following same requirements as dapr/dapr#820:

Dapr config should be changed to support configuration and allow short time out (5s).
Implement a fake application listening to dapr.
app should implement actor related controller methods.
app should implement an extra method to return a "log" of events.

Add logic to add log entries for this test.
After actor is activated

[2019-12-09 19:38] artursouza opened #34 "[java-sdk e2e] Actor features tests"
Implement E2E tests for Java-SDK following requirements as per dapr/dapr#821

Applicable scenarios:
Test 1: Actor Reminder
 Test 2: Actor Timer
 Test 3: Turn based concurrency when calling the same method from same actor ID
 Test 4: Turn based concurrency when calling the same method from different actor IDs
 Test 5: Actor - user service failover from 1 node to another

[2019-12-09 20:45] artursouza opened #35 "[java-sdk] Doc how Dapr Java applications can be run/debug locally"
Add to Java-SDK documentations instructions on how to debug a Java app using Dapr. It does not need to use the next version SDK, existing Grpc or "raw" HTTP calls is enough to showcase debugging.

[2019-12-09 20:49] artursouza commented on #12
We are working on this as part of a project now. I will close this as duplicate of Issue #29 as a reference but other issues also overlap.

[2019-12-09 20:49] #12 closed

[2019-12-09 21:03] artursouza opened #36 "[java-sdk] Create examples for Bindings in Http and Grpc"
One example app for Dapr Bindings using Http.
One example app for Dapr Bindings using Grpc.
Documentation as README.md

[2019-12-09 21:04] artursouza opened #37 "[java-sdk] Create example for Dapr PubSub"
One example app for Dapr PubSub using Http.
One example app for Dapr PubSub using Grpc.
Documentation as README.md

[2019-12-10 06:11] ji11er commented on #12
Hi Artur, I created a lot of classes already. Will you consider to use some
of them?

Artur Souza <notifications@github.com> schrieb am Mo., 9. Dez. 2019, 21:49:

[2019-12-10 07:29] artursouza commented on #12
I would like to check what you have. Can you send me the link? We are just getting started so this is the right moment to bring in your code.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: ji11er <notifications@github.com>
Sent: Monday, December 9, 2019 10:11:50 PM
To: dapr/java-sdk <java-sdk@noreply.github.com>
Cc: Artur Souza <artursouza.ms@outlook.com>; State

[2019-12-10 07:43] ji11er commented on #12
Hi Artur,

I will create a branch and create a pull request. I will also create a
Readme to deal with my code. You will have it tonight.

Regds,

Swen

On Tue, 10 Dec 2019 at 08:29, Artur Souza <notifications@github.com> wrote:

[2019-12-10 20:52] amanbha commented on #12
I would suggest to use java_sdk_wip branch. This branch can be merged to master branch for release. Folks work in their forks, but they should merge back into  java_sdk_wip branch to collaborate.

[2019-12-11 21:00] artursouza commented on #21
It seems that we don't have the OpenAPI specs ready to complete this task.

[2019-12-11 21:01] artursouza commented on #22
We have auto-generated client in Grpc and one manually generated for HTTP. This base client can sit on top of those now.

[2019-12-11 21:04] #28 closed

[2019-12-11 21:11] artursouza commented on #13
I have changed the code to not version control the auto-generated files and copies the proto files instead. A simple compile task will generate the protobuf files. The documentation should be updated to reflect that and mention that to update the proto files, there should be a copy from dapr/dapr into this repo (maybe also create a maven task to download this automatically).

[2019-12-11 21:13] artursouza commented on #8
We activelly working on the Java-SDK now. We do have examples in this repo now:

https://github.com/dapr/java-sdk

For the WIP on the Java-SDK, follow https://github.com/dapr/java-sdk/tree/java_sdk_wip

[2019-12-12 08:56] brunoborges commented on #13
Using git submodules is not ideal as it requires constant update of the commit hash where the submodule refers to.

A task to download may be the best solution, unless the protobuf generator can consume remote URLs

[2019-12-14 01:12] #35 closed

[2019-12-16 11:18] ji11er commented on #24
can you assign it to me?

[2019-12-18 00:00] artursouza commented on #21
I have changed the scope of this task to not use the auto-generated version since we don't have service API specs for that yet. It can be simply be manually created right now.

[2019-12-19 21:05] artursouza commented on #30
@ji11er

[2019-12-20 19:23] JuanJose-Herrera commented on #24
Hi All, I will start to work in the ActorProxy methdos

[2019-12-21 08:40] ji11er commented on #30
Hi Artur,
I assume I follow the spec written here:
https://github.com/dapr/docs/tree/master/reference/api

right?,

Thanks

[2019-12-23 19:50] mestizoLopez commented on #21
Can you assign me please?

[2019-12-25 02:49] SoMeDay-Zhang opened #59 "java.util.concurrent.ExecutionException: io.grpc.StatusRuntimeException: UNIMPLEMENTED: Method not found: dapr.Dapr/PublishEvent"
## I use java-sdk create a demo for grpc publish event,and this demo host a grpc server ,but i get error as title .

## dapr version:0.3.0

[2019-12-25 11:11] #59 closed

[2019-12-30 20:15] yaron2 opened #64 "Change DaprClient generic classes with correct Dapr API structures"
The current [DaprClient](https://github.com/dapr/java-sdk/blob/java_sdk_wip/sdk/src/main/java/io/dapr/client/DaprClient.java) doesn't expose or conform to the Dapr API.

The generic classes that are currently used require the user to hand-craft the payload sent to Dapr.
An SDK should encapsulate the Dapr API surface into strongly-typed classes for ease of use and understanding.

A partial list of

[2019-12-30 20:22] yaron2 opened #65 "Enable gRPC port for ClientBuilder"
The ClientBuilder [always looks](https://github.com/dapr/java-sdk/blob/c571ac6ba6f7ba3416fa3a96883e1ae93a241ab9/sdk/src/main/java/io/dapr/client/AbstractClientBuilder.java#L45) for the Dapr HTTP env port, regardless if the the Client itself is HTTP or gRPC based.

[2019-12-30 20:31] yaron2 opened #66 "Reach parity with Dapr features"
## Describe the proposal

Missing functionality that needs to be addressed:

1. Subscribe to topics
2. Bindings callbacks
3. Service invocation callback

I assume this is likely to be implemented in DaprClient

[2019-12-30 20:36] yaron2 commented on #66
These are currently manually implemented by the user by either exposing a web server with the required endpoints, or implementing the `daprclient` gRPC interface.

[2020-01-03 04:51] JuanJose-Herrera commented on #20
I add the JaCoCo tool in the PR https://github.com/dapr/java-sdk/pull/67 that helps to measure the coverage of the unit testing, but right now the rules are disabled in order to allow the project to compile successfully and to be able to compile the examples. We will need to enable these rules in the near feature when we have more unit tests for all the code.

[2020-01-06 18:38] artursouza commented on #66
Thanks, Yaron. I am aware of these gaps. Thanks for creating the issue.

[2020-01-06 18:40] artursouza commented on #64
Thanks, we found this out recently. We will keep this issue open as a quality check for our project closure.

[2020-01-06 18:40] artursouza commented on #65
Thanks!

[2020-01-06 20:26] artursouza commented on #37
Code should work for both GRPC and HTTP since there is a common layer.

[2020-01-06 20:27] artursouza commented on #37
Start the documentation for examples.

[2020-01-06 20:28] artursouza commented on #37
Documentation should follow style used in https://github.com/dapr/samples

[2020-01-06 20:29] artursouza commented on #37
One app to publish events.
Another app to receive events.

[2020-01-06 20:29] artursouza commented on #37
Use kafka.

[2020-01-07 19:20] #21 closed

[2020-01-08 22:13] artursouza opened #72 "Review all 3rd party dependencies"
## Expected Behavior

Dapr's java-sdk has 3rd party dependencies.

## Actual Behavior

Move them to an approved version/alternative when possible and identify exceptions.

Approved libraries should be in one of the references below:
https://azure.github.io/azure-sdk/java_implementation.html#dependencies
https://github.com/Azure/azure-sdk-for-java
https://github.com/Azure/azure-cosmosdb-java
(any o

[2020-01-08 22:19] artursouza opened #73 "Split Actor features in a separate jar"
Remove all Actor-related features out of dapr-sdk.jar into dapr-sdk-actors.jar and make it an optional dependency.

[2020-01-11 01:12] LMWF commented on #36
This PR shows input and output bindings with http:
https://github.com/dapr/java-sdk/pull/81

[2020-01-11 01:15] LMWF commented on #66
The part of this issue related to bindings: https://github.com/dapr/java-sdk/pull/81/

[2020-01-11 01:20] LMWF opened #82 "Revisit locking in the sdk"
There were discussions earlier about what areas need locks and which do not, because of turn-based concurrency.  I believe the conceptual discussions were resolved.  This issue is just a reminder to revisit locking in the code to ensure we are not locking where we do not need to.

[2020-01-13 19:44] marcosreyes05 commented on #36
Taking this one

[2020-01-13 20:53] artursouza opened #85 "Unit tests for stateless actors"
Cover unit tests for the following scenarios for stateless actors:

Inheritance | Input Type | Output Type | State management (CRUD operations) | Exception in Actor's methods | Exception in Actor's runtime | Custom Serializer
-- | -- | -- | -- | -- | -- | --
No | String | String | No | No | No | No
No | String | Boolean | No | No | Yes | No
No | String | void | No | Yes | No | No
No | Class | Clas

[2020-01-13 20:55] artursouza opened #86 "Unit tests for stateful actors"
Cover unit tests for the following scenarios for stateful actors:

Inheritance | Input Type | Output Type | State management (CRUD operations) | Exception in Actor's methods | Exception in Actor's runtime | Custom Serializer
-- | -- | -- | -- | -- | -- | --
No | String | String | Yes | No | No | No
No | String | String | Yes | No | Yes | No
No | String | String | Yes | Yes | No | No
No | Class | C

[2020-01-13 20:59] artursouza commented on #29
Unit tests to close on this issue: https://github.com/dapr/java-sdk/issues/85 https://github.com/dapr/java-sdk/issues/86

[2020-01-13 21:03] artursouza opened #87 "[Java SDK] Create example for method invocation"
Create one example showing how to invoke a service method.
Provide documentation via README.md

[2020-01-13 21:07] artursouza commented on #9
@youngbupark  This issue sees to be related to the CD work.

[2020-01-13 21:08] yaron2 commented on #9
@shalabhms can help out here

[2020-01-13 23:21] youngbupark opened #89 "[java-sdk] Set up CI to build and test"
This issue is to set up github actions CI to build and test java-sdk.

* [x] Create GitHub actions to build and test
* [x] Add PR build policy

[2020-01-13 23:22] youngbupark opened #90 "[java-sdk] define release process and set up CD to Nexus repo"
This is to set up cd pipeline to deploy java sdk to GitHub Package for master branch.

[2020-01-14 19:06] marcosreyes05 commented on #87
I can take this one

[2020-01-14 19:52] artursouza opened #98 "Integration test for state"
Validate state store features in Java-SDK.

[2020-01-14 19:52] artursouza opened #99 "Integration test for bindings"
Validate bindings e2e in java sdk.

[2020-01-14 19:53] artursouza opened #100 "Integration tests for method invocation"
Validate method invocation in Java SDK.

[2020-01-15 19:05] artursouza opened #101 "Move method logic inside Mono for GRPC Adapter"
## Expected Behavior

There should be no state or API call outside Mono.

## Actual Behavior

Code in GRPC Adapter is making API call outside Mono.

## Steps to Reproduce the Problem

As example, create an unit test for publishEvent() method doing the following:

1. Have a futureClient mock and create the GRPC adapter instance.
2. Call publishEvent() to get the Mono object but do NOT call block()

[2020-01-16 19:36] mestizoLopez commented on #99
Can you add assign me please?

[2020-01-16 19:41] marcosreyes05 commented on #37
I can take this one

[2020-01-16 19:51] artursouza commented on #31
Current examples already use SpringBoot. dapr-sdk-springboot.jar will not be published anymore, users will only import dapr-sdk.jar and existing code from dapr-sdk-springboot.jar will be moved into examples.

[2020-01-16 19:51] #31 closed

[2020-01-16 19:53] marcosreyes05 commented on #25
I can help

[2020-01-16 19:56] artursouza commented on #25
Existing example works with timer, reminder, method invocation. We need to state state (put and get). Add documentation. Move it outside http folder.

[2020-01-16 20:02] artursouza commented on #10
This is completed after recent PRs.

[2020-01-16 20:03] #10 closed

[2020-01-17 20:36] artursouza opened #116 "Integration test for PubSub"

[2020-01-17 22:28] youngbupark commented on #90
@artursouza @amanbha @shalabhms  @LMWF

* Release process: https://github.com/dapr/java-sdk/wiki/Release-Process
* Cert Rotation: https://github.com/dapr/java-sdk/wiki/Manage-OSSRH

I'm closing this issue.

[2020-01-17 22:28] #90 closed

[2020-01-17 22:29] #89 closed

[2020-01-17 22:32] artursouza opened #120 "Move DaprRuntime to test only + add CloudEvent serializer"
DaprRuntime and related classes in io.dapr.runtime are not supposed to be exported as part of the SDK yet. Customer feedback is needed before we can offer a prescriptive solution like that.

On the other hand, offer a way for user to deserialize CloudEventEnvelope to process PubSub messages.

[2020-01-18 04:02] artursouza opened #123 "Use byte[] for customer data and serialization/deserialization"
In some places of the code we refer to Object, byte[] or String, including in the deserialization. Be consistent and always use byte[].

--Feedback from design review

[2020-01-20 07:35] artursouza opened #125 "Provide support for custom serializer"
Allows users to plug-in their own serializer, still offering a default implementation when null.

[2020-01-20 07:37] artursouza opened #126 "Hide actor APIs from DaprClient"
DaprClient exposes actor APIs even though they are not for direct consumption. Move the APIs into internal classes in the Actor SDK.

[2020-01-20 07:38] artursouza opened #127 "Use Object instead of generics for Serialization"
Serialize() methods don't need to use generics, just receive an Object.

[2020-01-20 07:43] artursouza opened #128 "Simplify Serializer"
Change default serializer to be straight JSON and not have a custom logic to handle primitive types.

[2020-01-20 07:48] artursouza opened #129 "Remove unnecessary Actor interface"
Actor interface is not needed. Remove it and change examples and tests accordingly.

[2020-01-21 18:46] artursouza opened #132 "Have separate serializer for state store"
Today, the code is supporting a single custom serializer for both transient and persisted objects. The goal is to allow customers to provide two different serializers instead: one for transient objects and another one for persisted objects.

At this point, the same serializer interface can be used for both.

[2020-01-21 18:46] shalabhms opened #133 "Updating new proto files from dapr repo"
There are new Proto files after multi state stores support , which causes breaking changes in state API.

So need to update Proto files from Dapr runtime for gRPC  in java-sdk

[2020-01-22 19:59] artursouza commented on #99
Install Kafka manually in the dev machine. The build automation will install that too.

[2020-01-22 21:30] youngbupark opened #141 "Install Kafka before running integration test in CI"
## Describe the proposal

For #99 , CI needs to install kafka before running integration-test.

[2020-01-23 19:53] artursouza commented on #65
Change to use the right port is in. Change to use GRPC instead of HTTP is separate.

[2020-01-23 19:53] #65 closed

[2020-01-23 19:54] artursouza opened #143 "Use GRPC for non-actor API calls"

[2020-01-24 16:10] AndresRoblesMX commented on #100
@artursouza is anything else needed for method invocation that what I did for the Activate/Deactivate Integration test?
https://github.com/dapr/java-sdk/pull/144

[2020-01-24 16:13] AndresRoblesMX commented on #33
Is something else neeed beyon this what was done in this PR? https://github.com/dapr/java-sdk/pull/144

[2020-01-24 17:02] artursouza commented on #100
This is for non Actor API.

[2020-01-24 22:40] #66 closed

[2020-01-24 22:40] #23 closed

[2020-01-24 22:40] #22 closed

[2020-01-24 22:40] #73 closed

[2020-01-24 22:40] #30 closed

[2020-01-24 22:41] #24 closed

[2020-01-24 22:41] #86 closed

[2020-01-24 22:41] #32 closed

[2020-01-24 22:41] #29 closed

[2020-01-24 22:41] #120 closed

[2020-01-24 22:41] #141 closed

[2020-01-24 22:41] #132 closed

[2020-01-24 22:41] #129 closed

[2020-01-24 22:41] #128 closed

[2020-01-24 22:42] #127 closed

[2020-01-24 22:42] #126 closed

[2020-01-24 22:42] #125 closed

[2020-01-24 22:42] #123 closed

[2020-01-24 22:42] #85 closed

[2020-01-24 22:42] #101 closed

[2020-01-24 22:42] #98 closed

[2020-01-24 22:44] #33 closed

[2020-01-24 22:45] #99 closed

[2020-01-24 22:47] #36 closed

[2020-01-24 22:47] #87 closed

[2020-01-24 22:47] #37 closed

[2020-01-26 01:29] artursouza opened #157 "Fix flaky IT for Actor activate and deactivate"
The IT to activate and deactivate is flaky. Even if it works locally, it fails to find actor type in GitHub actions.

Solution might be using Thread.sleep() or change how dapr is kicked off.

[2020-01-26 01:30] artursouza opened #158 "Fix IT for bindings"
Bindings IT does not work. When it runs dapr, it seems that dapr is not listening on the http port and calls to it are rejected.

[2020-01-27 19:11] artursouza opened #159 "IT leak daprd and java processes"
## Expected Behavior

When I run ITs on my machine, all spawn processed and child processes should end once the tests finish.

## Actual Behavior

When I run ITs on my machine, only dapr cli executable is killed, child processes remain running after ITs are finished.

## Steps to Reproduce the Problem

Run ITs and look for daprd and java processes in your OS.

[2020-01-29 00:15] #159 closed

[2020-01-29 01:38] #158 closed

[2020-01-29 03:05] artursouza commented on #72
$ mvn dependency:list -DexcludeTransitive | egrep "compile|test|provided|runtime" | sort | uniq
[INFO]    com.fasterxml.jackson.core:jackson-databind:jar:2.9.10.1:compile
State: Old version.
Action: Upgrade to 2.10.1 as per Azure's Java SDK.

[INFO]    com.github.gmazzo:okhttp-mock:jar:1.3.2:test
[INFO]    com.github.gmazzo:okhttp-mock:jar:1.3.2:test
State: Not in Azure's SDK. MIT License
URL: htt

[2020-01-29 03:05] artursouza commented on #72
List of direct dependencies from Azure SDK:
asouza@ASOUZA-DESKTOP MINGW64 /c/GitHub/Azure/azure-sdk-for-java (master)
$  mvn -f pom.data.xml dependency:list -DexcludeTransitive | egrep "compile|test|provided|runtime" | sort | uniq
[INFO]    com.fasterxml.jackson.core:jackson-databind:jar:2.10.1:compile
[INFO]    com.fasterxml.jackson.datatype:jackson-datatype-jsr310:jar:2.10.1:compile
[INFO]    co

[2020-01-29 06:23] #34 closed

[2020-01-29 18:07] #72 closed

[2020-01-29 19:28] artursouza commented on #13
I had discussed this with some folks. The Java proto files might be behind the master proto intentionally. The scenario is the one we have now where there is a breaking change in master branch but it is still not stable yet. We might need to download from a release branch to kind of guarantee an immutable proto file.

[2020-01-29 19:39] #20 closed

[2020-01-29 19:47] #116 closed

[2020-01-29 23:27] artursouza commented on #64
Current state of the DaprClient interface in Java SDK's master branch:
- GetState: consistency, concurrency, retry and etag. Complete.
- DeleteState: consistency, concurrency, retry and etag. Complete.
- SaveState: consistency, concurrency, retry and etag. Complete.
- OutputBinding: data is present but metadata is missing. Not complete.
- Invoke Service: data and metadata are present. Complete.
-

[2020-01-30 00:09] #157 closed

[2020-01-30 00:13] artursouza opened #170 "Support dapr 0.4 in Java SDK"
The Java SDK only works with dapr 0.3.

Change proto files and fix code to use dapr 0.4:
+ Support for multiple state stores.

[2020-01-30 19:14] Haishi2016 opened #174 "lack of gradle instructions"
doc should provide gradle instructions in parallel with maven instructions

[2020-01-30 19:35] Haishi2016 commented on #174
Or, we can remove all gradle references as we use maven in the projects.

[2020-01-30 19:49] artursouza opened #177 "Site for JavaDocs"
## Expected Behavior

Have a static site with index.html that refers to all JavaDocs in the project.

## Actual Behavior

mvn site crashes.

## Steps to Reproduce the Problem

mvn site

[2020-01-30 20:00] artursouza opened #178 "Reduce verbosity for Grpc libraries in Java SDK"
## Expected Behavior

When using GRPC (IT or examples), the output is verbose because it prints DEBUG

## Actual Behavior

Only print INFO and above.

## Steps to Reproduce the Problem

Run any example or IT that uses Grpc.

[2020-01-30 20:10] #82 closed

[2020-01-30 21:06] Haishi2016 opened #180 "problems with http invoke sample"
https://github.com/dapr/java-sdk/tree/master/examples/src/main/java/io/dapr/examples/invoke/http

1. Incomplete sentence: This sample uses the Client provided in Dapr Java SDK invoking a remote method. **Exposing the method**

2. "Dapr Cli" should be "Dapr CLI".

3. The "exposer service" doesn't sound good. Consider simply calling it "demo service".

4. "The Dapr's sidecar is the one that performs

[2020-01-30 21:14] Haishi2016 opened #181 "exception in http service invocation sample"
1. Launch server
2. Launch client
3. Observe both messages successfully sent
4. Wait
5. Observe exception on client console
[code]

[2020-01-30 22:51] artursouza commented on #174
This is for customers since gradle has significant presence.

[2020-01-30 22:54] artursouza commented on #181
I have observed this too. It seems to be a problem with the http client we use (or how we use it).

[2020-01-30 22:55] artursouza commented on #8
https://github.com/dapr/java-sdk/tree/master/examples/src/main/java/io/dapr/examples/pubsub/http

[2020-01-30 22:56] #8 closed

[2020-01-30 23:29] LMWF commented on #181
I think this is because it exits main().

[2020-01-30 23:43] artursouza commented on #181
Yes, but it should exit gracefully.

[2020-01-30 23:48] artursouza commented on #181
This might be related: https://github.com/square/okhttp/issues/3957

[2020-01-31 00:32] #25 closed

[2020-01-31 01:44] #180 closed

[2020-01-31 02:38] artursouza opened #185 "Test .net SDK with Java SDK for Actor methods"
## Expected Behavior

1. Actor in .Net calls method on Actor in Java for String type.
2. Actor in .Net calls method on Actor in Java for Integer type.
3. Actor in .Net calls method on Actor in Java for Class type.
4. Actor in Java calls method on Actor in .Net for String type.
5. Actor in Java calls method on Actor in .Net for Integer type.
6. Actor in Java calls method on Actor in .Net for Class

[2020-01-31 19:56] marcosreyes05 commented on #181
I can check on this one

[2020-01-31 19:56] marcosreyes05 commented on #178
I can review this one

[2020-01-31 20:00] marcosreyes05 commented on #174
I can take a look

[2020-01-31 23:20] #64 closed

[2020-01-31 23:26] artursouza commented on #9
Resolving this since @youngbupark did document it in a wiki after his contribution to our CI/CD pipeline.

https://github.com/dapr/java-sdk/wiki/Release-Process

[2020-01-31 23:26] #9 closed

[2020-02-01 00:12] artursouza opened #193 "Release Java SDK version 0.2.0-beta-1"

[2020-02-01 03:58] #193 closed

[2020-02-04 01:28] #174 closed

[2020-02-04 01:45] LMWF commented on #185
Clarification - in the list above, the type indicated is the type for both input and output.

[2020-02-04 01:46] LMWF commented on #185
These work as expected other than for the case where the input is a string type.  That scenario encounters the known extra pair of quotes issue.

[2020-02-04 03:08] #100 closed

[2020-02-04 21:31] #170 closed

[2020-02-04 21:32] artursouza commented on #133
Resolved in #199

[2020-02-04 21:32] #133 closed

[2020-02-04 21:32] artursouza commented on #177
Done: https://dapr.github.io/java-sdk/

[2020-02-04 21:32] #177 closed

[2020-02-04 21:37] artursouza opened #200 "Remove Maven dependency to run dapr for examples"
`dapr run` commands do not invoke `mvn` anymore and use `java -jar fatjar.jar` instead. It means the install command should generate a fatjar for examples.

[2020-02-04 21:40] artursouza opened #201 "Remove Maven dependency to run apps in ITs"
Integration tests invoke `dapr run` with a `mvn` command. Instead, invoke app using `java -jar fatjar.jar`. It means that all apps for ITs should be refactored in a separate project and be included in the output of `mvn install`.

[2020-02-04 21:43] artursouza commented on #13
It should be possible to automatically download the file from a URL. Then we just need to point to a file within a given commit ref in the URL and we have an immutable file to download from and have consistent behavior of the build pipeline.

@JuanJose-Herrera is looking into this now.

[2020-02-04 22:34] marcosreyes05 commented on #181
Hi @artursouza - This issue is triggered by the maven exec plugin and its way to handle threads. We can make the test go silent using the parameter "cleanupDaemonThreads" but I think this issue is out of the scope of dapr and its examples. Let me know what you think

[2020-02-04 22:36] LMWF opened #203 "Define and document exception behavior"
Define and document exception behavior.

For a better user experience we should define what types of exceptions can be thrown from the sdk and what the structure/format of the exception will be.

Decision points:
- whether or not to define new sdk-defined exceptions for different exceptions (e.g. for ones that from the dapr runtime with a dapr error code inside)
- whether to indicate by informatio

[2020-02-05 15:31] RicardoNiepel opened #206 "SpringBoot as first class integration"
## Describe the proposal

It would be awesome to have a first-class SpringBoot integration.
As first steps this could include
- Moving springboot classes out of examples and put these into separate library (like it was done with [Dapr.AspNetCore](https://github.com/dapr/dotnet-sdk/tree/master/src/Dapr.AspNetCore))
- Adding Dapr annotations, like `@Topic("message")` and generating "/dapr/subscribe"

[2020-02-05 15:35] RicardoNiepel opened #207 "Invoke GRPC sample arguments"
[HelloWorldService.java](https://github.com/dapr/java-sdk/blob/master/examples/src/main/java/io/dapr/examples/invoke/grpc/HelloWorldService.java) has the follwing
[code]

the readme only mentions
[code]

Do we need the additional args for GRPC?

[2020-02-05 15:44] RicardoNiepel opened #208 "Test failures in dapr-sdk"
## Environment
[code]

**Branch:** release-0.2.0-beta

## Expected Behavior

Able to execute ```mvn install``` in the root/`java-sdk` directory.

## Actual Behavior

BUILD FAILURE due to 50 test failures in  dapr-sdk

## Steps to Reproduce the Problem

Execute ```mvn install``` in the root/`java-sdk` directory.

## Log / Output

[code]

[2020-02-05 15:52] RicardoNiepel opened #209 "Http DaprClient unable to connect to Dapr"
## Environment
[code]

**Branch:** release-0.2.0-beta

## Expected Behavior

The [Method invocation HTTP sample](https://github.com/dapr/java-sdk/tree/master/examples/src/main/java/io/dapr/examples/invoke/http) should be possible to follow and start the ```DemoService``` and ```InvokeClient``` without any errors.

## Actual Behavior

Starting the ```InvokeClient``` brings the following error

[cod

[2020-02-05 15:57] RicardoNiepel opened #210 "GRPC DaprClient unable to connect to Dapr"
## Environment
[code]

**Branch:** release-0.2.0-beta

## Expected Behavior

The [Method invocation GRPC sample](https://github.com/dapr/java-sdk/tree/master/examples/src/main/java/io/dapr/examples/invoke/grpc) should be possible to follow and start the ```HelloWorldService``` and ```HelloWorldClient``` without any errors.

## Actual Behavior

Starting the ```HelloWorldClient``` brings the followi

[2020-02-05 16:01] RicardoNiepel opened #211 "Unpredictable behaviour at the state management sample"
## Environment
[code]

**Branch:** release-0.2.0-beta

## Expected Behavior

The [State management sample](https://github.com/dapr/java-sdk/tree/master/examples/src/main/java/io/dapr/examples/state) should not lead to Maven errors and warnings and each execution should bring the same successful outcome.

## Actual Behavior

As you can see below, multiple Maven Errors and Warnings are coming up.

I

[2020-02-05 16:11] RicardoNiepel opened #212 "dapr vs daprd - Debug Java application or Dapr's Java SDK"
It's currently documented to use ```dapr``` to debug Dapr Java applications.

Looking into [Configuring Visual Studio Code for debugging with daprd](https://github.com/dapr/docs/tree/master/howto/vscode-debugging-daprd) shows the usage of ```daprd``` in debugging scenarios.

Any reason we cannot use daprd also for Java / for doing it differently?

[2020-02-05 19:11] artursouza commented on #212
You can use both ways. This is not specific to Java. As you pointed out, the other solution is for Visual Studio Code while this one is for any IDE.

daprd is invoked by dapr. There is significant logic in order to prepare all arguments to invoke daprd directly. Using dapr cli abstracts this logic.

[2020-02-05 19:15] artursouza commented on #206
We had springboot integration as an additional jar. It was decided in the design reviews not to include dependency to springboot. So we moved it into examples instead. We can revisit this decision for future milestones based on customer feedback.

[2020-02-05 19:17] youngbupark commented on #209
I'm assuming that this is the windows specific issue. On windows, localhost resolves ipv6 address by default. Normally, it falls back to ipv4 address. based on the error, this fallback resolution did not happen.

[code]

@LMWF @artursouza once we switch from localhost to 127.0.0.1, this issue may be resolved.

cc/ @lukekim

[2020-02-05 19:17] artursouza commented on #207
The additional arguments are for debugging. They are not needed. We should fix the comment to not include debugging arguments.

[2020-02-05 19:19] youngbupark commented on #210
I think this would be the same issue related to localhost ipv6 resolution on windows.

cc/ @LMWF @artursouza @lukekim @msfussell

[2020-02-05 19:21] youngbupark commented on #211
Based on the log, looks like it is also same issue of https://github.com/dapr/java-sdk/issues/209.  It is resolving localhost to ipv6 ip address.

cc/ @LMWF @artursouza @lukekim @msfussell

[2020-02-05 19:21] yaron2 commented on #209
We should make sure we switch to `127.0.0.1` everywhere, across all SDKs.
Other than avoiding issues like this, on some platforms it drives a greater performance improvement by avoiding local DNS lookups.

[2020-02-05 19:22] artursouza commented on #209
We can make a code change for this.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Yaron Schneider <notifications@github.com>
Sent: Wednesday, February 5, 2020 11:21:56 AM
To: dapr/java-sdk <java-sdk@noreply.github.com>
Cc: Artur Souza <artursouza.ms@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [dapr/java-sdk] Http DaprClient unable to connect

[2020-02-05 20:03] youngbupark commented on #208
This issue is not related to localhost name resolution. it may associate with grpc proto updates for 0.4.0.

[2020-02-05 20:39] youngbupark commented on #208
[code]

All errors comes from grpc tests. I cannot reproduce on my mac machine. I wonder if you ran `mvn install` on master. master should not work because of breaking change of grpc proto in 0.4.0 release. please make sure that you switched to release-0.2.0-beta branch.

[2020-02-05 20:51] yaron2 commented on #210
Can we verify this is fixed with the latest PR?

[2020-02-05 20:54] youngbupark commented on #210
Let's keep it open until @RicardoNiepel replies back. We will release new beta-2 today.

[2020-02-05 20:56] AndresRoblesMX commented on #208
`[INFO] --- protoc-jar-maven-plugin:3.10.1:run (default) @ dapr-sdk-autogen ---
[INFO] Skipping code generation, proto files appear unchanged since last compilation`

Based on this part of the log, the autogen project is not autogenerating the the GRPC classes again, could be that you have a different version already created, so please execute at the root of the projects
`mvn clean install`

[2020-02-05 20:56] youngbupark commented on #210
Oh sorry I misread :) We will try to reproduce on clean windows machine.

[2020-02-05 21:03] yaron2 commented on #211
This issue might not be related.

Looking at the logs:

[code]

Looks like the app succeeds to save and get state but gets an invalid (unexpected?) value on return.

[2020-02-05 21:08] youngbupark commented on #211
The test is correct because test deleted state, got the state, and return null.

If you look at log again, you can find the log that okhttpclient attempted to ipv6 address.

[2020-02-05 21:08] yaron2 commented on #211
Yeah confirmed now, see my message above.

[2020-02-05 21:29] RicardoNiepel commented on #210
Please merge https://github.com/dapr/java-sdk/pull/213 back to branch release-0.2.0-beta and I will test it

[2020-02-05 21:34] RicardoNiepel commented on #212
Maybe we can just change to ```daprd```?

This would eleminate the need for dummy commands and different instructions for Unix and Windows

[2020-02-05 21:35] RicardoNiepel commented on #208
[code]
helped - now it runs successful

[2020-02-05 21:35] #208 closed

[2020-02-05 21:36] youngbupark commented on #208
Cool. We will update readme as well..

[2020-02-05 22:28] youngbupark commented on #212
@RicardoNiepel `dapr cli` is designed for development purpose. it finds free grpc and http ports when you develop multiple apps. maybe it is better to allow dapr cli to run alone without app.

cc/ @msfussell @yaron2 @amanbha

[2020-02-05 22:32] LMWF commented on #208
Thanks for reporting this.  This PR clarifies to run a `mvn clean install` - https://github.com/dapr/java-sdk/pull/216

[2020-02-05 22:51] LMWF commented on #211
Fixed by https://github.com/dapr/java-sdk/pull/215

[2020-02-05 22:53] LMWF commented on #211
Reopening until validated on release branch.

[2020-02-05 22:53] LMWF commented on #209
Should be fixed by https://github.com/dapr/java-sdk/pull/215, keeping open until validated on release branch.

[2020-02-05 22:56] youngbupark commented on #209
@RicardoNiepel

The fix is merged to release-branch. Please try to repro on your machine. once you confirm, we can publish this to mvn repo.

Follow the below commands to install v0.2.0-beta-2 version java-sdk on your local machine.
[code]

Then try your repro steps and check if the issue is fixed.

[2020-02-06 00:24] yaron2 commented on #200
Sure

[2020-02-06 01:37] LMWF opened #218 "The sdk should let the user choose between ipv4 loopback and ipv6 loopback for daprd communication."
## Expected Behavior

Today the sdk will choose the ipv4 loopback address to contact darpd: 127.0.0.1 (this was changed from "localhost" today).  Some users may prefer ipv6 or may operate in an ipv6 only environment.  The sdk should let the user choose between ipv4 loopback and ipv6 loopback.

## Actual Behavior

Today the sdk will always use the ipv4 loopback address: 127.0.0.1 to connect to dapr

[2020-02-06 01:46] yaron2 commented on #218
Might be better to detect the environment automatically and set the address accordingly. This is a detail the user shouldn't be aware of.

[2020-02-06 04:54] amanbha commented on #218
While reducing the friction because of issues faced by localhost is good. Asking user to provide this ipv4(or ipv6)address is not good solution,
I agree it should be auto discovered for user.

[2020-02-06 07:30] RicardoNiepel commented on #212
This would be a great idea and eliminate the dummy commands/OS differences in calling it

[2020-02-06 08:09] RicardoNiepel commented on #209
Successfully verified the fix on **master** and **release-0.2.0-beta** branch on environment:
[code]

[2020-02-06 08:09] #209 closed

[2020-02-06 08:29] RicardoNiepel commented on #210
Successfully verified the fix on **master** and **release-0.2.0-beta** branch on environment:
[code]

[2020-02-06 08:29] #210 closed

[2020-02-06 08:38] RicardoNiepel opened #219 "GRPC Invoke sample produces multiple exceptions"
## Environment
[code]

**Branch:** master & release-0.2.0-beta

## Expected Behavior

Follow and run [Invoking a Grpc endpoint using the Java-SDK](https://github.com/dapr/java-sdk/tree/master/examples/src/main/java/io/dapr/examples/invoke/grpc) without any exceptions

## Actual Behavior

Three exceptions are thrown
[code]

It's unclear for the developer if these can be savetly ignored.

## Steps t

[2020-02-06 08:50] RicardoNiepel commented on #211
Successfully verified the fix on **release-0.2.0-beta** branch on environment:
[code]

But on **master** branch I got the following error:
[code]

# Log
[code]

[2020-02-06 09:12] #212 closed

[2020-02-06 09:16] #207 closed

[2020-02-06 14:49] youngbupark commented on #211
@RicardoNiepel the current master branch includes the breaking change to support multiple statestores. Errors in log is associated with this change. Once we release new Dapr 0.4.0, the errors will be resolved.

[2020-02-06 16:39] yaron2 commented on #200
@Rinita-De you're now assigned :)

[2020-02-06 16:42] artursouza commented on #200
The fatjar has a single main class, so there will probably be a shared main class for all examples. The first argument could be the class of the example being run and the remaining args can be forwarded to the example class’s “main” function.

[2020-02-06 16:44] RicardoNiepel commented on #211
Ok, close for now.

[2020-02-06 16:44] #211 closed

[2020-02-06 18:31] yaron2 commented on #219
@RicardoNiepel from the application side, did you receive a connection error/error from Dapr, or were you able to get the response object back successfully?

[2020-02-06 18:34] RicardoNiepel commented on #219
The client was able to connect and exchange the messages successfully.

[2020-02-06 18:36] yaron2 commented on #219
Good! in that case from Dapr's side, unless the errors are coming from the Dapr logs with an ERROR prefix, they can be safely ignored.

[2020-02-06 18:39] RicardoNiepel commented on #219
This was also my feeling, but I think the sample code should be changed that these exceptions are not thrown.

Someone new with Dapr trying out these samples would be very confused.

[2020-02-06 18:45] yaron2 opened #220 "Set tryReflectionSetAccessible to disabled for Netty"
As described in https://github.com/dapr/java-sdk/issues/219, a pretty verbose exceptions log stream are outputted and may confuse users.

The solution as proposed [here](https://github.com/netty/netty/issues/7817) is to put the following config option:
[code]

[2020-02-06 19:05] yaron2 commented on #219
Agreed. I've opened an issue to track the cause for these exceptions: https://github.com/dapr/java-sdk/issues/220.

We'll also need to reduce verbosity of logs to error/info.

[2020-02-06 19:14] LMWF commented on #219
This existing issue tracks reducing verbosity https://github.com/dapr/java-sdk/issues/178

[2020-02-07 00:25] yaron2 commented on #200
Will close this: https://github.com/dapr/java-sdk/issues/181

[2020-02-07 14:01] #219 closed

[2020-02-07 15:19] RicardoNiepel opened #222 "-Dexec vs -D exec - Unknown lifecycle phase"
## Environment
[code]

## Expected Behavior

All samples can be executed successfully.

## Actual Behavior

One day ago we hade the discussion to change all ```-D exec``` to ```-Dexec``` in the samples.
It seems I've not tested this good enough - it results in an error:
[code]

**I can change it back again but would love to get feedback from some unix user.**

## Steps to Reproduce the Problem

##

[2020-02-07 15:35] RicardoNiepel opened #223 "Execute all samples from the same folder"
## Describe the proposal

Currently some samples are executed from the root like the HTTP Invoke
[code]

and some are executed inside the examples folder like the Bindings sample
[code]

this not only confuses, it also leads to a new components folder generation in the root which is unnecessary.

[2020-02-07 19:02] Rinita-De commented on #200
Thanks for all the information given on the issue. I have done the following as per the suggestions

1) Created a new class file "DaprMainApplication". It takes requires mainClass as a mandatory Command line argument, args is optional. Based on mainClass it calls the main method
2) POM file updated to create fat jar and points to DaprMainApplication as mainCalss

The command to run Service and cli

[2020-02-07 19:07] LMWF commented on #222
https://github.com/dapr/java-sdk/issues/200 should fix this, because with that fix we won't be dapr run-ing mvn anymore.

I don't believe this issue has ever been observed on linux, but it has on windows.  I tried to repro on a windows just now but could not.

Some questions/theories:
- it looks like this was in a powershell window, has it ever been observed in a plain cmd window?
- are there poss

[2020-02-07 19:19] RicardoNiepel commented on #222
@LMWF you are right - the issue only occurs on PowerShell :)

[2020-02-07 19:28] LMWF commented on #223
Agreed it would be better to have a single location.  But the reason the instructions for the bindings sample say to cd into `examples` is because this sample uses kafka and there is a component yaml for kafka in `examples/components`.

Installing kafka is a bit heavier than the components used in the other examples so that's why it was separated this way.

We could:
1. look into some more flexibl

[2020-02-07 21:02] artursouza commented on #200
That works for me too. I was thinking of another way:
[code]

`DaprMainApplication` would simply consume the first argument as the main class and forward the remaining arg[] to the given class' main function.

To be honest, either way works for me. Your approach if self documented while the one I mentioned is less verbose.

[2020-02-07 22:16] #178 closed

[2020-02-07 22:17] artursouza commented on #219
Issue resolved now via reducing verbosity. Log level is now INFO for those classes.

[2020-02-07 22:18] artursouza commented on #178
Issue resolved now via reducing verbosity. Log level is now INFO for those classes.

[2020-02-07 22:20] artursouza commented on #220
Closing this since reducing verbosity solved the problem.

[2020-02-07 22:20] #220 closed

[2020-02-07 22:32] artursouza commented on #218
@amanbha @yaron2 I agree for auto-detection. It would be interesting to see how the auto-detection can be done without causing delay (waiting for IPV6 connection to fail, for example).

[2020-02-07 22:34] yaron2 commented on #218
A delay on startup is a non-issue.

[2020-02-07 22:36] artursouza commented on #218
@yaron2 If it is "small", I agree.

[2020-02-07 22:39] yaron2 commented on #218
Looks like Java has this built in: https://docs.oracle.com/javase/7/docs/api/java/net/InetAddress.html#getLoopbackAddress%28%29

[2020-02-07 23:18] LMWF commented on #218
Doesn't it have to use the one daprd is using?  Can't daprd be using the ipv6 loopback, and that api returns the ipv4 loopback?

[2020-02-07 23:19] artursouza commented on #218
I thought about it too. If both are present, client must use what dapr is using - which can only be known by trying to connect.

[2020-02-10 19:55] #185 closed

[2020-02-11 20:46] yaron2 commented on #181
Can we close this? @artursouza

[2020-02-11 20:56] yaron2 commented on #19
Can we close this?

[2020-02-11 21:01] LMWF commented on #19
Checkstyle is done, static analysis is not complete (spot bugs).

[2020-02-12 00:58] #19 closed

[2020-02-12 02:17] artursouza opened #229 "Java SDK example for http invoke does not work"
Client fails to deserialize response.

![image](https://user-images.githubusercontent.com/130954/74297102-b0cd4900-4cfa-11ea-8a08-48a3ab1c2af7.png)

[2020-02-12 02:37] artursouza commented on #181
PR #227 fixes this too.

[2020-02-12 02:37] #181 closed

[2020-02-12 02:39] artursouza commented on #200
I tested with the http invoke example. Thanks a lot for this, @Rinita-De !

[2020-02-12 02:39] #200 closed

[2020-02-12 02:40] yaron2 commented on #200
Thanks for your contribution.

[2020-02-12 02:40] artursouza commented on #222
#200 is now resolved, which means mvn is not used to start examples anymore. So, this problem is not applicable.

[2020-02-12 02:40] #222 closed

[2020-02-12 02:46] #229 closed

[2020-02-12 02:52] artursouza commented on #13
We will merge the PR to automatically download the proto from dapr/dapr repo - we are just waiting for milestone 0.4 to be released this week.

[2020-02-12 14:10] RicardoNiepel opened #231 "Guidance of IntelliJ setup"
## Describe the proposal

As IntelliJ is one of the main and most popular Java IDEs, it would be create to have a guidance, how the best setup/configuration of IntelliJ should be for developing, executing and debugging Dapr applications in Java.

At the end this would be very similar to the existing [Configuring Visual Studio Code for debugging with daprd](https://github.com/dapr/docs/tree/master/

[2020-02-12 22:37] #231 closed

[2020-02-12 22:55] artursouza commented on #231
See updated debug instructions in https://github.com/dapr/java-sdk, or go directly to https://github.com/dapr/docs/tree/master/howto/intellij-debugging-daprd

[2020-02-15 00:07] #13 closed

[2020-02-18 18:55] #143 closed

[2020-02-19 14:09] javageek79 opened #240 "> dapr list lists suspicious processes"
## Expected Behavior

`dapr list` should list dapr applications with correct PIDs.
A `dapr list` after a `dapr uninstall --all` and `dapr init` should not list any running dapr applications

## Actual Behavior
`dapr list` after `dapr uninstall --all` and `dapr init` shows still a running application with "wrong" pid.

[code]

see screenshot. PID of listed application is 5276. Trying to kill that p

[2020-02-19 16:38] javageek79 commented on #240
After cleaning up my `~\AppData folder` by removing any entry containing 'dapr' the zombi-entry was gone and `dapr list` results in an empty list

[2020-02-20 22:53] artursouza opened #241 "Strong typed actors"
Support strong typed actors, so client can use invoke the same interface that Actor implements:

ActorBuilder<MyActor> builder = new ActorBuilder("MyActor", MyActor.class);
MyActor actor = builder.newActor("123");
actor.myMethod("ola");

[2020-02-20 22:55] artursouza opened #242 "Change APIs to support HTTPExtension"
Change the ServiceInvocation APIs to accept a HTTPExtension argument which contains specific details needed for HTTP calls. This argument will not be needed for GRPC. Similar to [.NET SDK](https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Client/DaprClient.cs#L79).

Update documentation, samples and IT for the same.

[2020-02-25 23:45] #241 closed

[2020-02-26 09:28] cero-t opened #244 "Distributed tracing: How should I?"
I tried distributed tracing using Java SDK, Zipkin, and Dapr, but I couldn't.

When I passed the "x-correlation-id" to the other service running on Dapr using RestTemplate via HTTP header, they were well distributed traced.
But when I tried same thing using DaprClientHttp via metadata, the correlation id wasn't passed.

Here's code snipet using DaprClient which doesn't work.
[code]

And here's cod

[2020-03-06 20:01] artursouza commented on #244
Thanks for reporting the bug.

I do agree that we need a better way to handle distributed tracing in the Java SDK. Regarding thread context, it can be used but I wonder how it would work in the context of a Rector chain.

[2020-03-06 20:04] artursouza opened #245 "Java SDK swallows exception in Actor impl"
## Expected Behavior

Exception is thrown and propagated.

## Actual Behavior

Exception is swallowed and returned wrapped in Mono.error().

## Steps to Reproduce the Problem

Implement an actor method that returns something without Mono: String say(); Inside the method, just throws an exception. From ActorManager, invoke that method and see how the exception is not thrown but an object is returne

[2020-03-07 12:46] cero-t commented on #244
Thank you for answering. As you mentioned, thread context doesn't work in the Reactor chain.
But as far as I confirmed, when I used Spring WebFlux and Spring Cloud Sleuth I could get the correct correlation id from the thread context (MDC) in the Reactor Chain. I haven't read the code enught, but I guess that these are the implementations that pass the correlation id from the parent thread context

[2020-03-07 14:14] cero-t commented on #244
I found that Hooks#onEachOperator can be used to add interceptor.

https://github.com/spring-cloud/spring-cloud-sleuth/blob/master/spring-cloud-sleuth-core/src/main/java/org/springframework/cloud/sleuth/instrument/reactor/TraceReactorAutoConfiguration.java#L156

https://projectreactor.io/docs/core/release/api/reactor/core/publisher/Hooks.html#onEachOperator-java.util.function.Function-

And here's

[2020-03-08 04:39] artursouza opened #248 "Add GetSecret API to Java SDK"
There is a new API: GetSecret. Work to be done:

1. Update URL to newest proto in pom.xml
2. Add API to GRPC and HTTP client.
3. Add unit testing and integration testing.

[2020-03-09 19:36] #245 closed

[2020-03-10 06:47] artursouza opened #250 "Fix hot monos in GRPC client"
## Expected Behavior

In GRPC mode, daprClient.saveState() executes the delete before block() is invoked. This is a hot mono. There can be more in GRPC client.

## Actual Behavior

In GRPC mode, daprClient.saveState() should not make any API call until block() is invoked.

## Steps to Reproduce the Problem

Enable GRPC via dapr.grpc.enabled = true, then call daprClient.saveState() but do not call

[2020-03-10 08:04] #250 closed

[2020-03-10 18:39] #248 closed

[2020-03-23 22:30] youngbupark commented on #244
@cero-t To clarify your requests,

1. invokeService API doesn't propagate correlation id properly, but it works when passing x-corrleation-id header to dapr http service invocation api without java-sdk. (Dapr sidecar is processing correlation-id header properly)
2. You want to have a way to propagate correlation id to save/getState or any other Dapr APIs with JAVA-SDK
3. You want to have a way to

[2020-03-24 05:10] cero-t commented on #244
@youngbupark Thank you for replying!

Exactly.

Yes I do.

I want to have a way to pass the correlation ID to a request.
Assuming that the correlation ID is already obtained from the HTTP header, I want to pass it when invoking other services.

I want write code like this.
[code]

And after that, I want the correlation ID to be set on the http request header, when I call invokeService or saveState

[2020-03-24 18:33] pruthvidhodda opened #255 "Add new hello-world sample"
## Describe the proposal

Add a new simple hello-world sample with Spring in IntelliJ environment. Demonstrate state-store or pub-sub functionality. Adapt the sample to be deployed locally and as well in k8s mode.

[2020-03-25 04:33] youngbupark commented on #244
Thanks for the clarification. Let's be more specific for the last question.

I can come up with two possible scenarios based on your comments.

1. AppA is http server exposing to external. AppA gets http requests with Correlation ID as a http server and AppA calls saveState to save the state with the received Correlation ID.

2. You have AppA and AppB. AppA invokes AppB to save the state by AppB.

[2020-03-25 15:35] pagufler opened #257 "Exception thrown when publishing an event using DaprClient from Java SDK of Dapr"
## In what area(s)?
I am using io.dapr.client.DaprClient -> publishEvent(String var1, Object var2):

[code]

I tried the code yesterday with a topic that already exists. Yesterday it was successful. Tried it today with a new topic, then the exception occurred. Then tried again the old topic, also in this case the exception occurs.
There comes no exception at startup. When I call the above code to

[2020-03-25 16:32] artursouza commented on #257
Hi @pagufler,

Since the SDK 0.3, Dapr client is communicating via Grpc and Http. Grpc is used for every API except actors. Actor APIs are over HTTP. When running your example, please make sure the env variable DAPR_GRPC_PORT is set to the same port that the Dapr sidecar is listening to.

Please, let me know if this helps.

[2020-03-25 21:06] pagufler commented on #257
Hi @artursouza,

I tried what you suggested:
Java App started with following env variables regarding dapr:
DAPR_HTTP_PORT=3001;
DAPR_GRPC_PORT=5001

This is how I run the dapr sidecar
dapr run --app-id core --app-port 8081 --port 3001 --grpc-port 5001 -- cat

But still I get the error:
2020/03/25T22:02:47.400 core [http-nio-8081-exec-2] ERROR c.b.r.s.ServiceImpl.lambda$publishAdapterEvent$3(486) -

[2020-03-26 09:56] pagufler commented on #257
Hi @artursouza,

seams that yesterday my head was not really working...
Mistakenly took a connection string that was already taken by someone else. Then we get this error msg.
Would be good to have a hint, that a connection string is used twice.

This bug can therefore be closed

[2020-03-26 09:59] artursouza commented on #257
Here is one thing to identify if the problem is between Dapr SDK and Dapr runtime or between DaprRuntime and the component's endpoint:

=> Publish via dapr cli using instructions from https://github.com/dapr/samples/tree/master/4.pub-sub#use-the-cli-to-publish-messages-to-subscribers

If this works, it means the problem is in the SDK. If it does not work, the problem is between dapr sidecar and th

[2020-03-26 16:13] javageek79 opened #258 "publish event wraps event as payload in a envelope"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

When using `client.publishEvent(topic.getTopicName(), event).doOnError(onError)` where `event` is a Object and conforms to CloudEvent, no extra envelope should be wrapped arround.

Maybe it would be sufficient to have two flavours for publishing. One by only publish the payload, second by publish full fletched even

[2020-03-26 16:13] youngbupark commented on #258
Moved it to java-sdk

[2020-03-26 17:10] javageek79 commented on #258
`CloudEvent.Type` would be the most important one, beside of that, we've also designed events using the `CloudEvent.Time` attribute as well. Currently we don't see any need for also using additional extension attributes`.

[2020-03-26 18:53] amanbha commented on #258
I believe This would need a change in dapr runtime dapr runtime wraps all events for pubsub in cloudevent.

[2020-03-27 02:50] amanbha opened #259 "Add health check endpoint for actors"
## Describe the proposal
Add healthz endpoint for actors as per Dapr runtime change https://github.com/dapr/dapr/pull/1313

[2020-03-27 02:53] artursouza commented on #259
Thanks. Will do.

[2020-03-30 09:58] javageek79 commented on #257
hi, the error occured again this morning. Exception is still the same as reported.
To analyze, we've executed
`[root@xxx/]# curl -X POST http://localhost:3500/v1.0/publish/core.adapters.delete -H "Content-Type: application/json"  -d '{
       "status": "completed"
     }'
[root@core-99fbbd855-qt66r /]# `
successfully in the container on our AKS
related logs are provided
[here -> sidecar-log_300320

[2020-03-30 16:49] #206 closed

[2020-03-31 01:58] #259 closed

[2020-03-31 17:42] RicardoNiepel commented on #258
@yaron2 as discussed during the community call please move to https://github.com/dapr/dapr and let's rename it to the general request of "Enable the manipulation of PubSub CloudEvent context attributes"

Request from community call:

the ability to add a correlation id to a published message

[2020-04-02 01:18] artursouza commented on #257
Hi @javageek79 ,

Java SDK uses GRPC to invoke all APIs, except Actor-related. In the application side, echo the value of DAPR_GRPC_PORT env variable. Then, confirm this value is the same that the sidecar container is printing out. If the ports are different, then that is the problem.

Next, let's confirm if the SDK can talk to the sidecar via HTTP. At the start up of your application, before crea

[2020-04-02 04:48] LMWF commented on #257
Is this error occurring after the app has been up a while or is it near the time it starts up?

[2020-04-02 12:58] pagufler commented on #257
Hi,
we checked the env var DAPR_GRPC_PORT  in the application container and in the corresponding dapr side car. They are the same.

We disabled grpc when the application starts at the very beginning. **Then the event was successfully published and the consumers got the event.**
So it seams the problem lies with the GRPC.

We have now the disablement of grpc in place. let us know when the fix is av

[2020-04-03 15:53] pagufler opened #266 "Dapr sidecar does not contain subscribed topics provided by java app"
## Expected Behavior
Dapr sidcar of app shows in container logs the array with the subscribed topics. This would mean: events from subscribed topics are retrieved by java application.

## Actual Behavior
Events are not provided to the java application.
The dapr sidecar logs show following logs:

In the pod we have the dapr container and the app container. We added an additional container in the po

[2020-04-03 17:17] artursouza commented on #266
Hi @pagufler,

Please, change the controller to response to the following API instead: `GET http://10.240.0.85:8080/dapr/subscribe` - there should be no `appid` in the path.

[2020-04-03 17:47] pagufler commented on #266
Hi @artursouza,
ah, that was the problem. We knew it must be something small, but did not see it.
Thank you! Now the application gets the event

[2020-04-03 17:47] #266 closed

[2020-04-06 15:09] RicardoNiepel commented on #257
Please update to 0.6.0 because there were GRPC changes in it and let us know if the issue still exists.

[2020-04-10 01:01] artursouza opened #267 "Actor API always return true on contain state API"
## Expected Behavior

Only return true when state does not exist.

## Actual Behavior

It returns true when state does not exist in Actor.

## Steps to Reproduce the Problem

Use actor contain state API before writing state.

[2020-04-10 01:26] #267 closed

[2020-04-10 02:01] artursouza commented on #257
Can this issue be closed?

[2020-04-15 20:56] youngbupark commented on #244
@cero-t JFYI - We're improving service invocation and tracing behaviors in this milestone. Once we finish this milestone, you can trace state, service invocation, publish by passing your own correlation id. We will write the docs to show how to correlate user app's trace with sidecar traces.

Related work items:
https://github.com/dapr/dapr/issues/1409
https://github.com/dapr/dapr/issues/1317
http

[2020-04-15 21:00] cero-t commented on #244
Great!! I'll try it. Thanks!

[2020-04-17 20:29] artursouza commented on #257
Closing this issue. Please, open a new one if issue persists.

[2020-04-19 07:45] mkash32 opened #270 "Broken link in actors example README"
## Expected Behavior

The first link present in the following [readme](https://github.com/dapr/java-sdk/blob/master/examples/src/main/java/io/dapr/examples/actors/http/README.md) is broken.

## Actual Behavior

After looking through dapr/docs the correct link seems to be https://github.com/dapr/docs/blob/master/concepts/actors/README.md which provides a description of the actor model and actors in

[2020-04-21 21:24] youngbupark opened #272 "Protobuf client update for java-sdk"
## Describe the proposal

This is to update protobuf client along with https://github.com/dapr/dapr/issues/1409

[2020-04-22 08:22] jasparmang commented on #257
Hello,

we still have this issue for our java service and we also have it for the node js applications and the node js sdk.
But let us focus on the Java app. The code is still the same as mentioned above. Here are our dapr logs and our error:
[core_error.txt](https://github.com/dapr/java-sdk/files/4514698/core_error.txt)
[core_dapr.log](https://github.com/dapr/java-sdk/files/4514699/core_dapr.log)

[2020-04-28 21:07] youngbupark commented on #272
@artursouza can you please work on this ?

cc/ @LMWF

[2020-04-28 22:01] artursouza commented on #272
Yes.

[2020-04-28 22:02] youngbupark commented on #272
Thanks!

[2020-04-29 16:05] youngbupark commented on #272
@artursouza Thanks for taking this. We have introduced DataWithContentType to specify the content_type. We're using Protobuf `Any` in a wrong way. basically, this is designed for holding serialized protobuf message. technically, we should not pass raw byte array to Any.Value.

Also if calleapp is http based, then dapr will return `DataWithContentType`. So we always need to check this type (this is

[2020-04-29 23:32] amanbha commented on #272
The changes in java sdk are needed to handle new proto

[2020-04-30 04:22] #270 closed

[2020-04-30 23:50] #272 closed

[2020-05-04 15:14] artursouza commented on #257
Error from app:
[code]

Log entry from sidecar:
[code]

Please, use environment variable DAPR_GRPC_PORT to set the correct port on app and use `--grpc-port` argument on `dapr.exe` to set the correct port on dev environment.

[2020-05-06 14:31] javageek79 commented on #257
java-sdk is using `50051` as default [DAPR_GRPC_PORT in Properties.java](https://github.com/dapr/java-sdk/blob/818667ed2ef4427b228afe3d00a7481d876b55ed/sdk/src/main/java/io/dapr/utils/Properties.java#L26) is that correct? We think, that had caused the latest reported issue

[2020-05-06 14:48] yaron2 commented on #257
Needs to be 50001

[2020-05-06 14:49] yaron2 commented on #257
/cc @artursouza

[2020-05-06 16:33] artursouza commented on #257
That explains it. We are fixing that today.

[2020-05-06 17:43] #257 closed

[2020-05-07 02:19] yaron2 opened #278 "Update pub/sub subscription"
We need to update the pub/sub code for subscriptions to match the new subscription JSON structure.

Reference: https://github.com/dapr/dapr/issues/1518#issuecomment-624765422

[2020-05-07 12:49] JMayrbaeurl opened #279 "Samples really working? - Build with Java 11, rest is build with Java 8"
## Expected Behavior

Running Method invocation sample as described [here](https://github.com/dapr/java-sdk/tree/master/examples/src/main/java/io/dapr/examples/invoke/http)

## Actual Behavior

DemoService crashes on start with UnsupportedClassVersionError exception:
`dapr run --app-id invokedemo --app-port 3004 --port 3005 -- java -jar examples/target/dapr-java-sdk-examples-exec.jar io.dapr.examp

[2020-05-10 17:08] JMayrbaeurl opened #280 "Rename maven module 'sdk-springboot' to 'sdk-spring'"
## Describe the proposal
Since the existing module 'sdk-springboot' doesn't use Spring Boot, rename it to 'sdk-spring' and add a new module for Spring Boot support like autostarters.

[2020-05-11 15:56] JMayrbaeurl opened #281 "Provide Spring Boot starter"
## Describe the proposal
Provide a Spring Boot starter that adds a fully configured DaprClient instance to the application context by just putting the starter artifact in the dependency list of Maven (pom.xml file)

[2020-05-12 03:40] artursouza commented on #280
I am OK with this change. Please, submit a PR with the rename.

[2020-05-12 03:52] artursouza commented on #279
We want to validate that the SDK is built with Java 8 and apps can use it with Java 11.

BTW, the PR above is doing much more than fixing the issue. Let me repro this.

[2020-05-12 04:07] artursouza commented on #279
I could not reproduce the issue and the sample for http call worked for me:
[code]

Which JDK are you using?

[2020-05-12 04:08] artursouza commented on #281
I saw the PR, can this be done without adding all the new jars? Can this be done in the existing sdk-springboot package?

[2020-05-12 04:11] artursouza commented on #280
Issue https://github.com/dapr/java-sdk/issues/281 can be done in this jar, so no renaming would be needed.

[2020-05-12 04:12] artursouza commented on #278
Breaking change for next milestone.

[2020-05-12 05:25] JMayrbaeurl commented on #279
Sorry. I've recently installed an Oracle 8 Java SDK for testing purposes and on installation the path to this installation was automatically added to my path variable:

`C:\Program Files (x86)\Common Files\Oracle\Java\javapath>java.exe -version
java version "1.8.0_241"
Java(TM) SE Runtime Environment (build 1.8.0_241-b07)
Java HotSpot(TM) 64-Bit Server VM (build 25.241-b07, mixed mode)`

And since

[2020-05-12 05:25] #279 closed

[2020-05-12 05:28] artursouza commented on #279
Dapr CLI has no idea about JVM. You can change JDK in your env by changing env variables PATH and JAVA_HOME

[2020-05-12 05:38] JMayrbaeurl commented on #280
The basic idea of renaming was to remove the confusion on the 'sdk-springboot' module. It offers no direct Spring Boot support, but simple Spring support. There renaming to 'sdk-spring' makes sense to me. And by introducing a dedicated module for Spring Boot support 'dapr-spring-boot' there's a clear approach for the offered support. I think it's a good idea to offer a Dapr SDK for simple Spring s

[2020-05-12 05:44] JMayrbaeurl commented on #281
No. Because the basic idea is to rename the existing 'sdk-springboot' package to 'sdk-spring' for generic Spring support and introduce a new one for Spring Boot support. For the implementation I've followed the guidelines from the Spring. And I think it's much better to have the samples as close as possible to related sdk.

[2020-05-12 05:50] artursouza commented on #281
Your idea is fundamentally different from our vision for the SDK for the reasons below:

1. We minimize the dependency on Spring and Springboot and its footprint to keep the SDK as neutral as possible.

2. The samples are organized per SDK, fragmenting it further would make this SDK different. We need to review this proposal.

Long story short, to make these changes you will need to prepare a casa

[2020-05-12 05:53] artursouza commented on #280
We are keeping our footprint small for Spring. Adding more modules goes against that. Can you make a case to review with the team on why we should add more support to Spring? Real customer scenarios can help make a point here.

[2020-05-12 06:10] JMayrbaeurl commented on #223
I would prefer to have a dedicated folder for each example, maybe using a common Maven parent for generic setup. This would remove the confusion on the different ways to execute them and give the possiblity to easily add or change the Dapr components for the example.

[2020-05-12 09:02] JMayrbaeurl commented on #279
I know this. But messing around with env variables PATH and/or JAVA_HOME on systems that have multiple JREs installed, is really cumbersome.

[2020-05-12 09:26] JMayrbaeurl commented on #281
A lot of big enterprises are using Spring Boot for their Cloud native developments and I thought it's a great idea to provide really great support in Dapr for Spring Boot. Currently Dapr has no Spring Boot support. Just a sample showing how to use it in Spring Boot. The basic Spring support is minimal, too.

And Microsoft has recently invested a lot in supporting Spring and Spring Boot on Azure. S

[2020-05-12 12:41] JMayrbaeurl commented on #280
Just started with the renaming, but figured out that the verb 'springboot' is spread over the complete project, used in examples module, sdk-test module and so on. All these changes would need a lot of testing that's currently not covered by the included tests. The Gradle build setup is still on the recent 0.5.x version, and therefore makes changes impossible too

[2020-05-12 12:41] #280 closed

[2020-05-12 15:23] JMayrbaeurl commented on #281
Moved my code in a new repo at https://github.com/JMayrbaeurl/dapr-spring-extensions

[2020-05-12 15:23] #281 closed

[2020-05-12 22:26] artursouza commented on #279
I agree. Will jenv help? https://www.jenv.be

[2020-05-13 11:45] JMayrbaeurl commented on #279
I think jenv doesn't work on Windows

[2020-05-15 22:09] youngbupark opened #283 "Update proto files for 0.8.0 release"
## Describe the proposal

Update proto files for 0.8.0 release.

[2020-05-17 00:27] LMWF opened #284 "Update SDK for activate changes"
Changes are needed in the SDK corresponding to runtime changes here (see bottom of that issue for proposal):
https://github.com/dapr/dapr/issues/1038

Reference for corresponding change in dapr/dotnet-sdk:
https://github.com/dapr/dotnet-sdk/pull/313

[2020-05-19 20:43] AlexJuca commented on #284
@LMWF I am willing to work on this issue and submit a PR. Will have something soon.

[2020-05-19 21:36] LMWF commented on #284
@AlexJuca Great!  I'll assign this to you.

/cc @artursouza

[2020-05-21 20:20] AlexJuca commented on #284
@LMWF Awesome! Working on this.

[2020-05-22 09:45] smereczynski opened #285 "Actors Examples for java - link does not work"
Please change https://github.com/dapr/java-sdk/blob/master/examples/src/main/java/io/dapr/examples/springboot/DaprApplication.java link to working one on page https://github.com/dapr/java-sdk/tree/master/examples/src/main/java/io/dapr/examples/actors/http

[2020-05-26 23:04] artursouza commented on #284
Hi, @AlexJuca. Thanks for working on this. Do you have an ETA for when you can get a PR out?

[2020-05-27 02:50] youngbupark commented on #278
this work depends on https://github.com/dapr/java-sdk/issues/284

[2020-05-27 02:51] amanbha commented on #278
@youngbupark These should be independent.

[2020-05-27 02:56] artursouza commented on #278
They are dependent because the SDK does not work with master as of now. And this issue will also block the SDK from working completely with 0.8. The changes to make the SDK compatible with 0.8 will need to be merged together. Getting the proto files right is the first step.

[2020-05-27 02:57] amanbha commented on #278
Sure as a whole for SDK, they both are needed, but they are not dependent. #284 is for actors which doesn't need proto.

[2020-05-27 03:49] youngbupark commented on #278
@artursouza can we create feature branch ?  I might point it out wrong number - https://github.com/dapr/java-sdk/issues/283. this depends on #283 , not #284. looks like @wcs1only is assigned to #283 as well..

[2020-05-29 01:42] #283 closed

[2020-05-29 01:43] artursouza commented on #284
@AlexJuca We have a PR fixing this issue. We accepted it due to the release we have scheduled for next week. You are free to enhance the solution and add a new PR.

[2020-05-29 01:43] #284 closed

[2020-05-29 01:43] #278 closed

[2020-05-29 01:46] artursouza opened #288 "Update Java SDK for latest proto for 0.8 and bidirectional binding"
## Expected Behavior

Java SDK should work with the master branch planned for release 0.8.

## Actual Behavior

Latest proto are not backwards compatible with this SDK.
Binding's API is not backwards compatible with this SDK.

## Steps to Reproduce the Problem

Try to use this SDK with the latest master from dapr-cli and dapr.

[2020-05-30 00:56] youngbupark commented on #288
@artursouza @mukundansundar are you working on this?

[2020-05-30 20:34] artursouza commented on #288
I am working on it today.

[2020-05-31 20:48] artursouza commented on #288
Please, take a look at the PR above.

[2020-06-01 03:59] #288 closed

[2020-06-09 07:41] xiazuojie opened #293 "Support deserialization of generic types"
## Describe the proposal
The following [_deserialize_ API](https://github.com/dapr/java-sdk/blob/dbdab2ed696f62a906c307bd8e33e85084821824/sdk/src/main/java/io/dapr/serializer/DaprObjectSerializer.java#L33) asks for a `Class<T>`. It does not work with generic types.
[code]

Maybe add another method with the second param as `java.lang.reflect.Type`, which can accept both `java.lang.Class` and `java.

[2020-06-09 08:15] artursouza commented on #293
I agree with this change 100%. Can you make a PR?

[2020-06-09 08:28] xiazuojie commented on #293
However, `java.lang.reflect.Type` is not easy for users to create an instance of. Jackson has a `TypeReference` to help users specify generic types more easily. Maybe we should work on something like that.

It involves quite a bit of work. I can PR if it agrees with you.

[2020-06-09 15:03] artursouza commented on #293
Makes sense. Please, go ahead.

[2020-06-24 18:46] vinayada1 opened #295 "Add appcallback versioning to HTTP APIs"
Add appcallback versioning to HTTP APIs. Make necessary changes to java-sdk and samples
Related to: https://github.com/dapr/dapr/issues/1678

[2020-06-25 18:17] amanbha commented on #295
Closing it as the changes in runtime are not needed for this.

[2020-06-25 18:17] #295 closed

[2020-06-29 15:35] artursouza opened #296 "Wrong content type on dapr/config API from SDK springboot"
## Expected Behavior

dap/config should contain content-type header of application/json

## Actual Behavior

dap/config contains content-type header of application/octet-stream

## Steps to Reproduce the Problem

Run any app that has PubSub and look at the logs from sidecar.

[2020-06-29 15:51] javageek79 commented on #296
"wrong" info in log message
[code]

[2020-06-30 22:52] artursouza commented on #295
@amanbha  No work is needed for the Java SDK here? Do you have another issue that can provide more context?

[2020-07-07 18:50] #285 closed

[2020-07-07 18:59] artursouza commented on #293
@xiazuojie Do you have plans to create a PR for this?

[2020-07-07 19:03] mukundansundar opened #298 "Allow to pass W3C trace header to dapr api call."
Allow to pass W3C trace header(`traceparent`) or `grpc-trace-bin` to dapr api call.

With the support for observability overhauled in 0.8.0, the ability to pass in trace headers should be available through the java-sdk. As well as the ability to read these headers on response.

[2020-07-07 19:04] mukundansundar opened #299 "Handle passing metadata in GRPC"
Handle passing of the HTTP verb and content-type metadata for GRPC calls

[2020-07-08 09:31] artursouza commented on #293
I have created a PR. @xiazuojie please, take a look.

[2020-07-09 06:15] #296 closed

[2020-07-09 07:15] xiazuojie commented on #293
It's exactly what I want. However, maybe we should also keep
``<T> T deserialize(byte[] data, Class<T> clazz)``
so it's not a breaking change. Also for non-generic values, It's easier to use.

Sorry that I did not take time on the PR.

[2020-07-09 07:22] xiazuojie commented on #293
Also, `TypeRef<T>` should implement `Comparable<TypeRef<T>>` (just as Jackson did) as suggested by [here](https://gafter.blogspot.com/2006/12/super-type-tokens.html).

[2020-07-09 09:02] artursouza commented on #293
The serializer interface does not need two methods. It will just be confusing to users to implement two deserializers. On the other hand, every other public method in our APIs does have both variants - and that is more important for easy to use and backwards compatibility.

I will add the trick with Comparable so the type is enforced.

— Artur Souza
________________________________
From: xiazuojie

[2020-07-09 18:13] artursouza commented on #293
I've tried the Comparable<TypeRef<T>> trick. It does not block `new TypeRef(){}` from compiling. So, I did not add it. Actually, even `new TypeReference(){};` from Jackson also compiles. This trick does not seem to be applicable anymore.

[2020-07-09 18:47] #293 closed

[2020-07-15 01:17] mukundansundar opened #303 "Add support for DAPR_API_TOKEN injection into calls"
## Describe the proposal
Add support to inject the DAPR_API_TOKEN from the environment automatically for all calls in the client.
Authentication support for DAPR APIs as seen [here](https://github.com/dapr/docs/tree/master/howto/enable-dapr-api-token-based-authentication)

[2020-07-15 01:19] yaron2 commented on #303
This needs to go into all SDKs

[2020-07-15 01:36] artursouza opened #305 "GRPC's managed channel is never shutdown."
## Expected Behavior

Managed channels are closed after being used.

## Actual Behavior

Managed channel is created on every new GRPC client instance and never closed via shutdown() and awaitTermination(). Examples and ITs need to be updated to reflect this good practice (if sdk exposes close() or similar method).

## Steps to Reproduce the Problem

Run the IT tests and see errors occasionally sho

[2020-07-15 17:29] #223 closed

[2020-07-20 20:36] mukundansundar opened #309 "Support multi pub/sub"
## Describe the proposal

Dependent on runtime changes for https://github.com/dapr/dapr/issues/1709
Protobuf files changes, samples update and IT update.

[2020-07-20 20:37] mukundansundar opened #310 "Support subscribe callback response"
## Describe the proposal

Dependent on runtime changes for https://github.com/dapr/dapr/issues/1757

Protobuf files changes, samples update and IT update.

[2020-07-30 17:44] #242 closed

[2020-07-30 18:30] amanbha opened #313 "Remove retry options from state apis."
Remove retry options for state apis once the issue in runtime is implemented dapr/dapr#1861

[2020-07-30 20:04] mukundansundar commented on #313
Two steps:
[] Remove code related to RetryOptions and change IT and examples
[] Update proto files to remove RetryOptions and update docs to reflect the same

[2020-07-30 20:34] #305 closed

[2020-07-30 21:13] #313 closed

[2020-08-06 21:34] pruthvidhodda opened #317 "Replace deprecated cli, daprd options and k8s annotations"
## Describe the proposal

This issue is to track java-sdk changes related to [this epic](https://github.com/dapr/dapr/issues/1717)

[2020-08-11 00:51] #317 closed

[2020-08-11 21:05] #310 closed

[2020-08-13 22:09] yaron2 opened #319 "Add Bulk Get API"
With the addition of the Bulk Get API to the State Building Block, this also needs to be added to the different SDKs.

See API reference here: https://github.com/dapr/docs/blob/master/reference/api/state_api.md#get-bulk-state

Go SDK example: https://github.com/dapr/go-sdk/blob/d9d7785509e35a6d0b39a0391178dc6737c70b64/Readme.md

[2020-08-17 14:29] youngbupark opened #322 "Add state transaction operation api"
## Describe the proposal

Add state transaction operation api - dapr/dapr#1892

[2020-08-17 19:27] LMWF commented on #322
Isn't this already merged?

[2020-08-17 20:04] youngbupark commented on #322
Really? I did not recognize it..

[2020-08-17 20:42] LMWF commented on #322
Ok sorry, wrong repo.

[2020-08-19 17:19] #309 closed

[2020-08-19 21:13] wcs1only opened #326 "Exception in Actor example"
## Expected Behavior

Messages seem to be sent and received, but we get an unexpected exception.

## Actual Behavior

== APP == 2020-08-19 21:12:31,290 {HH:mm:ss.SSS} [http-nio-3000-exec-17] ERROR o.a.c.c.C.[.[.[.[dispatcherServlet] - Servlet.servic
e() for servlet [dispatcherServlet] threw exception

== APP == java.lang.IllegalStateException: Could not find timer astmessagedae-459d-b2da-ef9476704

[2020-08-25 18:20] #298 closed

[2020-08-26 08:55] xiazuojie opened #331 "add java.lang.reflect.Type to deserialize API"
## Describe the proposal
As discussed https://github.com/dapr/java-sdk/issues/293 , ``TypeRef<T>`` was added to support deserialization of generic types.
However, instances of ``TypeRef<T>`` can only be statically (during compilation) created. There are occasions when generic types need to be dynamically created. I suggest adding the following method to [deserialize API](https://github.com/dapr/ja

[2020-08-27 20:12] shalabhms opened #332 "State APIs should support sending metadata"
State APIs should support sending metadata in the request.

Dapr runtime issue Reference : dapr/dapr#1909

[2020-08-31 17:30] artursouza commented on #331
Can you provide an example of a scenario that will not work with the current API?

BTW, this change is not only to the deserialize API, it will also propagate to every method in our API that invoke deserialize() internally. Today, users can also have their own serialization done outside the SDK and send byte[] as input - in those cases, the internal serialization is skipped.

[2020-08-31 18:37] artursouza commented on #244
@cero-t

We have recently merged code to support W3C tracing in the Java SDK for Dapr. The application code is still responsible for instrumentation but the W3C headers will be propagated in Dapr. See the merged code below, it will be in the next Dapr release (0.11 runtime, 0.9 Java SDK).

https://github.com/dapr/java-sdk/pull/320

[2020-08-31 23:18] cero-t commented on #244
@artursouza
Thank you! I'll try it out as soon as it's released.

[2020-09-01 19:09] #303 closed

[2020-09-02 18:05] artursouza commented on #244
@cero-t You can try the unreleased version if you want: 0.9.0-SNAPSHOT

[2020-09-04 06:18] cero-t commented on #244
@artursouza oh thanks, I'll try this weekend!;D

[2020-09-08 06:54] xiazuojie commented on #331
My scenario is that users' code relies on some other API that works with `java.lang.reflect.Type`. I need to translate it into Dapr's DaprObjectSerializer API.
With current implementation, it's not possible to do the translation - users' code has to rely on dapr-sdk directly, which is not desired.

[2020-09-08 19:32] artursouza commented on #331
The default serializer uses java.lang.reflect.Type. See `type.getType()` in the implementation below. Is this what you need?
[code]

[2020-09-09 03:44] xiazuojie commented on #331
Not what I want. I need the following api.
`<T> T deserialize(byte[] data, java.lang.reflect.Type type) throws IOException`

[2020-09-13 23:38] #299 closed

[2020-09-14 23:32] #332 closed

[2020-09-16 18:29] #319 closed

[2020-09-16 21:00] #322 closed

[2020-09-17 19:33] artursouza commented on #331
All of the Dapr's Java SDK relies on Class<T> or TypeRef<T>. If your code relies on Type directly, it is not just the serializer but also all of the APIs in the SDK. We can add overloaded methods for Type everywhere or we can add a new method in TypeRef to do what you want. In this case, the generic type would be Object since there is no generic type in Type:

[code]

This seems to provide a more

[2020-09-21 20:41] mukundansundar opened #341 "Update Java SDK examples with new features"
## Describe the proposal
Update Java SDK examples with new features, allow list for secrets. Bulk get and transaction APIs for statestore.

[2020-09-21 22:06] #341 closed

[2020-10-06 18:41] artursouza opened #348 "Add dependabot and fix High and Medium vulnerabilities"
## Expected Behavior

Dependabot scan should report zero High or Medium vulnerabilities in SDK's dependencies.

## Actual Behavior

No dependabot scan.

## Steps to Reproduce the Problem

Run Dependabot scan

[2020-10-07 00:27] artursouza commented on #331
In summary: I am not in favor of adding an overloaded deserialize method with `Type` as input since it would impact all of the SDK APIs.

The same can be accomplished with adding the new builder method in TypeRef where type is given as input (like in the comment above). This way there is a way to convert between Type and TypeRef back and forth, allowing user code that relies on Type only to still

[2020-10-07 18:32] msfussell commented on #244
@cero-t Did you try this out and are you good?

[2020-10-07 23:40] mukundansundar opened #350 "Address set-env deprecation in workflows"
## Describe the proposal
https://nvd.nist.gov/vuln/detail/CVE-2020-15228 advises that set-env and add-path are not secure, so they will be disabled very shortly on workflows. This PR changes set-env to the recommended upgrade.

Github workflows deprecating the "set-env" call to set environment variables.
Make use of the new method to modify env vars.

https://github.blog/changelog/2020-10-01-githu

[2020-10-08 06:36] artursouza opened #352 "Cannot save byte[] in actors"
## Expected Behavior

Actors can save and read byte[]

## Actual Behavior

Exception is thrown when trying to save byte[] state in actors.

## Steps to Reproduce the Problem

Create an actor with an method that saves byte[].
Invoke that method from ActorProxy.

[2020-10-08 22:55] #352 closed

[2020-10-09 04:26] mukundansundar commented on #350
Closed by
#351

[2020-10-09 04:26] #350 closed

[2020-10-11 07:34] mukundansundar commented on #348
Potential dependabot.yml file:
[code]

The dependabot yaml changes will be only applied module by module independently. See [here](https://github.com/mukundansundar/java-sdk/pulls).

Need to specify the [directory](https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/configuration-options-for-dependency-updates#directory) where pom.xml is located for each module.

This

[2020-10-12 18:32] artursouza commented on #348
Let's use the branch idea that you proposed (maybe calling it `dependabot`) and have a triggered workflow on that branch where DaprBot will automatically create a PR if unit tests passes.

[2020-10-12 19:07] artursouza commented on #244
Closing this issue. Please, use SDK version 0.9.0 or greater to use W3C tracing.

[2020-10-12 19:07] #244 closed

[2020-10-12 19:09] artursouza opened #354 "Clean up examples"
## Describe the proposal

Add Clean Up section in examples, so they can be replayed with no left over state or configuration from previous run.

[2020-10-12 19:44] artursouza opened #355 "How to unregister timer with auto-generated id"
## Expected Behavior

Time is created with auto-generated id and it is returned, so it can be unregistered.

## Actual Behavior

Timer is created but cannot be unregistered if id is auto-generated.

## Steps to Reproduce the Problem

Follow the Actor SDK example where timer's id is auto-generated.

[2020-10-12 19:45] artursouza opened #356 "Method withObjectSerializer returns untyped ActorProxyBuilder."
## Expected Behavior

Method withObjectSerializer returns ActorProxyBuilder with generic type information.

## Actual Behavior

Method withObjectSerializer returns untyped ActorProxyBuilder.

## Steps to Reproduce the Problem

Use ActorProxyBuilder and invoke withObjectSerializer.

[2020-10-13 04:37] #356 closed

[2020-10-14 01:24] tcnghia commented on #350
Was fixed by https://github.com/dapr/java-sdk/pull/351

[2020-10-14 20:48] mukundansundar opened #361 "Update all dependencies for Java SDK to latest versions"
## Describe the proposal
Update all dependencies for Java SDK to latest versions possible without breaking changes
Example
GRPC to 1.32.1
Reactor Core
Spring Boot framework
Junit
etc.

RELEASE NOTE: Update all dependency versions.

[2020-10-15 18:31] artursouza opened #362 "Could not find timer XXXXXXXX for actor DemoActor"
## In what area(s)?

/area runtime

## What version of Dapr?

0.11

## Expected Behavior

Timers are triggered correctly after app restarts.

## Actual Behavior

Runtime tries to trigger timer but app cannot find timer on restart.

## Steps to Reproduce the Problem

Run the actor example in Java SDK, where service app restarts.

## Release Note

RELEASE NOTE: **FIX** Timer invocation after Actor r

[2020-10-16 06:28] artursouza commented on #355
The PR above will return the registered timer name to the response of timer registration.

[2020-10-16 15:20] wcs1only opened #364 "[Unit Tests] java-sdk: Gate PRs to ensure no PR reduces test coverage"
## In what area(s)?

/area test-and-release

## Describe the feature

Enable PR gating on unit test coverage to ensure we do not regress on test coverage. For now the agreed upon rule is that no PR should reduce the test coverage. We may expand these rules later.

Part of dapr/dapr#2226
## Release Note

RELEASE NOTE: **ADD** Added codecov rules to ensure that no PR reduces unit test coverage.

[2020-10-16 20:37] wcs1only opened #365 "[Unit Test] java-sdk: Coverage Audit"
As part of dapr/dapr#2226 we need to perform a unit test coverage audit for this package. The purpose of this audit is to identify unit test coverage gaps that we would like to close ahead of v1.0.

Audit Guidelines:
1. We're not shooting for a particular coverage percentage, rather we're looking to add tests which deliver on ensuring correctness and reliability. We prefer efforts that deliver cov

[2020-10-16 21:29] #355 closed

[2020-10-16 21:29] #362 closed

[2020-10-17 03:10] mukundansundar opened #367 "[Unit Test] Increase unit test coverage in DaprClientGrpc"
## Describe the proposal
Increase unit test coverage in DaprClientGrpc

Add more negative test cases:
- Argument validation
- Exception scenarios

Part of https://github.com/dapr/dapr/issues/2226

[2020-10-17 03:12] mukundansundar opened #368 "[Unit Test] Add unit test coverage in sdk-springboot"
## Describe the proposal
Add unit test coverage in sdk-springboot

[2020-10-17 03:14] mukundansundar commented on #365
Added 2 issues :
https://github.com/dapr/java-sdk/issues/367
https://github.com/dapr/java-sdk/issues/368

[2020-10-17 03:24] mukundansundar opened #369 "[Unit Test] Increase unit test coverage in sdk-actors"
## Describe the proposal
Increase unit test coverage in sdk-actors

For the classes:
- runtime.ActorObjectSerializer (two public methods untested)
- runtime.ActorRuntime (around 53% line coverage) (Certain illegal arguments, exception scenarios)
- client.ActorProxyImpl (Illegal arguments, exception scenarios)

Part of https://github.com/dapr/dapr/issues/2226

[2020-10-19 17:44] artursouza commented on #364
We have this already. Just try a PR that reduces code coverage - I had one blocked recently and had to add unit tests.

[2020-10-19 17:49] artursouza opened #370 "Profile Actor memory usage"
## Expected Behavior

Memory consumption under load (defined below) should be way below 2GB

## Actual Behavior

Memory consumption reaches ~2GB

## Steps to Reproduce the Problem

Create an app that has an actor with a timer.
Each timer triggers every 10s and prints a message.
Activate 10k actors.
See memory consumption.

[2020-10-19 17:53] artursouza opened #371 "Load test actors with Java SDK"
## Describe the proposal

One app with an actor.
Each actor has a timer that prints a message every 10s.
Run with 4 app instances.
Activate 30k actors.

Expected behavior:
* No app instance is restarted.
* No sidecar instance is restarted.
* Memory consumption for app is << 2G (threshold TBD)
* Memory consumption for sidecar is << 1G (threshold TBD)

[2020-10-19 19:53] wcs1only commented on #364
Oh, excellent. I created one ticket for each SDK. I should have verified before creating it. Closing issue.

[2020-10-19 19:53] #364 closed

[2020-10-19 22:23] #370 closed

[2020-10-19 23:35] #367 closed

[2020-10-27 22:59] artursouza opened #377 "Add wait() method to block until Sidecar is up"
App might depend on sidecar right away. Implement wait() method to enable app to wait for sidecar to be up before invoking the first call.

[2020-11-04 23:54] wcs1only commented on #365
We believe we have identified all the major gaps we want to close before 1.0. Closing.

[2020-11-04 23:54] #365 closed

[2020-11-04 23:55] mukundansundar opened #379 "Update opentelementry library version"
## Describe the proposal
Update opentelementry sdk version
From 0.7.0 to 0.10.0

There are breaking changes in the API as well, Handle breaking changes.

Validate this with https://github.com/dapr/java-sdk/tree/master/examples/src/main/java/io/dapr/examples/tracing

RELEASE NOTE: Update opentelemetry library version to 0.10.0

[2020-11-05 00:22] #361 closed

[2020-11-05 18:59] mukundansundar commented on #379
Version 0.10.0 was released on Nov 5th 2020. Consider that while implementing this change.

[2020-11-10 05:45] mukundansundar opened #382 "Update opentelemetry to 0.7.1, change spring repo id from central"
## Describe the proposal
Update opentelemetry to 0.7.1.

Change repo id of repo.spring.io from central to spring.

RELEASE NOTE: **UPDATED** opentelemetry library to 0.7.1. **Changed** repo ID of spring repo to spring.

[2020-11-10 05:52] #382 closed

[2020-11-10 07:25] beiwei30 opened #385 "no default constructor for io.dapr.client.domain.CloudEvent"
## Expected Behavior

A default constructor of CloudEvent is helpful for unmarshalling the payload to the exact type automatically in a Spring MVC application, for example:

[code]

Spring complains no default constructor is present for CloudEvent.

## Actual Behavior

[code]

I believe this applies to all classes under io.dapr.client.domain.

## Steps to Reproduce the Problem

## Release Note

RE

[2020-11-12 04:50] mukundansundar commented on #385
Hi @beiwei30 thanks for raising this issue. Will you be able to work on this?

[2020-11-12 06:01] wwulfric commented on #379
/assign wwulfric

[2020-11-13 21:00] #379 closed

[2020-11-17 21:24] artursouza opened #393 "Migrate all API calls for Actor SDK into Runtime to GRPC"
## Describe the proposal

Right now, all actor communication is done over HTTP. It is true for both calls from SDK into Dapr runtime and from Dapr runtime into the App.

This issue is to implement GRPC APIs for Actor SDK to invoke Dapr runtime. HTTP continues to be supported. There is an existing parameter that determines if SDK uses HTTP or GRPC (GRPC is default): that should be considered in the

[2020-11-17 22:20] artursouza opened #394 "Integration test for W3C tracing"
Today, the only way to validate W3C tracing works is via the example. This is done manually. Ideally, W3C tracing should be tested via (automated) integration test.

[2020-11-24 23:23] #393 closed

[2020-11-26 14:17] skyao opened #396 "Review and ensure metadata is correctly set and transport"
## Expected Behavior

metadata should be correctly set and passed to dapr.

## Actual Behavior

At first, in state save method, there is no metadata to set.

See file `src/main/java/io/dapr/client/domain/State.java`

I will submit a PR for this and later check other processes.

RELEASE NOTE: **RESOLVED** validated handling of metadata and fixed when applicable.

[2020-11-27 09:24] wqliang opened #399 "How to set timeout invoking service"
How to set a timeout per request when invokeService ?
invokeService will return a Mono<T>, Mono.block(Duration.ofMills(3000)) and Mono.timeout(Duration.ofMills(3000)) seems not work as I expected.  The default timeout of DaprHttp is 10s .
How can I invoke different service with different timeout with only one daprClient instance?

[2020-11-28 01:55] qqeasonchen opened #446 "Timeout not work in service invoke"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

Whatever the timeout is setted, an invoking will expire in 10 secondes, seems not work.

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2020-12-01 06:40] artursouza commented on #399
We don't support timeout setting in the SDK - but that could be added. Now, the SDK invokes Dapr sidecar via GRPC and not HTTP by default. So the change should be in GRPC first but implemented in both.

Now, Dapr sidecar does not support timeout per request, so that would be another feature. Maybe it can be done via metadata.

[2020-12-03 08:53] skyao commented on #396
@artursouza Another PR has raised to add metadata parameter in get bulk request which is missing in java sdk. Please help to review. And now I only update the grpc api, for HTTP API, should we also support metadata in get bulk request (and also there is a ongoing PR to add metadata in get/bulk get response).

[2020-12-03 12:04] skyao commented on #396
@artursouza A new more PR for metadata just raised.

[2020-12-03 19:22] artursouza commented on #396
@skyao Thanks a lot. I will review the PR. Please, keep feature parity for the GRPC and HTTP clients for Dapr.

[2020-12-08 20:17] tcnghia opened #404 "Update tracing sample doc to not use exporter"
## Expected Behavior

Tracing doc does not use a trace exporter component, since exporter components are deprecated (see dapr/dapr#2337)

## Actual Behavior

Still here:
https://github.com/dapr/java-sdk/blob/v0.10.0/examples/src/main/java/io/dapr/examples/tracing/README.md

## Steps to Reproduce the Problem

See doc here https://github.com/dapr/java-sdk/blob/v0.10.0/examples/src/main/java/io/dapr/

[2020-12-08 20:22] artursouza opened #405 "States without etag is handled differently in gRPC and HTTP APIs"
## Expected Behavior

Get a state without eTag in gRPC and HTTP, eTag attribute should be null.

## Actual Behavior

eTag is null in HTTP and empty string in gRPC.

## Steps to Reproduce the Problem

Get state that does not have eTag.
Try the same in getBulkState too.

## Release Note

RELEASE NOTE: **FIX** missing eTag response for state APIs.

[2020-12-08 23:58] #203 closed

[2020-12-09 03:44] tcnghia commented on #404
So:
- https://github.com/dapr/java-sdk/blob/v0.10.0/examples/src/main/java/io/dapr/examples/tracing/README.md only uses the components and configurations created by our CLI.
- CLI is now doing the right thing https://github.com/dapr/cli/pull/542

As a result, this doc does not need to change

[2020-12-09 03:44] #404 closed

[2020-12-09 07:49] artursouza commented on #404
Thanks. LGTM

— Artur Souza
________________________________
From: Nghia Tran <notifications@github.com>
Sent: Tuesday, December 8, 2020 7:44:19 PM
To: dapr/java-sdk <java-sdk@noreply.github.com>
Cc: Artur Souza <artursouza.ms@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [dapr/java-sdk] Update tracing sample doc to not use exporter (#404)

Closed #404<https://github.com/dapr/jav

[2020-12-10 03:20] artursouza opened #408 "Actor example still refers to HTTP"
## Expected Behavior

Actor example should be agnostic of HTTP or GRPC.

## Actual Behavior

Actor example still refers to HTTP

## Steps to Reproduce the Problem

Read the actor example.

## Release Note

RELEASE NOTE: N/A

[2020-12-10 05:44] artursouza opened #409 "Rename methods and parameters for consistency across SDKs"
## Expected Behavior

Java, .Net, Go and Python SDK have consistent method and parameter names.

Feature | Type | Current | New |
-|-|-|-
Service Invocation | method | invokeService | invokeMethod
Service Invocation | parameter | method | methodName
Service Invocation | parameter | request | data
State Store | method | saveStates | saveBulkState
State Store | method | getStates | getBulkState
Stat

[2020-12-10 08:32] arghya88 commented on #409
/assign

[2020-12-11 10:52] arghya88 commented on #405
I was looking at this and it seems it's happening because auto generated `DaprProtos.GetStateResponse` has `etag_ = "";`

[code]

@artursouza what would be the way to fix this?

[2020-12-11 21:54] #408 closed

[2020-12-14 21:50] artursouza commented on #405
This should be fixed in the runtime ideally. In my opinion, the fallback is for the SDK to convert empty string to null for GRPC and HTTP implementation to keep them consistent.

[2020-12-15 19:23] artursouza opened #415 "How to upgrade to v1.0.0-rc-2"
These are instructions on the breaking changes on SDK v1.0.0-rc-2.

## DaprException

Now, every method in the SDK throws `DaprException` when there is an error returned by Dapr sidecar, containing error code via the `getErrorCode()` method. `DaprException` may contain a child exception in the `cause` property. Other exceptions can still be thrown, like `IllegalArgumentException` or `IOException`.

[2020-12-16 08:06] #409 closed

[2020-12-16 14:37] arghya88 commented on #385
@mukundansundar I see all the fields are final and hence just adding a default constructor is not going to work. What do you suggest we should do?

[2020-12-17 01:50] artursouza opened #418 "Rename invoke to invokeMethod for ActorProxy"
We have recently renamed invokeActorMethod() to invoke() in ActorProxy, after discussions within maintainers, we decided to rename it to invokeMethod() instead.

Parent: dapr/dapr#2535

Related: #409

[2020-12-17 01:56] artursouza commented on #418
/cc @arghya88 We discussed the renaming again and we decided to keep invokeMethod() for service invocation but rename invoke() to invokeMethod() for ActorProxy to keep consistency in naming.

[2020-12-17 04:02] mukundansundar opened #421 "Implement getBulkSecret API"
## Describe the proposal

Following the implementation in runtime, https://github.com/dapr/dapr/issues/2168, implement the getBulkSecret for both HTTP and gRPC.
Implement unit tests.
Implement integration tests for both HTTP and gRPC APIs.
Modify secrets example for this API and add javadoc for the API.

[2020-12-17 06:06] hepin1989 commented on #418
/assign

[2020-12-17 13:10] arghya88 commented on #421
/assign

[2020-12-18 01:31] artursouza opened #424 "Unwrap IllegalArgumentException"
## Expected Behavior

Users that provides a bad argument should get IllegalArgumentException and not DaprException.

## Actual Behavior

Users that provides a bad argument get DaprException.

## Steps to Reproduce the Problem

Provide null to any method that has a mandatory param.

## Release Note

RELEASE NOTE: **REMOVE** DaprException from IllegalArgumentException.

[2020-12-18 20:13] #405 closed

[2020-12-19 06:33] mukundansundar opened #425 "Fix flaky reminderRecoveryTest"
## Describe the proposal
Fix flaky reminderRecoveryTest. This test has been flaky multiple times and causes build failures.
One example is below.
https://github.com/dapr/java-sdk/runs/1578906076

RELEASE NOTE:N/A

[2020-12-22 00:21] #424 closed

[2020-12-23 00:26] #418 closed

[2020-12-23 02:26] artursouza opened #427 "HTTP input is not properly encoded."
## Expected Behavior

If the value of a state store (for example) has a "/", then it does not affect the URL path and the Dapr API works as expected.

## Actual Behavior

Dapr returns `Method Not Allowed` error because "/" (and other special chars) affect the URL path.

## Steps to Reproduce the Problem

Try to save state where state store contains "/" in the middle of the name.

## Release Note

[2020-12-23 03:33] mukundansundar commented on #427
breaking change since constants are removed.

[2020-12-23 05:15] artursouza commented on #427
This is not breaking change because those constants are public simply because they are used in other packages. In Java there is no way to mark that as internal.

[2020-12-30 02:17] #427 closed

[2020-12-30 02:19] artursouza opened #430 "Add support for metadata in Publish API"
Add support for metadata in Publish API

[2020-12-30 03:29] artursouza opened #432 "Publish over gRPC does not respect content type for non Json payload"
## Expected Behavior

Users can publish XML and have the datacontenttype set to "text/xml" in cloudevent.

## Actual Behavior

datacontenttype defaults to something else from Dapr runtime and is ignored.

## Steps to Reproduce the Problem

Publish xml content and set "content-type" metadata to "text/xml". See that subscribers don't get the right value in `datacontentype` attribute in CloudEvent.

[2020-12-30 21:37] #385 closed

[2020-12-30 21:37] #430 closed

[2020-12-30 21:37] #432 closed

[2020-12-31 03:29] #377 closed

[2021-01-04 06:50] xiazuojie opened #434 "Blocking calls for gRPC and HTTP even though using Reactor"
## Expected Behavior
Implementations of DaprClient API being non-blocking.

## Actual Behavior

[DaprClient](https://github.com/dapr/java-sdk/blob/master/sdk/src/main/java/io/dapr/client/DaprClient.java) API is reactive with Reactor. However, its implementations (gPRC and HTTP/1.x) at the moment  are blocking, which defeats the purpose of using Reactive API.
[gRPC](https://github.com/dapr/java-sdk

[2021-01-05 07:31] artursouza commented on #434
@xiazuojie Do you have a proposal to fix this? The same also happens in the gRPC client. Since Java does not have async/await like .Net, I wonder how the Java community solves this.

[2021-01-06 00:31] mukundansundar commented on #421
Hi @arghya88, thanks for picking this up. Are you working on this?

[2021-01-06 02:18] xiazuojie commented on #434
Async is natively supported by gRPC java. For HTTP/1.x it's much more complicated.
I'll PR for gRPC.

[2021-01-06 03:52] arghya88 commented on #421
@mukundansundar yes started on it. Will have a PR soon.

[2021-01-06 18:41] artursouza commented on #434
HTTP is a lower priority since we use GRPC by default in the SDK. So, a PR for gRPC looks good to me.

[2021-01-06 19:01] artursouza commented on #434
This example might help with the HTTP client we have today (okHttp): https://github.com/square/okhttp/blob/master/samples/guide/src/main/java/okhttp3/recipes/AsynchronousGet.java

It is now a matter of how it can be integrated into Reactor's mono.

[2021-01-11 22:37] artursouza commented on #421
@arghya88 Any updates on this issue?

[2021-01-12 03:43] artursouza commented on #434
Thanks, @xiazuojie.

We only need the fix for HTTP now. GRPC is fixed.

On a side note, HTTP actually might become more relevant soon. As we are discussing if the invoke API should only be used over HTTP since gRPC to HTTP invocation cannot get the response to client easily translated due to core differences between the protocols.

[2021-01-13 00:29] vinayada1 opened #437 "etag error code changes in dapr runtime need a change in the sdk"
## Expected Behavior

https://github.com/dapr/dapr/pull/2647 changes the error codes returned for etag mismatch and other state api related errors in runtime. Check if java sdk needs a change for this.

## Actual Behavior

Dapr runtime used to return the same error code for all state api related errors including etag mismatch.

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-01-13 07:42] artursouza opened #438 "Handle service invocation over HTTP only"
## Describe the proposal

Today, mapping gRPC to HTTP is not correct and we don't have a mapping that can work yet (as per https://github.com/dapr/dapr/issues/2342). So, all API calls should be made over HTTP by default in the SDK, even if the other APIs work over gRPC.

This should improve experience for most users since HTTP endpoint is most common. The gRPC to gRPC or HTTP to gRPC scenarios are

[2021-01-13 08:06] artursouza opened #439 "Remove unused eTag param from getState()"
## Expected Behavior

eTag is not used by Dapr runtime in getState() only delete.

## Actual Behavior

eTag is handled in the SDK for GeState in HTTP, not in GRPC - after all is ignored in runtime.

## Steps to Reproduce the Problem

Use getState() with eTag, using different values and see how it is ignored.

## Release Note

RELEASE NOTE: **REMOVED** unused `etag` param from getState()

[2021-01-13 08:15] artursouza commented on #396
I am handling all the remaining metadata logic in the PR above.

[2021-01-14 13:17] darren-wang opened #441 "Why not implement java-sdk-springboot as a spring boot starter?"
## Describe the proposal
Hi, I'm a java learner of dapr, i wonder why not implement  dapr-sdk-springboot according to spring boot common starter rules, that would be nicer for spring boot users.

[2021-01-14 22:48] artursouza opened #442 "Support null eTag"
## Expected Behavior

Comply with new proto for etag as per https://github.com/dapr/dapr/pull/2666/files

## Actual Behavior

eTag is still handled as a simple string.

## Steps to Reproduce the Problem

Use master version of daprd and use any API that uses etag.

## Release Note

RELEASE NOTE: **FIXED** Support for null and empty etag.

[2021-01-14 23:01] #439 closed

[2021-01-15 00:12] #396 closed

[2021-01-17 03:58] artursouza opened #444 "@ActorMethod to override method's name for client and service"
Today, we have Actor for Dapr implemented in 3 languages: C#, Java and Python. Each language has their own convention in how a method should be named. Then, actor method invocation does not work cross language without the caller breaking the language's convention when defining the Actor's interface.

Example of Actor interface in the service side in C#:
[code]

Now, the same interface could be rep

[2021-01-17 04:02] artursouza commented on #444
This issue does not affect C# because C# does not use native method invocation for cross language invocation (without remoting), it uses the following API instead:
[code]

[2021-01-17 04:05] artursouza commented on #444
Python SDK already has this feature: https://github.com/dapr/python-sdk/blob/master/examples/demo_actor/demo_actor/demo_actor_interface.py

[2021-01-17 05:42] naheedk-pwc opened #502 "Java SDK build failure due to repo.spring.io library dependency"
## In what area(s)?

/area runtime
Unable to build using mvn clean install, due to dependency issue https://repo.spring.io/libs-milestone/com/github/gmazzo/okhttp-mock/1.3.2/. this repo, now, does not support anonymous user access

## What version of Dapr?

0.2.x

## Expected Behavior

successful build of https://github.com/dapr/java-sdk

## Actual Behavior

Build failed with following exception
[

[2021-01-19 00:40] artursouza commented on #441
@darren-wang Can you provide an example of how it would work for the end user? I am not a spring boot expert, so I am eager to learn how we can better integrate with it.

[2021-01-19 01:08] artursouza commented on #399
This issue is caused by #434. gRPC API is fixed and the Mono.block(timeout) is working now. There is another PR fixing it for HTTP too.

[2021-01-19 01:14] artursouza commented on #399
By allowing Mono timeout, it does not seem to be a need for a runtime feature to set timeout. We will close this issue once the PR above is merged.

[2021-01-19 01:15] artursouza commented on #446
Closing as duplicate of #399.

[2021-01-19 01:15] #446 closed

[2021-01-19 01:29] artursouza opened #447 "Support ActorReference"
## Describe the proposal

.Net SDK supports ActorReference class as a convenience for users to return the ActorType-ActorId tuple. This class should also be implemented in Python SDK.

https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Actors/ActorReference.cs

Also, update the actor_sdk E2E test by adding a invocation validating this use case.

[2021-01-20 07:34] #444 closed

[2021-01-21 23:23] #399 closed

[2021-01-21 23:23] #434 closed

[2021-01-23 00:30] pkedy commented on #331
Hi @xiazuojie! I hope #449 address this for you. As @artursouza mentioned we opted to put the handling of `java.lang.reflect.Type` in `TypeRef` to avoid overloading the `DaprObjectSerializer` interface and keeping it small.

For anyone following along, one discovery we had was that Java can create an instance of `TypeRef<T>` even if the parameter does not reference `<T>`. I assume it does this by

[2021-01-23 01:04] mukundansundar commented on #331
closed by #449

[2021-01-23 01:04] #331 closed

[2021-01-23 20:12] #438 closed

[2021-01-25 06:45] artursouza commented on #421
I have a PR for this. See above.

[2021-01-25 08:10] karishma-chawla commented on #437
I reproduced this by writing a quick test and as I had expected from the code, the grpc exception gets passed through to the client so there shouldn't be any change required (copied the exception returned below). I'll update the state store example to include this scenario.

Caused by: java.util.concurrent.ExecutionException: io.grpc.StatusRuntimeException: ABORTED: failed deleting state with key

[2021-01-25 10:27] xiazuojie opened #453 "Remove dependency from OpenTelemetry SDK - still unstable"
## UPDATE

Remove dependency from OpenTelemetry SDK completely, a consequence of that is the fix described below.

Keep OpenTelemetrySDK in example only.

## Describe the proposal
Currently, ``io.dapr.client.domain.Response`` is in a lot of State APIs.
[code]
The sole purpose of a Response is to hold a ``io.opentelemetry.context.Context`` and the object. However, project reactor already has an int

[2021-01-25 21:03] #421 closed

[2021-01-25 22:09] #442 closed

[2021-01-26 04:33] darren-wang opened #456 "<protocVersion>${protobuf.version}</protocVersion>failed to mvn install."
## Ask your question here
I'm using IDEA's bundled maven(3.6.3) installing java-sdk's master branch into my local env, however,

[code]

in `dapr-sdk-autogen` and `dapr-sdk-examples` poms failed. reporting:

[code]

it will build correctly after I change it to:

[code]

so, why is problem happen, and can we change it to the correct one?

[2021-01-26 05:25] darren-wang commented on #441
HI, please check PR:

https://cla.opensource.microsoft.com/dapr/java-sdk?pullRequest=457

[2021-01-26 09:37] frochi42 commented on #415
Concerning that DaprException introduction: Please make this a bit clearer, as it cannot be correct in the way it is described above.
It is stated: "every method in the SDK throws DaprException" which is definitly not true. E.g. there are many simple methods (aka getter) that simply return a value, so they never throw an exception.
But also for more complicated methods this sentence is misleading.

[2021-01-27 00:47] artursouza commented on #441
@darren-wang We are closing on the release, so I took the liberty to have a PR where we incorporate your solution into  the sdk-springboot package directly. It is OK for that package to be springboot specific - that is the intent. We might refactor spring only stuff out of it later. The priority now is on springboot apps. Please, take a look a the PR.

[2021-01-27 01:14] #437 closed

[2021-01-27 04:34] darren-wang commented on #441
Closed by https://github.com/dapr/java-sdk/pull/457 and https://github.com/dapr/java-sdk/pull/459

[2021-01-27 06:24] artursouza commented on #441
Reopening since PR is not merged yet.

[2021-01-27 18:40] #441 closed

[2021-01-27 20:15] artursouza commented on #453
@xiazuojie This started an interesting discussion. Our SDK depends on OpenTelemetry v0.10.0. Since OpenTelemetry is not stable yet, it is not compatible with version 0.14.0. It also means that we force apps to use the same OpenTelemetry SDK version as we do - this is a problem for us to call our SDK "stable". We will work on this issue with urgency but the scope is bigger: we want to remove depend

[2021-01-28 06:14] artursouza opened #461 "Error handling for http invocation of gRPC service"
## Expected Behavior

Error code is handled correctly when deserialized.

## Actual Behavior

Code crashes and Mono does not get a response.

## Steps to Reproduce the Problem

Invoke a gRPC endpoint that throws an exception, using the http client, you will not get a response back.

## Release Note

RELEASE NOTE: **FIX** error handling for service invocation with HTTP client and gRPC service.

[2021-01-28 18:27] #461 closed

[2021-01-29 02:05] artursouza commented on #453
@xiazuojie I am about to create a PR removing opentelemetry and opencensus as a dependency for the sdk (examples will still use that). I wonder if the Response object can actually be removed. I was looking into how to do it with Reactor only but it seems that the Context must be set *after* the reader of the Context in the chain. It is odd, I am not sure why. I reproduced it with the example discu

[2021-01-29 17:23] #453 closed

[2021-01-29 19:04] artursouza commented on #453
@xiazuojie We closed this issue since we removed dependency from OpenTelemetry and OpenCensus SDKs. See my comment above regarding removing `Response` object. I am happy to reopen this issue and discuss it further.

[2021-01-31 01:16] artursouza opened #466 "Replace all console pngs for text in examples' READMEs"
## Describe the proposal

Updating pngs in the READMEs is harder to maintain and review. Replace all text screenshots by plain text in the README for all examples.

PNGs for web pages should be kept.

[2021-01-31 01:24] artursouza commented on #456
It's been a while the last time we built it on Windows. We don't see this problem on macOS or Linux. I am using the same Maven version as you. Can you repro this on Linux? Just to confirm, this change in settings will not make a difference in the generated code, right? I will confirm by myself but wants to make sure you tested that to catch this early.

[2021-01-31 12:52] darren-wang commented on #456
[code]

I don't have a pure linux dev env, this is what I got building in WLS2 Ubuntu-20.04 distro.

[2021-01-31 21:53] artursouza commented on #415
@frochi42 Makes sense. Thanks for the feedback. We updated the description.

[2021-01-31 22:28] artursouza opened #467 "How to upgrade to v1.0.0-rc-3 & v1.0.0-rc-4"
These are instructions on the breaking changes for SDK versions 1.0.0-rc-3 & 1.0.0-rc-4. Unless instructed differently, use version **1.0.0-rc-4**.

# Breaking in 1.0.0-rc-3

## ActorProxyBuilder and ActorClient

`ActorProxyBuilder` does not implement `Closeable` anymore. We have thought about this design and it was odd to have a builder instance that could not be disposed after `build()`. To corr

[2021-02-01 18:10] mukundansundar opened #468 "Add auto validation for Actors Examples"
## Describe the proposal
Add auto validation for Actors Java Examples. Follow the guides/examples in https://github.com/dapr/mechanical-markdown for more information on the validator used.
Similar to the PR https://github.com/dapr/java-sdk/pull/464.
Add the test for the actors example. It might need some changes to make the output deterministic enough for it to be validated.

[2021-02-01 18:11] mukundansundar opened #469 "Add auto validation for Tracing Example"
## Describe the proposal
Add auto validation for Tracing Examples. Follow the guides/examples in https://github.com/dapr/mechanical-markdown for more information on the validator used.
Similar to the PR #464.
Add the test for the tracing example. It might need some changes to make the output deterministic enough for it to be validated.

[2021-02-01 18:12] mukundansundar opened #470 "Add examples on how to write Unit tests for Actors using then Java"
## Describe the proposal
Add examples on how to write Unit tests for Actors using the Java

[2021-02-01 23:57] artursouza opened #472 "State class has odd order of params: `value` and `key`"
## Expected Behavior

State class keys `key`, `value` params in order.

## Actual Behavior

It gets them as  `value` and `key`.

## Steps to Reproduce the Problem

Try to create a `State` key-value pair.

## Release Note

RELEASE NOTE: **FIXED** order of `State` key-value params.

[2021-02-02 03:03] #470 closed

[2021-02-02 03:03] #472 closed

[2021-02-03 04:01] xiazuojie commented on #453
@artursouza, thanks for the reply. I still do not think this [commit](https://github.com/dapr/java-sdk/pull/463) is best way to implement "context".

Let's think about why do we need a context. "To carry scoped-values across API boundaries and between threads", what does it means?
* carry scoped-values across API boundaries: this means context should NOT be part of the API, i.e. context should not

[2021-02-03 04:20] artursouza commented on #453
Please, send a PR with one method using this proposal. Use the tracing example as a way to validate this. We are in a time crunch. We can still squeeze in a breaking change but must be done within this week.

— Artur Souza
________________________________
From: xiazuojie <notifications@github.com>
Sent: Tuesday, February 2, 2021 8:02:12 PM
To: dapr/java-sdk <java-sdk@noreply.github.com>
Cc: Artur

[2021-02-03 08:11] xiazuojie commented on #453
@artursouza please take a look at https://github.com/dapr/java-sdk/pull/476

[2021-02-03 14:41] frochi42 opened #477 "Dapr-1.0.0-rc3 (and newer) breaks CloudEvent.deserialize for data-types other then String"
## In what area(s)?

/area runtime

## Ask your question here

when updating from dapr 0.10.0 to the release candidates (first introduced in 1.0.0-rc3) we first noticed that many of our unit test were failing. Having a deeper look shows that this is also a runtime problem: the CloudEvent.deserialize method does not work as before. It deserialized the payload as "LinkedHashMap".
The reason is obvio

[2021-02-03 18:56] artursouza commented on #453
That is great! We will incorporate the PR. Please, see comments there. Let's track the issue to remove Context from API in a separate issue. I am creating one.

[2021-02-03 18:59] artursouza opened #478 "Remove Context from API"
## Expected Behavior

Context should be handled separately from domain objects. As per discussion in #453

## Actual Behavior

Context is a property of request classes.

## Steps to Reproduce the Problem

See the Request classes.

## Release Note

RELEASE NOTE:  **REMOVED** Context from request and response objects.

[2021-02-03 18:59] artursouza commented on #478
@xiazuojie Please, comment on this issue so I can assign it to you.

[2021-02-03 19:00] artursouza commented on #453
Issue to track removal of Context is now in the issue linked above.

[2021-02-03 19:04] artursouza commented on #477
I am looking into how to make this easier for apps to handle their own deserialization.

[2021-02-04 00:48] xiazuojie commented on #478
I agree

[2021-02-04 07:13] frochi42 commented on #477
@yaron2 : thanks for you suggestion. I just compared the rc-version sources in github: The breaking change in CloudEvent was introduced in rc-2. So falling back to rc-3 makes no sense.

[2021-02-04 18:01] artursouza commented on #477
I have found a way to deserialize correctly from LinkedHashMap. Just use `ObjectMapper.convertValue()`. See in the test code below:

[code]

[2021-02-06 07:20] #478 closed

[2021-02-06 07:23] artursouza opened #482 "Update all copyright headers"
Update all copyright headers to match dapr/dapr#2758

RELEASE NOTE: N/A

[2021-02-06 08:18] #482 closed

[2021-02-09 07:29] artursouza opened #484 "Updates for next runtime RC"
Update the SDK for the following breaking changes:

1. Service invocation now handles queryparams as string and not Map of string->string. Get the latest proto and fix any code in the SDK that refers to that.

2. When content type is "application/octet-stream", CloudEvent's data will now be in `data_base64` and that should be exposed as `byte[]` to the application.

RELEASE NOTE: **ADD** Support m

[2021-02-10 03:38] #484 closed

[2021-02-11 21:21] artursouza commented on #477
Closing this issue. See solution above.

[2021-02-11 21:21] #477 closed

[2021-02-12 11:27] frochi42 commented on #477
Hi @artursouza ,
sorry for reacting so late. We were very busy changing the dapr-runtime ...
I can confirm that the the suggested ObjectMapper.convertValue() solution works (at least for the examples I tested so far).
Nevertheless we don't think it is a good solution. As you know, convertValue would first serialize the data, before calling readValue again. Overall it is just superfluous work. Firs

[2021-02-15 23:39] artursouza opened #491 "Add support to publish CloudEvent payload"
Publishing a CloudEvent payload requires `application/cloudevents+json` content-type so dapr sidecar does not wrap it in another cloud event. This issue is to allow the content-type to be set at the publishing time, so this and other scenarios can be enabled where the content-type need to be modified at a per request basis.

RELEASE NOTE: **ADDED** support to publish CloudEvent payload (and others

[2021-02-16 08:03] #491 closed

[2021-02-16 23:44] artursouza opened #493 "How to upgrade to v1.0.0"
These are instructions on the breaking changes on SDK v1.0.0 since v0.10.0. There should be no further breaking changes within 1.x versions.

## DaprException

Now, every method in the SDK throws `DaprException` when there is an error returned by Dapr sidecar, containing error code via the `getErrorCode()` method. `DaprException` may contain a child exception in the `cause` property. Other excepti

[2021-02-17 02:35] artursouza commented on #467
Closing in favor of https://github.com/dapr/java-sdk/issues/493

[2021-02-17 02:35] #467 closed

[2021-02-17 02:35] artursouza commented on #415
Closing in favor of https://github.com/dapr/java-sdk/issues/493

[2021-02-17 02:35] #415 closed

[2021-02-22 10:10] xiazuojie opened #496 "allow supplied ObjectMapper to DefaultObjectSerializer"
## Describe the proposal
At the moment, there is no way to customise JSON serialization behaviour if using DefaultObjectSerializer.
I suggest allowing supplied ObjectMapper to DefaultObjectSerializer.

[2021-02-22 18:08] artursouza commented on #496
Applications should not use DefaultObjectSerializer beyond test and samples. Applications are expected to implement their own serializer class. That way, they can have any customization needed, including using a non-JSON serialization.

[2021-02-22 18:09] #496 closed

[2021-02-24 03:05] stliu opened #498 "can't build on java 8"
Got the following error when build from source, it is caused by the following configuration in example/pom.xm

[code]

error log:

[code]

[2021-02-24 05:28] mukundansundar commented on #498
@stliu Currently the examples target v11 of Java https://github.com/dapr/java-sdk/blob/master/examples/pom.xml#L22

[2021-02-25 10:48] xiazuojie opened #500 "differentiate between pass-through and byte[] for DaprObjectSerializer"
## Expected Behavior

byte[] can means 2 things.
* pass-through: do not serialize/deserialize the values. Sent/return the raw data. Other parts of the system will deal with raw data.
* normal byte[] values: serialize/deserialize them normally.

## Actual Behavior

Current [DaprObjectSerializer](https://github.com/dapr/java-sdk/blob/9296a8332336333ead172f460fb3b2209c446acb/sdk/src/main/java/io/dapr

[2021-03-01 03:34] xiazuojie opened #501 "protoc-jar-maven-plugin is a dependency for dapr-sdk-autogen"
## Expected Behavior
protoc-jar-maven-plugin is only used to build module dapr-sdk-autogen. It's not a dependency.

## Actual Behavior
protoc-jar-maven-plugin is in dependency list of dapr-sdk-autogen.

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-03-03 14:44] abogdanov37 opened #503 "[RECALLED] Wrong value in state store (redis) when use custom json serializer"
I use dapr v1.0.0. I wrote the actor use Java SDK. To use the right OffsetDateTime class serialization I wrote a custom Json serializer `class ISO8601DaprObjectSerializer extends ObjectSerializer implements DaprObjectSerializer`.
## Expected Behavior
When I use this serializer I want to see JSON in state store
## Actual Behavior
Now in state store I see base64 encoded string. In this case, I shoul

[2021-03-09 20:23] artursouza commented on #447
ActorReference is a class that can be serialized by user provided serialization and it might not be compatible with every serializer, specially when cross SDK compatibility is required. I propose we pause this until further discussion about cross SDK serialization.

[2021-03-10 07:17] xiazuojie commented on #500
On second thoughts, it's not a good design to differentiate between pass-through and byte[] with DaprObjectSerializer. Pass-through should be specified in APIs of [DaprClient](https://github.com/dapr/java-sdk/blob/master/sdk/src/main/java/io/dapr/client/DaprClient.java).

[2021-03-10 20:24] artursouza commented on #498
Closing issue since it was responded by @mukundansundar

[2021-03-10 20:24] #498 closed

[2021-03-10 20:35] artursouza opened #505 "Create an example of a serializer"
Create an example that implements a serializer.

+ Use version mark/metadata, so the serializer has two different behaviors.
+ Show how it can be used to persist data.
+ Show an example with XML serializer too.

[2021-03-10 20:39] artursouza opened #506 "Move default serializer to examples project"
There has been multiple PRs trying to make the default serializer configurable, while its intent is just as an example.

Scope:
+ Mark default serializer as deprecated
+ Copy default serializer to examples project
+ Mark all methods and constructors that use default serializer as deprecated
+ Update all examples

[2021-03-10 20:40] artursouza commented on #501
Please, send the PR fixing this.

[2021-03-10 20:51] artursouza commented on #500
This issue is an example of why the DefaultObjectSerializer is just for examples and getting started but not for production use. If you need byte[] to be handled as-is, then you need a custom serializer where the content-type returned is "application/octet-stream".

[2021-03-10 20:53] artursouza commented on #500
@xiazuojie If you can clarify the scenario that is not working, I might be able to help further.

[2021-03-11 03:33] xiazuojie commented on #500
The comment in current API (as does the DefaultObjectSerializer implementation) clearly states "the event's data to be published, use byte[] for skipping serialization.", "The Type of the return, use byte[] to skip serialization", etc.. So it's in API definition that byte[] means "skipping serialization" (pass-through byte[]).

The problem is sometimes we do not want to "skip serialization". We wa

[2021-03-11 18:19] #466 closed

[2021-03-11 18:44] artursouza opened #509 "[Proposal] New project to handle JSON serialization"
The core SDK does provide solutions for serialization of application domain objects, it only offers an interface. In order to enable applications to opt-in to specific serialization solutions, it might be better to expose as an optional project (similar to how it is done in Spring Boot).

This proposal is to create a new project for JSON serialization that apps can opt in and be extensible, so it

[2021-03-11 21:39] mhoad opened #510 "Integrate with Google’s OSS Fuzz service"
This was only just released but looks as though it could be a good addition to the SDK test suite.
 https://security.googleblog.com/2021/03/fuzzing-java-in-oss-fuzz.html?m=1

[2021-03-11 23:08] #469 closed

[2021-03-11 23:10] artursouza commented on #510
I am all in for this. I think it would be a great opportunity for the community to contribute.

[2021-03-12 06:42] abogdanov37 commented on #509
It's an interesting idea. But I think that it should be a group of projects. For example, a common project `dapr-serialization` with common modules. And then `dapr-serialization-jackson`, `dapr-serialization-jsoniter` and other.

[2021-03-12 18:57] artursouza commented on #509
@abogdanov37 What would be in `dapr-serialization`? I wonder if it is something already present in `dapr-sdk`.

[2021-03-12 20:41] #501 closed

[2021-03-15 03:53] pli2014 opened #512 "please support JDK1.8 env with test code"
## Describe the proposal

looked at this file: sdk-tests/pom.xml
<maven.compiler.source>8</maven.compiler.source>
<maven.compiler.target>8</maven.compiler.target>

plugins 👍
released with 8 for support minimal version.
<plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-compiler-plugin</artifactId>
        <version>3.8.1</version>
        <configuration>

[2021-03-15 04:08] artursouza commented on #512
@pli2014 We generate our assets (jars) with JDK 8 support so legacy Java apps can use the Dapr's Java SDK. Could you clarify what is the advantage to downgrade to Java 8 in the integration test project since that project is not consumed by apps?

[2021-03-15 04:17] artursouza commented on #500
@xiazuojie The DaprObjectSerializer contains getContentType() method for this purpose. There was recent code fix to handle that: https://github.com/dapr/java-sdk/pull/504

The behavior of "use byte[] for skipping serialization" should be only for ObjectSerializer because it allows us to handle serialization correctly internally for the Dapr API objects. This should not be the expectation of every

[2021-03-15 04:24] artursouza commented on #502
This issue has been fixed. Please, reopen if issue continues.

[2021-03-15 04:24] #502 closed

[2021-03-15 09:10] xiazuojie commented on #500
I suggest the DaprObjectSerializer interface to be changed to:
[code]

* `getContentType()` method is removed. Content type (a.k.a. mimeType) should be a property (`data-content-type`) for the input byte[] and output byte[], not the serializer.
* `canSerialize()` and `canDeserialize()` are added to support serialization negotiation based on `data-content-type`.
* Instances of DaprObjectSerializer

[2021-03-16 02:24] artursouza commented on #500
We can accomplish the same with the current interface. getContentType() can be used to determine if the data can be deserialized too. Plus, we still need to know which mimeType is being generated by the serializer.

Another point is adding support for multiple serializers in a single client. What is the advantage of that? Apps would need to specify which mimeType to use on every request. Do apps r

[2021-03-16 03:18] beiwei30 opened #514 "Potential issue in io.dapr.client.DaprClientHttp#executeStateTransaction"
In io.dapr.client.DaprClientHttp#executeStateTransaction, there's one line of code like below:

https://github.com/dapr/java-sdk/blob/9c5084b56fdfc9ab16111589c69248cb9cc211e2/sdk/src/main/java/io/dapr/client/DaprClientHttp.java#L398

Instead, I believe the right logic should be:

[code]

[2021-03-16 12:25] xiazuojie commented on #500
Current ``getContentType()`` can only support a single mime type. With the API I suggested, a DaprObjectSerializer can support multiple mime types. For example, mime type `text/plain` and `text/xml` can be serialized by a single `TextSerializer`. Also, serialization can be decided based on input `TypeRef<T>`.

An app needs to integrate with other systems. Most of the time, the serialization method

[2021-03-16 15:25] jacksierkstra opened #515 "Caused by: java.lang.NoSuchFieldError: okhttp3/RequestBody.Companion"
## Expected Behavior

Being able to construct a `DaprClient` by using `new DaprClientBuilder().build()`.

## Actual Behavior

Instead of being able to construct a new instance, the application crashes with the following stacktrace:

[code]

## Steps to Reproduce the Problem

I created a very small Spring Boot application that creates a `DaprClient` upon starting up as a bean.

The application has

[2021-03-16 16:21] mhoad commented on #510
Looking into this a little bit more it seems like there is a whole process involved with this that I wasn't originally aware of that is outlined here https://google.github.io/oss-fuzz/getting-started/accepting-new-projects/

[2021-03-16 16:49] artursouza commented on #514
@beiwei30 Yes, this is a bug. We need to fix this ASAP. I was planning on releasing 1.0.1 today but I will work on this instead and add it to the hotfix release. We also need IT to make sure this bug does not come back. nice catch!

[2021-03-16 16:54] artursouza commented on #515
@jacksierkstra This is a common issue when the OkHTTP version conflicts from the Dapr SDK and any of your other dependencies. You can fix this by changing the springboot version to one that uses a compatible OkHTTP version or force a compatible okHTTP version in your project by adding the following dependency:

[code]

[2021-03-16 17:27] artursouza commented on #510
@mhoad Thanks for looking into this. One day, we will "have a significant user base and/or be critical to the global IT infrastructure".

[2021-03-16 17:30] artursouza commented on #500
@xiazuojie Can the same be accomplished with a different DaprClient instance per serializer? The original design was that for apps that need multiple serializers, they could simply instantiate a different DaprClient.

[2021-03-16 18:31] jacksierkstra commented on #515
Ok, thank you.

[2021-03-16 18:31] #515 closed

[2021-03-16 21:33] artursouza commented on #514
This issue is not present in the gRPC client, which is what is used by default in the SDK. So, it is not as urgent. Still, I am working on the fix.

[2021-03-17 02:48] xiazuojie commented on #500
Yes. It's the workaround we are currently using. But it's not ideal.

https://github.com/dapr/dapr/issues/2905#issuecomment-796537346:
`The users are forced to work around this by treating raw byte[] as "skipping serialization", which brings another issue. Another workaround (the one we are currently using) is creating multiple instances of Dapr client with different DaprObjectSerializer in order

[2021-03-17 06:34] artursouza commented on #500
I understand the need to support multiple serializers within the same app. I wonder is there is a way to achieve that with a simpler interface. I will think about alternatives. I am thinking if we can have a solution where an all-in-one serializer is just an implementation detail.

[2021-03-17 17:10] #514 closed

[2021-03-17 22:02] artursouza commented on #503
@abogdanov37 This fix must be undone because it is a breaking change. Data stored with the old version cannot be read with this patch. We are reverting this and undoing that fix in the patch release too.

[2021-03-18 05:12] abogdanov37 commented on #503
Should I add fallback to support old way?

[2021-03-18 06:25] artursouza commented on #503
@abogdanov37 For this feature to be added, the old way should be the default and the new way must be opted in. The design would need to be a little bit creative here. Take your time to think about this.

I am sorry for this but we are in a different mode now in post v1.0 where breaking changes are a big deal, specially when dealing with persisted data.

Anyhow, I really appreciate your open mind h

[2021-03-18 06:30] abogdanov37 commented on #503
I understand the problem with breaking changes. I take some time to think about the way and add changes.

[2021-03-18 07:14] mhoad commented on #510
@artursouza just one more thing. It seems there might be a viable path still. My understanding here is that the fuzzier itself is open source here https://github.com/CodeIntelligenceTesting/jazzer but the managed ongoing testing is it’s own separate thing. Is it an option still if we handle the infrastructure? Is that even a reasonable goal though?

[2021-03-18 23:17] artursouza commented on #510
Let me reopen this in the meantime.

Well, is this something we can run on GitHub actions? If you can try that out and it works, we can take a PR in.

[2021-03-20 13:03] danp11 opened #523 "Blue print/best practice for Java code"
Hi all,

I would like to contribute but I have a full-time job so for me it's a matter of weekends
and evenings after works. I've been studying the code a lot though and it some beautiful code
that you have written there Arthur, together with others :-)

Today I looked into https://github.com/dapr/java-sdk/issues/369
but after a few hours, I couldn't get the test coverage to work for the getInstan

[2021-03-23 06:56] xiazuojie commented on #500
@artursouza Have you found alternative solution to support serialization negotiation?

[2021-03-23 07:16] xiazuojie opened #524 "Use Mono.empty() instead of a State with null value (when a state does not exist)"
## Describe the proposal
### Non-existing value
Project reactor does not allow null values. It has the concept of an **empty** stream to represent a non-existing value. It has the benefit of being null-safe.

When a state does not exist, current state API does not return an empty Mono. Instead, it returns a State object with its value set to null. It is not null-safe. It requires the client to do

[2021-03-23 21:30] #394 closed

[2021-03-24 15:41] #523 closed

[2021-03-30 21:30] mukundansundar opened #529 "Add Shutdown API"
## Describe the proposal
With the addition of the shutdown API in proto https://github.com/dapr/dapr/blob/master/dapr/proto/runtime/v1/dapr.proto#L82
and HTTP https://github.com/dapr/dapr/blob/master/pkg/http/api.go#L316-L325
add a shutdown API in Java as well

- gRPC and HTTP API
- Unit Test
- Integration Test
- Example?

[2021-03-31 06:08] LLLLimbo opened #531 "Maven configuration files need to be optimised"
## Describe the proposal
The current configuration is not easy to manage and I think it would be better to make some adjustments.
I will create a pr later.

RELEASE NOTE: N/A

[2021-03-31 18:59] mukundansundar commented on #468
Need out of order processing support from mm.py. Since there are 3 actors in the example that are there which are called from independent threads, there is no order guarantee on which actor is called first. Similarly for the reminders and timers, since there is more than one actor, any actors can be pinged first or reminded of a state first.

Created an issue https://github.com/dapr/mechanical-mar

[2021-04-03 02:17] artursouza commented on #531
@LLLLimbo I saw your PR. We are open to optimizations but we need to know the motivations and avoid side effects. For example, the dependencies for each project must remain as-is even with this refactoring. I will ask questions in the PR directly.

As a rule of thumb, PRs without a discussion in an issue tend to take longer to be merged or may be rejected.

[2021-04-03 02:44] artursouza commented on #500
I thought about a new interface for the SDK to use and that enabled negotiation. Then, multiple serialization negotiation can be an implementation of that and not a core feature of the SDK.

So, the following interface would be part of the core SDK:
[code]

This way, an implementation of DaprObjectSerializer can be implemented with the scenario you described. Any serialization implementation shoul

[2021-04-03 05:13] artursouza commented on #468
@mukundansundar I agree. We need out of order processing before we can add this validation.

[2021-04-05 16:29] #425 closed

[2021-04-07 18:42] #529 closed

[2021-04-08 17:11] artursouza commented on #524
Closing this issue as discussed in the PR. Thanks.

[2021-04-08 17:11] #524 closed

[2021-04-08 17:11] #493 closed

[2021-04-12 10:59] xiazuojie commented on #500
Both serialization and deserialization needs to consider serialization-type.

[code]

Also, for this to work, mimeType needs to be part of [request and response objects](https://github.com/dapr/dapr/blob/master/dapr/proto/runtime/v1/appcallback.proto).

[2021-04-20 20:23] halspang opened #533 "Add support for actor reentrancy"
## Describe the feature
The dapr core runtime is planning on supporting actor reentrancy. The bulk of this logic will be handled in dapr's runtime but the SDK will be responsible for:

- Preserving the header `dapr-reentrant-id`
- Providing the new config fields required by `dapr/config`

For more context on actor reentrancy, the design proposal can be found here: [actor reentrancy](https://github

[2021-04-21 06:26] Tallone opened #534 "Is DaprClient thread safe？"
Can i use spring to manage instance of DaprClient in singleton?

[2021-04-22 19:30] mthmulders opened #535 "How to use gRPC service invocations?"
After following the [Invoking a Grpc endpoint](https://github.com/dapr/java-sdk/tree/master/examples/src/main/java/io/dapr/examples/invoke/grpc) example, I wanted to give it a try.

So I have created two applications, a server and a client, both using Spring Boot. They share a common submodule that holds the Protobuf definitions, and that generates the corresponding Java classes.

## Client

The s

[2021-04-23 19:11] artursouza commented on #500
That interface is too specific for the multi-serialization solution - which is one implementation of the interface.

The difference here is who decides which mimetype to use when serializing an object and when:
1. The app when making one request into DaprClient()
2. The app when instantiating DaprClient(), providing the implementation of DaprObjectSerializer()

Your solution seems to assume approa

[2021-04-26 02:22] xiazuojie commented on #500
Yes, that's the reason why I suggest the following interface in the first place. The serializer impl only decides whether it supports specified MimeType. It's  DaprClient that pick a suitable serializer for specified MimeType.
[code]

Yes, I prefer solution 1.
Solution 1: DaprClient is not coupled with specific serialization method. There can be a single instance of DaprClient.

[2021-04-27 05:51] artursouza commented on #500
@xiazuojie I am not a fan of this approach. I would need to find a solution that is less verbose and does not require mimetype to be passed in on every request. It does not make sense for an app to use multiple serialization mimetypes at once - I am still not convinced this is a common scenario (yes, it can exist).

Another way I was thinking was to have a "DaprChannel" instance that is globally u

[2021-04-27 06:34] artursouza commented on #535
@mthmulders Thanks for creating an issue for this. There are a few things to clarify here.

First, Dapr invokes gRPC servers but only for the `dapr.proto.runtime.v1.AppCallback` API. Dapr does not understand the proto that is generated for the application. This is a limitation for Dapr invoking gRPC endpoints.

Second, Dapr works based on sidecar. Port 3500 is the default port for Dapr sidecar, so

[2021-04-27 06:35] artursouza commented on #534
Yes, DaprClient should be reused for multiple threads.

[2021-04-27 19:27] mthmulders commented on #535
Thanks for the reply, @artursouza. Just to make sure I understand you correctly, let me go through it one by one...

Do I understand correctly that Dapr *only* uses gRPC for getting information from the application it accompanies, such as "which services do you expose"? But *not* for actually invoking those business services - invoking the business services that my application exposes only works o

[2021-04-27 22:38] artursouza commented on #531
@LLLLimbo Build is broken with the PR above. Can you fix it?

[2021-04-27 23:46] LLLLimbo commented on #531
I'll take a look. Should I continue to commit on the branch *issue_531* ?

[2021-04-28 05:36] Tallone commented on #534
ok，thanks

[2021-04-28 05:36] #534 closed

[2021-04-28 06:56] mthmulders commented on #535
I didn't mention before, and I think it's part of the puzzle... I'm also using the [gRPC Spring Boot starter](https://github.com/LogNet/grpc-spring-boot-starter). That doesn't expose the `dapr.proto.runtime.v1.AppCallback` by default, but I managed to do so.

Now I don't see `{"code":12,"message":"Method not found: dapr.proto.runtime.v1.AppCallback/OnInvoke"}` anymore, but rather `{"code":12,"mess

[2021-04-28 19:51] artursouza commented on #531
@LLLLimbo We figured out that it failed on your PR as a coincidence. We had creds rotated recently because of the CodeCov drill. We are fixing this. Thanks for being open about it.

[2021-04-28 19:51] artursouza commented on #531
Closing this issue.

[2021-04-29 05:16] artursouza commented on #535
Hi @mthmulders. Thanks for looking into the example and sorry if I missed that in your original issue.

I am not familiar with gRPC Spring Boot starter, so I cannot help much there.

Regarding your other question about the communication between apps and sidecars, here is a quick diagram:
app A ----- grpc or http -------> sidecar A -------- grpc -----------> sidecar B ----- grpc or http ----> app B

[2021-04-30 01:00] artursouza commented on #531
Reopening since we found a regression. There was indeed an issue but how the creds were rotated but this PR also added another issue. The deployment of the jars are being skipped now.

@LLLLimbo We are happy to take on another PR is this regression can be addressed. We are reverting this change from master for now.

See step "Publish to ossrh" in this run: https://github.com/dapr/java-sdk/runs/247

[2021-04-30 01:28] LLLLimbo commented on #531
I'll take on another PR later.

[2021-04-30 18:39] artursouza opened #537 "Update PubSub example to include tracing"
## Describe the proposal

Update PubSub example to include tracing and show how to use a custom span.

[2021-05-01 19:59] mthmulders commented on #535
Hi @artursouza, thanks a lot for the explanation. I think I'm having a 💡 moment... Please allow me to verify if I understand correctly:

Dapr always uses gRPC for communication between sidecars. If you're using the Java SDK for Dapr,
* on the client-side, it doesn't support gRPC, it only supports HTTP. A Java application can only communicate with its sidecar using HTTP.
* on the server-side,
  * y

[2021-05-03 18:26] #537 closed

[2021-05-04 05:46] artursouza commented on #535
@mthmulders Your understanding is correct as of now.

[2021-05-04 05:47] artursouza commented on #535
I am closing this issue. Please, reopen if you still have further questions on this topic.

[2021-05-04 05:47] #535 closed

[2021-05-04 06:29] mthmulders commented on #535
Thanks for confirming, and an additional thank you for helping me out in understanding this!

[2021-05-05 07:54] abogdanov37 commented on #503
I add new PR with some new tests. Please describe with more detail which state can't be deserialized. I spend many time but can't reproduce that behavior.

[2021-05-07 00:11] artursouza opened #541 "New project for app's integration testing with Dapr"
## Describe the proposal

Publish a new Maven artifact that allows application developers to easily write integration and end-to-end testing with Dapr. Ideally, supporting both standalone and K8s environments.

POC for integration tests on standalone mode: https://github.com/artursouza/java-sdk/commit/a284a0ecbb93c09288b598b0b7a6b0e26d943523

[2021-05-07 09:49] nobodyiam commented on #535
This is not correct, as long as the system property `dapr.api.methodInvocation.protocol` or environment variable `DAPR_API_METHOD_INVOCATION_PROTOCOL` is set to `GRPC`, then the invocation between java client and dapr sidecar will use grpc.

https://github.com/dapr/java-sdk/blob/dfd0d5c7af167072434d680859e851c9adfc94bd/sdk/src/main/java/io/dapr/client/DaprClientBuilder.java#L120-L130

[2021-05-07 16:39] artursouza opened #542 "Update tracing examples to use Mono.using() and unblocking syntax"
Change the tracing examples (PubSub and Invoke) to use non-blocking syntax and show how the parent span is handled.

[2021-05-07 17:33] artursouza commented on #535
@nobodyiam Yes, that is correct. It is possible to use service invocation for gRPC but it is not recommended. The default is HTTP. On the other hand, for the other APIs, the default protocol is gRPC for app to sidecar communication.

[2021-05-07 17:46] artursouza commented on #503
@abogdanov37 Like we discussed in the issue, I will look into that before merging the PR. Ideally, I can come up with a new unit tests that can gate this regression. If my reading of the code is wrong, we can merge the PR.

[2021-05-10 02:24] nobodyiam commented on #535
@artursouza Regarding this statement, may I ask why invocation with gRPC is not recommended?

[2021-05-10 16:22] javageek79 opened #543 "Provide MockDaprClient or MockActorClient for easy unit/integration testing"
## Describe the proposal
For making unit testing and integration testing easier, it would be great, if dapr java sdk could ship with ready configured or easy configurable mock implementations for generally used items like DaprClient or ActorClient.

For ActorClient in particular, it would also be great, if the protocol http/gRpc could be configured during tests so it would be easier to use an in m

[2021-05-11 21:00] halspang opened #544 "Move All Actor Config to Annotations"
## Describe the proposal
Move all actor configuration to an annotation based pattern. Currently, fields like actor timeout are all set via direct calls into the config by the actor themselves while other information like the actor type is handled via an annotation.

### Current Pattern

[code]

### Proposed Pattern
Exact annotation style can change but the general pattern would be as follows.

[co

[2021-05-14 16:17] lullen opened #546 "Join multiple spans (grpc)"
I created a small sample application to try out dapr and decided to go the grpc route, while it seems a bit more unpolished it works great, so great work and thank you!

The issue I have is that while all my spans correctly shows up in zipkin they always just show one interaction. Like from Client -> Server or Server -> Access and not the full call chain which is Client -> Server -> Access. Howeve

[2021-05-17 19:35] rovangju commented on #546
Seems you can propagate the `traceparent` header Dapr sends in through the reactor context (kotlin snip below, should be close to Java) - you'd put this on your middle service `Server` making the call to `Access`.

However! I haven't found a way to get this value  from a GRPC service endpoint, only through HTTP rest endpoint headers. 😞

This `contextWrite` impacts the lower level call of the SDK c

[2021-05-26 12:52] delvh opened #550 "External repositories not needed anymore in README"
Currently, the following code can be found inside the README:
[code]
As far as I can see and have tested, these repositories are no longer needed to download the SDK using Maven, as Dapr has now been uploaded to Maven Central.
I'd suggest removing this entry then from the README.

[2021-05-26 16:50] mike-reynolds-savient opened #551 "How to get message headers from a Binding"
## How do you receive message headers or any metadata from a output binding?
I have a spring-boot application that uses RabbitMQ for input and output bindings, but I cannot get any of the message headers within code, only subset of HttpHeaders using the following:

`	@PostMapping(path = "/eventSink", consumes = MediaType.APPLICATION_JSON_VALUE)`
`	public void formattedEventDataSink(@RequestHeader(

[2021-05-26 17:20] mike-reynolds-savient opened #552 "Bulk processes for invokeBinding"
## How to perform bulk operations with `invokeBinding`?

I have an output binding defined for PostGRES and can invoke an 'exec' to insert a record to the database, but this would be incredibly inefficient for 1000s records per second, presuming a commit is done after each call to invokeBinding. Is there a 'standard' way of passing a batch of data or controlling the commit?

I can do this using the

[2021-05-26 22:25] rovangju opened #554 "Update Spring Boot DaprBeanPostProcessor to evaluate expressions Topic attribute values"
Assuming a spring app with an `application.properties` file containing
[code]

##  Current behavior (kotlin for example)
[code]

##  Proposed behavior (kotlin for example)
[code]

---

## Proposed method

This could be achieved by modifying the `DaprBeanPostProcessor` class to evaluate the attribute value with an `EmbeddedValueResolver` with the spring context.

This would also support other SPEL,

[2021-05-26 22:37] artursouza opened #555 "Fix mvn deploy"
## Expected Behavior

mvn deploy does not show warnings:

[code]

## Actual Behavior

Warnings are shown.

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-05-26 22:39] artursouza commented on #550
@delvh Please, create a PR.

[2021-05-26 22:41] artursouza commented on #552
@mike-reynolds-savient This would be work to be implemented in components-contrib.

Moving to contrib repo.

[2021-05-26 22:53] artursouza commented on #554
I am supportive of this change.

[2021-05-27 12:41] delvh commented on #550
I have seen that the same might apply to Gradle:
[code]
Can someone test whether its unnecessary there too, please?
I am not too familiar with gradle. I'd assume it to be true there too, but I don't know for sure whether it is.
Because if that is the case, I'd remove both at once.

[2021-05-28 05:26] artursouza commented on #255
This issue can be an adapted version in Java of the following quickstarts:

https://github.com/dapr/quickstarts/blob/master/hello-world
https://github.com/dapr/quickstarts/blob/master/hello-kubernetes

[2021-05-28 16:25] VermaNishant978 commented on #255
/assign

[2021-05-31 19:53] mthmulders opened #558 "Dependency Convergence error for Kotlin library"
## Describe the proposal
I propose to add the [Maven Enforcer Plugin](https://maven.apache.org/enforcer/maven-enforcer-plugin/) to the project build, and more specifically, to enforce the ["Dependency Convergence" rule](https://maven.apache.org/enforcer/enforcer-rules/dependencyConvergence.html).
This rule ensures that for each dependency, it is possible to resolve to one and only one version.
Quo

[2021-06-01 00:03] artursouza commented on #558
I am OK to keep it as a proposal given the change in the build plugins.

I like this proposal. Please, create a PR for this. Be mindful that there is another PR open to refactor the Pom files.

[2021-06-03 04:46] pinxiong opened #559 "Fatal error compiling occurred when building this project"
## Expected Behavior

run `mvn clean package` successfully

## Actual Behavior

A fatal error occurred when run `mvn clean package`

## Steps to Reproduce the Problem

#### Environment
+ Dapr version: `1.2.0-SNAPSHOT`
+ Dapr branch: `master`
+ OS name: `mac os x`
+ OS version: `10.16`
+ OS arch: `x86_64`
+ JDK version: `1.8.0_281`
+ JDK vendor: `Oracle Corporation`
+ Maven version: `3.6.3`

#### H

[2021-06-03 06:38] #559 closed

[2021-06-03 07:00] artursouza commented on #551
RabbitMQ input binding does not return any metadata (which maps to HTTP headers). If you need any metadata to be returned by RabbitMQ, please, create an issue in dapr/components-contrib.

https://github.com/dapr/components-contrib/blob/4ee732e0bd5e616b18fcfe15219712a74300b0fb/bindings/rabbitmq/rabbitmq.go#L241

[2021-06-03 07:01] artursouza commented on #512
Closing issue.

[2021-06-03 07:01] #512 closed

[2021-06-03 07:46] naichowdhury opened #561 "Unable to build the dapr-sdk-autogen"
## Expected Behavior

run mvn clean package successfully in dapr-sdk-autogen

## Actual Behavior

A fatal error occurred when run mvn clean package

## Steps to Reproduce the Problem

Environment

- Dapr version: 1.1.0 (1.2.0-SNAPSHOT is not available in maven repo)
- Dapr branch: master
- OS name: windows 10
- OS version: 10.16
- OS arch: x86_64
- JDK version: 1.8.0_281
- JDK vendor: Oracle Corpo

[2021-06-05 01:39] rovangju commented on #561
This could be a dupe of #555?

[2021-06-07 04:26] naichowdhury commented on #561
checked the issue #555 but that one looks different. Am facing issue related to error in SSL handshaking with no idea where to get the certificate from and add into cacerts as no url is defined. the verbose output of the error is attached in the original issue

[2021-06-07 06:43] #550 closed

[2021-06-07 12:37] dasamitk commented on #561
1. Build the project in debug mode (mvn clean install -X), it will give you the URI with certificate issue: https://raw.githubusercontent.com/dapr/dapr/v1.2.0-rc.3/dapr/proto/common/v1/common.proto
2. Export the SSL certificate using Firefox. You can export it by hitting the URL in the browser and then select the option to export the certificate. Let's assume the cert file name is dapr.cer
3. Go t

[2021-06-07 13:09] naichowdhury commented on #561
thanks, it worked, closing the issue

[2021-06-07 13:09] #561 closed

[2021-06-08 19:20] xiaoweil opened #562 "Blocking call detected by BlockHound when invoke Actor methods, and access actorStateManager methods"
Hi there,

We are experimenting with the dapr actor service, and have seen some blocking calls detected by BlockHound. Wondering if these are false positive or we did something wrong with the actor usage. Please see below for example:

Create a simple actor call Test

[code]
[code]

Create testing endpoints with spring webflux:

[code]

Register the actor:
`ActorRuntime.getInstance().registerActor

[2021-06-09 02:06] darren-wang opened #563 "Which way to use DaprClient is recommended?"
Hi, there are 2 ways to use `DaprClient` in current demos.

first one is to create a new `DaprClient` instance whenever you need to talk to dapr runtime:

[code]

second one is to create a `DaprClient` bean before usage, then inject it into code:

[code]

since our project is Spring-based, the second way seems attractive, however, is it thread-safe to use `DaprClient` in the second way, since Spri

[2021-06-11 04:55] artursouza commented on #563
The second way is preferred because you reuse the client. The client is thread-safe and designed to be reused.

[2021-06-11 04:55] #563 closed

[2021-06-11 04:57] artursouza commented on #562
Thanks for reporting this issue. This needs to be fixed. We did fix this in the non-Actor client but did not update this one.

[2021-06-11 06:13] darren-wang commented on #563
Got it, hope all the demos can be updated with the recommended way.

[2021-06-11 06:55] naichowdhury opened #565 "Unable to deploy dapr application using Dockerfile"
## Expected Behavior

Successfully able to deploy and run the container

## Actual Behavior

Container is unable to start and generating the below logs:

Events:
  Type     Reason     Age                From                                                   Message
  ----     ------     ----               ----                                                   -------
  Normal   Scheduled  29s

[2021-06-13 23:31] artursouza commented on #563
Not every demo uses Spring. Still, the client can be reused. Feel free to send PRs fixing those. Maybe one at a time, so we can agree on a strategy.

[2021-06-14 20:37] #562 closed

[2021-06-15 07:03] javageek79 opened #566 "Can't create actor reminder due to "Request size is too large" error on azure cosmosdb"
## Expected Behavior

No error on registering actor reminder

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Having many reminders for one actor type, so that actor-type document on cosmosdb statestore exceeds 2MB size.

## Release Note

RELEASE NOTE:

[2021-06-15 07:21] javageek79 opened #567 "Long living requests to PUT /actors/{type}/{id}/method/{method}"
## Expected Behavior

Request times out after certain amount of time

## Actual Behavior

[code]
We have many requests on our environment takeing hours
![image](https://user-images.githubusercontent.com/3714921/122009986-f0a6b380-cdba-11eb-8518-56666b159949.png)

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-06-16 02:44] artursouza commented on #567
Hi @javageek79. Thanks for reporting this. We don't have a configuration to timeout on the lock for actor invocation. I think we need that in the server side and make it configurable.

For now, you can configure the timeout on the client side in the application you are using to make the HTTP request. What is causing the contention in that particular method? Is the request throughput too high for t

[2021-06-18 05:48] #554 closed

[2021-06-18 21:14] rovangju commented on #565
Your Dockerfile indicates you're using the openjdk image and expecting Dapr to be in it, which it isn't .

[2021-06-21 04:15] naichowdhury commented on #565
-- i checked the dapr website it says for development installing dapr runtime through a docker file is okay but for production environment it is not suggested. So, can you kindly suggest which jdk image shall i use or if there is any way to use an image with the Dapr in it

[2021-06-21 05:45] rovangju commented on #565
If you're running in Kubernetes you can install Dapr to the cluster to leverage it fully: https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-overview/

I personally use the helm chart.

If for some reason you want to run dapr within your docker image, you need to download + install it in your runtime environment (e.g.: run wget or curl, and extract it)

[2021-06-27 02:33] wenqiglantz opened #568 "OWASP dependency vulnerability check failure"
## Expected Behavior

OWASP dependency vulnerability check for dapr-sdk version 1.1.0 should pass.

## Actual Behavior

I ran OWASP dependency vulnerability check on my app, which uses Dapr, specifically the following dependency lib.

[code]

The dependency vulnerability check showed the following results, complaining about two dependency libs within io.dapr:dapr-sdk:1.1.0, any suggestion on how t

[2021-06-29 13:00] jigargandhi opened #569 "Add support for ISO 8601 intervals to java sdk"
## Describe the proposal
Runtime has added support for ISO 8601 intervals for reminders as per https://github.com/dapr/dapr/issues/2513.
Make changes to SDK to support accordingly

[2021-06-29 17:57] wenqiglantz commented on #568
Closing this issue as I found out I should submit through instruction on https://docs.dapr.io/operations/support/support-security-issues/.

[2021-06-29 17:57] #568 closed

[2021-06-29 19:31] berndverst commented on #348
@mukundansundar can we make this P1 and add it to the Java SDK 1.2 milestone?

[2021-07-07 19:06] mthmulders opened #575 "Pub/sub binding for Spring Boot ignores @PostMapping value"
## Expected Behavior

In my Spring Boot application, I have a `@RestController` annotated class with one method:

[code]

I have added the **io.dapr:dapr-sdk-springboot** dependency, so I expect that this method will be invoked by the sidecar when a message is published on the "speedingviolations" topic.

## Actual Behavior

The Dapr sidecar logs the following error:

[code]

The path "/speedingvi

[2021-07-07 19:07] mthmulders commented on #575
PS. If you feel this is indeed worth fixing, I am willing to give it a shot.

[2021-07-07 19:53] mthmulders opened #576 "Automatically unwrap pub/sub CloudEvent"
## Automatically unwrap pub/sub CloudEvent

### Background
In the Dapr SDK for .NET, one can configure the SDK to automatically unwrap _CloudEvents_ that an application receives over pub/sub using `app.UseCloudEvents()`.

The Dapr SDK for Java, however, only lets you receive a `CloudEvent`. It provides access to the underlying message using `getData`, but that method returns an `Object`. According

[2021-07-07 22:43] tanvigour commented on #576
@artursouza : Any thoughts on this?

[2021-07-09 04:07] artursouza commented on #576
The .Net SDK drops some cloud events attribute to make it easier to use. The Java SDK has a different approach. We can make a change to make it easier to convert java.util.Map to a type - it is already possible today via Jackson. Maybe a method in CloudEvent that will deserialize `data` to a particular type.

[2021-07-09 09:26] tiankanghello opened #577 "ERR_DIRECT_INVOKE: fail to invoke, id: invokedemo, err: cannot invoke local endpoint: app channel not initialized"
When I come across this mistake. What should I do to enable me to call the local dapr program normally

[2021-07-09 22:50] delvh commented on #563
But what about the choice of letting it implement `AutoCloseable`?
Are there any resources that might not be freed by taking this approach, even after the JVM shut down (i.e. used ports)?

[2021-07-11 07:33] mthmulders commented on #576
I did a quick & dirty PoC by copying the `CloudEvent` class from the Dapr SDK into my application and making it generic. I declared the `data` instance field as type `T` The default serializer, Jackson, handled that perfectly well, giving me a `CloudEvent<MyPayload>` with access to the deserialized `MyPayload` variable. That is a relatively small change, I believe it doesn't even break backward co

[2021-07-16 18:24] danp11 commented on #575
Hi @artursouza

I/we know you are super busy with the Dapr core development first and foremost.
And maybe it is vacation times in the US aswell, so please don't get me wrong.

But I do believe that for the Java SDK to be successful, there should me more maintainers
of this SDK so we can have a quite active discussion on the issues. Just my two cents and I hope
you can forward this to "the ones tha

[2021-07-16 18:29] danp11 commented on #576
Hi, Im also very inerested in this :-) I dont have much experience in developing distributed system but hope I can help with something going forward. @artursouza  please see https://github.com/dapr/java-sdk/issues/575#issuecomment-881635284

Thanks.

[2021-07-18 09:47] paulyuk opened #579 "DaprDocs landing page for Java SDK"
## Describe the proposal
Today the Dapr SDKs page shows Java, but it is one of the only language SDKs without docs and code examples in docs.

The proposal is to create another submodule for java-sdk docs.  Ensure this includes high quality code examples.

[2021-07-23 17:14] gboersma opened #582 "Including in Spring Boot project"
Including the java-sdk as a dependency for a Spring Boot project builds properly, but results in a "NoSuchMethodError: Companion" exception at run-time when initializing an instance of the DaprHttp.

From investigation, it appears that this has to do with the okhttp library and version mismatches:

Without Spring Boot:
[code]

With Spring Boot:
[code]

Adding this explicit dependency to the POM fi

[2021-07-25 13:52] mthmulders commented on #582
Duplicate of https://github.com/dapr/java-sdk/issues/515. You can work-around this by changing the Spring Boot version to one that uses a compatible OkHTTP version, or force a compatible OkHttp version in your project by adding the following dependency:

[code]

[2021-07-26 20:23] #579 closed

[2021-07-27 19:17] gboersma opened #587 "Package setters on SDK Request classes"
It should be possible to create an instance of a request class, e.g. the `InvokeMethodRequest` class, set the parameters on it, and then call ```<T> Mono<T> invokeMethod(InvokeMethodRequest invokeMethodRequest, TypeRef<T> type);``` on `DaprClient`. However, the setters defined on `InvokeMethodRequest` are package scope, so they cannot be called. The setters should have public scope, or there shoul

[2021-07-28 08:54] LaurenceLiZhixin opened #588 "Java SDK 1.1.0 imports unexist pkg"
## Expected Behavior

## Actual Behavior

import io.dapr.v1.DaprGrpc;
can't find package
![图片](https://user-images.githubusercontent.com/45508533/127294071-b2416a71-c763-4608-ae7b-2dc057697244.png)

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-07-28 18:23] artursouza commented on #588
This is auto-generated by the sdk-autogen package. Please, build locally with `mvn install` first.

[2021-07-28 18:23] #588 closed

[2021-07-28 18:30] artursouza commented on #587
I agree to make this change and deprecate (not remove) the model builder classes as per the Azure SDK guidelines: https://azure.github.io/azure-sdk/java_introduction.html#java-models-builder

I will accept a PR addressing this.

[2021-07-28 18:44] artursouza commented on #582
We had a note on this in the README.md file. Please, add it again.

[2021-07-28 18:45] artursouza commented on #577
Can you show the commands you are using and what is the log output for app and sidecar?

[2021-07-28 18:48] artursouza commented on #565
Please, use K8s for running Dapr sidecar as a container. We do not recommend using sidecar built into the app's Docker image since it does not have the orchestration provided by Dapr's control plane in K8s (components, service discovery, mTLS, etc).

[2021-07-28 19:51] mthmulders commented on #582
To add a bit more detail regarding your first question: I believe the OkHttp dependency that you see when you do have Spring Boot is "managed" by the Spring Boot "Bill of Materials".

[2021-07-29 03:00] LaurenceLiZhixin commented on #588
The problem is that I use M1 chip arm64 arch and can't use mvn plugin to compile proto.

[2021-07-29 17:01] artursouza commented on #576
Please, send this PR. I am happy to take that in. Just keep in mind that changes must be backwards compatible.

[2021-08-04 03:51] darren-wang commented on #563
that's what confusing me too. i guess the only way to find it out is to read the source codes.

[2021-08-10 18:50] rovangju opened #592 "Latest dependency version in Maven Central is 1.2.0-rc1"
## Expected Behavior

See the latest and greatest in maven central, including officially cut 1.2.0 release

## Actual Behavior

Only see the 1.2.0-rc1 version of the Dapr Java SDK dependencies as the 'latest'

## Steps to Reproduce the Problem

Take a lookskie: https://search.maven.org/artifact/io.dapr/dapr-sdk-springboot

[2021-08-13 01:59] znzn007007 opened #593 "[Integration test] Can not run in IDEA"
# Describe Question
When I run `io.dapr.it.methodinvoke.http.MethodInvokeIT`.
It shows
![image](https://user-images.githubusercontent.com/46895412/129294833-93798f07-7bff-42ff-8163-3500102b8918.png)

# Environment
JAVA:11.0.11.hs-adpt
OS:Ubuntu 20.04.2 LTS
MAVEN:3.8.3(using sdkman)

[2021-08-13 19:36] artursouza opened #594 "Allow development with JDK 16 + add build with multiple JDK versions"
## Describe the proposal

Running unit tests with JDK 16 fails. We should make it pass with JDK 16.

Action items:
+ Fix code to allow unit tests to run with JDK 16
+ Change Dapr Build to run against multiple JDKs: 11, 13, 15, 16

[code]

[2021-08-13 20:52] #576 closed

[2021-08-13 20:53] artursouza commented on #592
Thanks for the reminder. We found that the build has a flaky test and did not get published. It is fixed now.

[2021-08-13 20:53] #592 closed

[2021-08-16 12:53] leonids2005 commented on #543
Will other SDK be supported? .NET in particular?

[2021-08-16 22:04] CodeMonkeyLeet opened #597 "Support taking an ObjectSerializer as well on pubsub message handling"
## Describe the proposal

Porting a suggestion from user bencod#6730 in Dapr Discord:

[2021-08-17 00:11] CodeMonkeyLeet commented on #543
@leonids2005 Consider creating an issue in dapr/dotnet-sdk for tracking a similar feature if you're interested, I believe these requests are being tracked on a per SDK basis as they have different maintainers.

[2021-08-18 21:22] TomCools commented on #593
Your output states:

`exec: "mvn": executable file not found in $PATH`

You most likely still need to add Maven to your path manually.
I would expect sdkman to have done that for you (at least, if you have execute the 'sdk default maven 3.8.3' command), but that's where I'd check first.

[2021-08-19 06:17] mthmulders opened #599 "Fix some warnings in Maven project"
When building with Maven 3.8.1, the build outputs a few warnings:

[code]

The first warning (about duplicate dependencies) will indeed break with the upcoming release of Maven 4:
[code]

The other ones (about missing versions for certain plugins) would be good to address anyway, as they make the build outcome dependent of the exact version of Maven that is in use.

My proposal is to improve the p

[2021-08-19 07:56] znzn007007 commented on #593
It can work properly when I select this, thanks for helping
![image](https://user-images.githubusercontent.com/46895412/130030314-309e0f34-cd5e-46f3-bf1c-3d4164684999.png)

[2021-08-19 08:24] TomCools commented on #569
I'll give this a shot. Expect a Pull Request soon.

[2021-08-19 23:56] CodeMonkeyLeet commented on #599
@mthmulders thanks for capturing this in an issue!

@artursouza good first issue perhaps?

[2021-08-20 00:16] artursouza commented on #597
CloudEvent is a JSOn object in Dapr. So, this feature would only be applicable for the `data` part of the pubsub event.

[2021-08-20 00:44] daixiang0 opened #600 "Support domain socket"
## Describe the proposal

Ref https://github.com/dapr/dapr/issues/2864

## Release Note

RELEASE NOTE: **ADD** support domain socket.

[2021-08-20 02:05] #593 closed

[2021-08-20 21:54] #587 closed

[2021-08-20 21:55] artursouza opened #601 "Remove deprecated builder classes"
Remove all builder classes marked as `@Deprecated` in 1.3. This issue must be part of 1.5 (not before) based on our deprecation policy in Dapr.

[2021-08-20 21:56] artursouza commented on #587
Issue to remove Builder classes in 1.5: https://github.com/dapr/java-sdk/issues/601

[2021-08-20 22:02] artursouza opened #602 "Add a new integration test to validate that the built jars are compatible with Java 8."
## Describe the proposal

Create a new project (pom) that is written in Java 8 and consumes the build artifact from the SDK (like sdk-tests does) and show that the .jar is compatible with Java 8 applications.

[2021-08-20 22:07] artursouza opened #603 "Add auto-merge bot"
## Describe the proposal

Other dapr repositories now have auto-merge bot, which will merge PRs that have passed every validation, approved by maintainer and labeled with `auto-merge`. If PR needs to be updated from master branch, bot will also do so and wait for the validation to complete again.

The work is basically to copy and paste what was done in dapr/dapr - this repo should already have ac

[2021-08-20 23:25] artursouza commented on #543
These issues are per SDK based on what is idiomatic per language. @leonids2005 Please, create an issue in the .Net SDK is you think there is a need for the same there.

[2021-08-21 01:27] artursouza commented on #543
Hi @javageek79 ,

I have created a pull request to address your ask to make mocking easier for ActorClient. See PR how it can be used: https://github.com/dapr/java-sdk/pull/606/commits/4a47177005f7e93758f2f7f7d95c0db0f50e9876#diff-e59f8f865998bb2c375fe9e23fd64df4fb3b0c9b2b89e0e5926cbcb423e19b2a

The actor’s DaprClient interface does not need to be mocked since ActorClient should be the only class

[2021-08-21 01:27] #603 closed

[2021-08-21 01:50] artursouza commented on #603
@TomCools Please, comment with /assign to get this issue assigned to you.

[2021-08-21 01:51] artursouza commented on #599
@TomCools Please, comment with /assign to have this issue assigned to you.

[2021-08-21 02:07] #599 closed

[2021-08-23 20:10] TomCools commented on #569
/assign

[2021-08-24 22:12] #582 closed

[2021-08-24 22:23] artursouza opened #608 "Remove dependency on jcenter"
## Expected Behavior

JCenter is being shut down, so we should depend on another public mirror: https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

## Actual Behavior

SDk build depends on a public mirror reaching end of life.

## Steps to Reproduce the Problem

See notice: https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

## Release No

[2021-08-25 06:28] mthmulders commented on #608
What exactly do we use JCenter for? I believe all released versions of the Dapr SDK for Java are already published to Maven Central...

[2021-08-30 22:32] #594 closed

[2021-08-30 22:34] artursouza commented on #594
@mthmulders Please, comment with `/assign` to get this assigned to you.

[2021-08-31 06:41] mthmulders commented on #594
/assign

[2021-08-31 07:06] mthmulders commented on #594
I'm afraid `/assign` didn't do the trick, so I'll manually assign to myself.

[2021-08-31 07:06] mthmulders commented on #594
... if only I could :-(

[2021-09-01 03:28] tiankanghello opened #612 "io.dapr.exceptions.DaprException: UNAVAILABLE: io exception"
When I use dapr's sub / pub to publish a topic, I fail. I don't know why I report an error. The specific information of the error is

java.net.ConnectException: Connection refused
	at sun.nio.ch.SocketChannelImpl.checkConnect(Native Method) ~[na:1.8.0_281]
	at sun.nio.ch.SocketChannelImpl.finishConnect(SocketChannelImpl.java:715) ~[na:1.8.0_281]
	at io.grpc.netty.shaded.io.netty.channel.socket.nio

[2021-09-01 05:18] mthmulders commented on #612
My first guess would be that the application fails to connect to the Dapr sidecar. Are you sure you have a Dapr sidecar running? How did you start your application?

[2021-09-01 06:06] tiankanghello commented on #612
I rechecked my configuration. It's true that I didn't connect to dapr, but after I connected to dapr, I reported another problem when publishing the theme,
Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception [Request processing failed; nested exception is io.dapr.exceptions.DaprException: INVALID_ARGUMENT: pubsub create not found] with root cause

io.grpc.Stat

[2021-09-01 06:22] mthmulders commented on #612
I guess that the code wants to use a pub/sub that is not there. Could you please show the code that you use to publish the event, as well as the Dapr component configuration you're using?

[2021-09-01 07:27] tiankanghello commented on #612
I have solved this problem. Thank you very much for your answer. When publishing and subscribing, the published pubsubname must be the metadata name we started the dapr component. Just keep the two consistent.
If I use two pubsubnames, should I start two pub / sub components

[2021-09-01 07:36] #612 closed

[2021-09-01 07:50] mthmulders commented on #612
/assign

[2021-09-01 07:51] mthmulders commented on #594
@artursouza It seems the `/assign` never does the trick, but I can't assign issues to myself either. Is there some kind of bot that's supposed to take care of it maybe?

[2021-09-02 12:15] tiankanghello opened #613 "How to get the returned content after grpc Invoke"
when I invoke dapr grpc service ,In the example, I don't see how to get the returned content after the , and whether the invoke is successful or not

[2021-09-03 03:19] tiankanghello opened #614 "io.dapr.exceptions.DaprException: UNKNOWN: Exception calling application: 'str' object has no attribute 'get'"
The grpc service can be invoked, and the response returns an error，and error is:
Exception in thread "main" io.dapr.exceptions.DaprException: UNKNOWN: Exception calling application: 'str' object has no attribute 'get'
	at io.dapr.client.DaprHttp$ResponseFutureCallback.onResponse(DaprHttp.java:350)
	at okhttp3.internal.connection.RealCall$AsyncCall.run(RealCall.kt:519)
	at java.util.concurrent.Thre

[2021-09-03 23:26] artursouza commented on #594
We have this bot in most repos, but not in this one yet. I am manually assigning. Regardless, GitHub only allows issues to be assigned if the user has interacted with the issue or is part of the org.

[2021-09-06 12:12] drishtirai opened #615 "java-sdk"
## Describe the proposal
currently, there are Zowe Client SDKs for Node, Python, and Swift. This proposal is for the development of a Java Client SDK. A Java Client SDK would:

Expand the development community potential to build apps/scripts on Zowe SDKs.
Provide a foundation upon which an IntelliJ IDEA Zowe plug-in could be developed. This is another OMP Mentorship Project Proposal. If both proje

[2021-09-06 12:13] drishtirai opened #616 "java-sdk"
## Describe the proposal
currently, there are Zowe Client SDKs for Node, Python, and Swift. This proposal is for the development of a Java Client SDK. A Java Client SDK would:

Expand the development community potential to build apps/scripts on Zowe SDKs.
Provide a foundation upon which an IntelliJ IDEA Zowe plug-in could be developed. This is another OMP Mentorship Project Proposal. If both proje

[2021-09-06 12:14] drishtirai opened #617 "java-sdk"
## Describe the proposal
currently, there are Zowe Client SDKs for Node, Python, and Swift. This proposal is for the development of a Java Client SDK. A Java Client SDK would:

Expand the development community's potential to build apps/scripts on Zowe SDKs.
Provide a foundation upon which an IntelliJ IDEA Zowe plug-in could be developed. This is another OMP Mentorship Project Proposal. If both pro

[2021-09-06 12:15] drishtirai opened #618 "java-sdk"
## Describe the proposal
Expand the development community potential to build apps/scripts on Zowe SDKs.
Provide a foundation upon which an IntelliJ IDEA Zowe plug-in could be developed. This is another OMP Mentorship Project Proposal. If both projects are of interest, perhaps multiple mentees could team up.

[2021-09-06 18:10] drishtirai opened #619 "java-sdk"
## Describe the proposal
Develop and publish a new Maven artifact that allows application developers to easily write integration and end-to-end testing with Dapr. Ideally, supporting both standalone and K8s environments.